/* [ variable ]
-------------------------------------------------*/
/* element */
/* font */
/* [ font style ]
-------------------------------------------------*/
@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff"); }
/* [ opacity ]
-------------------------------------------------*/
/* [ display style ]
-------------------------------------------------*/
/* [ easing style ]
-------------------------------------------------*/
/* [ Hover Motion style ]
-------------------------------------------------*/
/* [ icon style ]
-------------------------------------------------*/
/* [ form parts ]
-------------------------------------------------*/
/* #header
-------------------------------------------------- */
#header {
  background: #000;
  padding: 28px;
  position: relative;
  /* p{
  	text-align: center;
  } */ }
  #header h1, #header h2 {
    position: relative;
    z-index: 10; }
  #header h1 {
    position: absolute;
    top: -34px;
    left: 28px;
    /* @include opacity(0);
    @include easing-out(0.4);
    &.show{
    	@include opacity(100);
    	top: 28px;
    } */ }
  #header h2.copy {
    position: absolute;
    z-index: 10;
    width: 600px;
    height: 70px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    #header h2.copy span {
      position: relative;
      opacity: 0;
      margin-left: 3px;
      display: inline-block; }
  #header #bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-image: url("http://static.vermicular.jp/www/img/top/kv/bg_main01.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */ }
    #header #bg.slide02 {
      background-image: url("http://static.vermicular.jp/www/img/top/kv/bg_main02.jpg"); }
    #header #bg.slide03 {
      background-image: url("http://static.vermicular.jp/www/img/top/kv/bg_main03.jpg"); }
    #header #bg.slide06 {
      background-image: url("../img/top/kv/bg_main06.jpg"); }
    #header #bg.show {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      -webkit-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
      opacity: 1; }
  #header #scroll_down {
    width: 36px;
    height: 41px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -18px;
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 0; }
    #header #scroll_down div {
      line-height: 1; }
    #header #scroll_down .text {
      margin-bottom: 12px; }
    #header #scroll_down .arrow {
      position: relative; }

.portrait #header {
  height: 1000px !important; }

/* #pickup
-------------------------------------------------- */
#pickup {
  margin-bottom: 95px; }
  #pickup li {
    float: left;
    margin-right: 21px;
    position: relative; }
    #pickup li:last-child {
      margin-right: 0; }
    #pickup li a {
      display: block;
      overflow: hidden;
      position: relative; }
      #pickup li a:after {
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: -100%;
        left: 0;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 0;
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0); }
      #pickup li a:hover:after {
        top: 0;
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 1;
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1); }
    #pickup li.new:before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      left: -14px;
      top: -23px;
      background: url("../common/img/icon_new_circle.png") center center no-repeat;
      z-index: 2; }

/* #lineup
-------------------------------------------------- */
#lineup {
  margin-bottom: 55px; }
  #lineup > ul > li {
    float: left;
    margin-left: 20px;
    margin-bottom: 45px;
    text-align: center; }
    #lineup > ul > li h2 {
      margin: 18px 0 14px; }
    #lineup > ul > li dl dd {
      text-align: center; }
    #lineup > ul > li p span {
      margin-bottom: 4px;
      font-size: 16px;
      display: block; }
    #lineup > ul > li a {
      display: block;
      overflow: hidden;
      position: relative; }
      #lineup > ul > li a:after {
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: -100%;
        left: 0;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 0;
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0); }
      #lineup > ul > li a:hover:after {
        top: 0;
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 1;
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1); }
  #lineup > ul #lineup01,
  #lineup > ul #lineup02 {
    width: 590px; }
    #lineup > ul #lineup01 dl dt,
    #lineup > ul #lineup02 dl dt {
      margin-top: 23px;
      margin-bottom: 16px; }
  #lineup > ul #lineup03 dl dt,
  #lineup > ul #lineup04 dl dt,
  #lineup > ul #lineup05 dl dt {
    margin-top: 16px;
    margin-bottom: 12px; }
  #lineup > ul #lineup01,
  #lineup > ul #lineup03 {
    margin-left: 0; }

/* #reason
-------------------------------------------------- */
#reason {
  margin-bottom: 96px; }
  #reason > ul > li {
    width: 386px;
    margin-left: 21px;
    float: left;
    text-align: center; }
    #reason > ul > li h2 {
      margin-bottom: 15px; }
      #reason > ul > li h2 a {
        display: block;
        overflow: hidden;
        position: relative; }
        #reason > ul > li h2 a:after {
          width: 100%;
          height: 100%;
          display: block;
          content: "";
          background-color: rgba(255, 255, 255, 0.6);
          position: absolute;
          top: -100%;
          left: 0;
          transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
          -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
          -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
          -ms-filter: "alpha(opacity=$num)";
          /* IE8 */
          opacity: 0;
          transform: scale(0);
          -moz-transform: scale(0);
          -webkit-transform: scale(0);
          -ms-transform: scale(0); }
        #reason > ul > li h2 a:hover:after {
          top: 0;
          -ms-filter: "alpha(opacity=$num)";
          /* IE8 */
          opacity: 1;
          transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1); }
    #reason > ul > li ul li {
      margin-bottom: 5px;
      transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      -moz-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      -ms-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      /* &:hover{
      	@include opacity(60);
      	&:after{
      		margin-left: 15px;
      	}
      } */ }
      #reason > ul > li ul li a {
        text-decoration: none; }
        #reason > ul > li ul li a:hover {
          text-decoration: underline; }
      #reason > ul > li ul li:before {
        content: "-";
        display: inline-block;
        margin-right: 5px; }
      #reason > ul > li ul li:after {
        content: "";
        background: url("http://static.vermicular.jp/www/img/top/icon_arrow_reason.png") center center no-repeat;
        display: inline-block;
        margin-left: 10px;
        width: 5px;
        height: 9px;
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    #reason > ul > li:first-child {
      margin-left: 0; }

/* #recipe
-------------------------------------------------- */
#recipe {
  padding-bottom: 100px; }
  #recipe #recipe_wrap {
    background: url("../img/top/bg_originalrecipe.jpg") center center no-repeat;
    background-size: cover;
    padding-top: 107px;
    padding-bottom: 226px;
    color: #fff;
    text-align: center; }
    #recipe #recipe_wrap h1 {
      margin-bottom: 20px; }
    #recipe #recipe_wrap p {
      margin-bottom: 38px; }
  #recipe #ranking_wrap {
    background: #fff;
    margin-top: -130px; }
    #recipe #ranking_wrap h2 {
      text-align: center;
      padding: 20px 0; }
    #recipe #ranking_wrap ul {
      width: 1160px;
      margin: 0 auto 20px; }
      #recipe #ranking_wrap ul li {
        width: 185px;
        float: left;
        margin-left: 10px;
        position: relative;
        text-align: center;
        z-index: 1; }
        #recipe #ranking_wrap ul li .photo {
          width: 185px;
          height: 185px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          display: block;
          overflow: hidden;
          position: relative; }
          #recipe #ranking_wrap ul li .photo:after {
            width: 100%;
            height: 100%;
            display: block;
            content: "";
            background-color: rgba(255, 255, 255, 0.6);
            position: absolute;
            top: -100%;
            left: 0;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            -ms-filter: "alpha(opacity=$num)";
            /* IE8 */
            opacity: 0;
            transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            -ms-transform: scale(0); }
          #recipe #ranking_wrap ul li .photo:hover:after {
            top: 0;
            -ms-filter: "alpha(opacity=$num)";
            /* IE8 */
            opacity: 1;
            transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1); }
        #recipe #ranking_wrap ul li p {
          margin-top: 13px; }
        #recipe #ranking_wrap ul li:first-child {
          margin-left: 0; }
        #recipe #ranking_wrap ul li:before {
          content: "";
          display: block;
          position: absolute;
          width: 40px;
          height: 40px;
          left: 6px;
          top: -14px;
          z-index: 10; }
        #recipe #ranking_wrap ul li img {
          position: relative;
          z-index: -1; }
      #recipe #ranking_wrap ul #rank01:before {
        background: url("http://static.vermicular.jp/www/img/top/icon_ranking01.png") center center no-repeat; }
      #recipe #ranking_wrap ul #rank02:before {
        background: url("http://static.vermicular.jp/www/img/top/icon_ranking02.png") center center no-repeat; }
      #recipe #ranking_wrap ul #rank03:before {
        background: url("http://static.vermicular.jp/www/img/top/icon_ranking03.png") center center no-repeat; }
      #recipe #ranking_wrap ul #rank04:before {
        background: url("http://static.vermicular.jp/www/img/top/icon_ranking04.png") center center no-repeat; }
      #recipe #ranking_wrap ul #rank05:before {
        background: url("http://static.vermicular.jp/www/img/top/icon_ranking05.png") center center no-repeat; }
      #recipe #ranking_wrap ul #rank06:before {
        background: url("http://static.vermicular.jp/www/img/top/icon_ranking06.png") center center no-repeat; }

/* #support
-------------------------------------------------- */
#support {
  padding: 0 0 100px; }
  #support h1 {
    margin-bottom: 30px; }
  #support ul {
    margin-bottom: 40px;
    border-bottom: 1px solid #dedede;
    position: relative; }
    #support ul:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 30px;
      width: 1px;
      height: 110px;
      background: #dedede; }
    #support ul li {
      width: 530px;
      background: #fff;
      padding: 27px 40px;
      box-sizing: border-box;
      float: right; }
      #support ul li:first-child {
        float: left; }
      #support ul li dl dt {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 8px; }
      #support ul li dl dd {
        text-align: center; }
        #support ul li dl dd .contact_text {
          margin-top: 8px; }
          #support ul li dl dd .contact_text img {
            vertical-align: sub;
            position: relative;
            margin-right: 3px; }
        #support ul li dl dd .tel_text {
          font-weight: bold;
          font-size: 24px;
          vertical-align: middle; }
        #support ul li dl dd .month {
          font-size: 12px; }
  #support > p {
    margin-bottom: 40px; }

/* #news
-------------------------------------------------- */
#news {
  padding-bottom: 100px; }
  #news h1 {
    margin-bottom: 38px; }
  #news nav {
    width: 400px;
    margin: 0 auto 40px; }
    #news nav ul {
      border: 1px solid #222426; }
      #news nav ul li {
        width: 199px;
        height: 38px;
        padding-top: 10px;
        float: left;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        overflow: hidden;
        text-indent: -9999px;
        background: url("http://static.vermicular.jp/www/img/top/btn_news_black.png") center center no-repeat; }
        #news nav ul li h2 {
          margin-bottom: 12px; }
        #news nav ul li:first-child {
          margin-left: 0; }
        #news nav ul li.active {
          background: url("http://static.vermicular.jp/www/img/top/btn_news_white.png") center center no-repeat #222426; }
        #news nav ul li:first-child {
          background: url("http://static.vermicular.jp/www/img/top/btn_media_black.png") center center no-repeat; }
          #news nav ul li:first-child.active {
            background: url("http://static.vermicular.jp/www/img/top/btn_media_white.png") center center no-repeat #222426; }
  #news .news_wrap {
    border-top: 1px solid #dedede;
    margin-bottom: 24px; }
    #news .news_wrap .box_link {
      transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      -moz-transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      -webkit-transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      -ms-transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1); }
      #news .news_wrap .box_link:hover {
        background-color: #efefef; }
    #news .news_wrap > div {
      display: none; }
    #news .news_wrap > div.active {
      display: block; }
    #news .news_wrap article {
      border-bottom: 1px solid #dedede;
      display: table;
      width: 100%; }
      #news .news_wrap article time {
        font-weight: bold;
        padding-left: 10px;
        padding-right: 26px;
        width: 85px; }
      #news .news_wrap article time, #news .news_wrap article p {
        display: table-cell;
        padding-top: 20px;
        padding-bottom: 18px; }
        #news .news_wrap article time a, #news .news_wrap article p a {
          text-decoration: none; }
      #news .news_wrap article.new p:after {
        content: "";
        display: inline-block;
        width: 41px;
        height: 20px;
        background: url("../common/img/icon_new_square.png") center center no-repeat;
        vertical-align: middle;
        margin-left: 10px; }

/* #footer_banner_wrap
-------------------------------------------------- */
#footer_banner_wrap {
  margin-bottom: 130px; }
  #footer_banner_wrap li {
    float: left;
    margin-left: 21px; }
    #footer_banner_wrap li:first-child {
      margin-left: 0; }
    #footer_banner_wrap li a {
      display: block;
      overflow: hidden;
      position: relative; }
      #footer_banner_wrap li a:after {
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: -100%;
        left: 0;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 0;
        transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0); }
      #footer_banner_wrap li a:hover:after {
        top: 0;
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 1;
        transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1); }

/* #online_btn
-------------------------------------------------- */
#online_btn {
  position: fixed;
  right: -200px;
  bottom: 94px;
  transform: scale(0.7);
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 0;
  z-index: 50; }
  #online_btn.show {
    right: 20px;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 1;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  #online_btn:hover {
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 0.6; }
  #online_btn.always {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 1; }

/* #page_top
-------------------------------------------------- */
#page_top.show {
  right: 62px; }
