@charset "utf-8";@font-face{font-family:'Avenir Next LT Pro Demi';font-style:normal;font-weight:normal;src:local("Avenir Next LT Pro Demi"),url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff")}@font-face{font-family:'Avenir Next LT Pro Regular';font-style:normal;font-weight:normal;src:local("Avenir Next LT Pro Regular"),url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff")}.banner_section{padding-top:80px;padding-bottom:80px}.banner_section .banner_list li{float:left;margin-right:20px}.banner_section .banner_list li:last-child{margin-right:0}.banner_section .banner_list li dl dt a{display:block;overflow:hidden;position:relative}.banner_section .banner_list li dl dt a:after{width:100%;height:100%;display:block;content:"";background-color:rgba(255,255,255,0.6);position:absolute;top:-100%;left:0;transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-filter:"alpha(opacity=$num)";opacity:0;transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);-ms-transform:scale(0)}.banner_section .banner_list li dl dt a:hover:after{top:0;-ms-filter:"alpha(opacity=$num)";opacity:1;transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1)}.banner_section .banner_list li dl dd{padding-top:12px;text-align:center}

#rpr_header{width:100%;position:absolute;height:50px;z-index:100;top:0;left:0}

#rpr_header #rpr_header_inner{min-width:1100px;padding:0}

#rpr_header #rpr_header_inner #rpr_site_logo{float:left;padding-top:23px;margin-right:50px;padding-left:39px}

#rpr_header #rpr_header_inner #rpr_gnavi{min-width:675px;float:left;padding-top:28px}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li{float:left;margin-right:4.8%}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li:last-child{margin-right:0}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li>a,#rpr_header #rpr_header_inner #rpr_gnavi>ul>li span{display:block;position:relative;padding-bottom:5px;background-position:right 5px}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li>a:after,#rpr_header #rpr_header_inner #rpr_gnavi>ul>li span:after{content:"";display:block;width:0;height:1px;background-color:#fff;position:absolute;left:0;bottom:0;transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-filter:"alpha(opacity=$num)";opacity:0}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li>a:hover:after,#rpr_header #rpr_header_inner #rpr_gnavi>ul>li>a.active:after,#rpr_header #rpr_header_inner #rpr_gnavi>ul>li span:hover:after,#rpr_header #rpr_header_inner #rpr_gnavi>ul>li span.active:after{width:100%;-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_header #rpr_header_inner .sns_list{width:152px;float:right;padding-top:27px;padding-right:39px}

#rpr_header #rpr_header_inner .sns_list li{float:left;margin-right:27px}

#rpr_header #rpr_header_inner .sns_list li:last-child{margin-right:0}

#rpr_header #rpr_header_inner .sns_list li a{display:block;position:relative;padding-bottom:5px}

#rpr_header #rpr_header_inner .sns_list li a:after{content:"";display:block;width:0;height:1px;background-color:#fff;position:absolute;left:0;bottom:0;transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-filter:"alpha(opacity=$num)";opacity:0}

#rpr_header #rpr_header_inner .sns_list li a:hover:after,#rpr_header #rpr_header_inner .sns_list li a.active:after{width:100%;-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_header #rpr_header_inner .btn{float:right;margin-top:21px}

#rpr_header #rpr_header_inner.fixed{padding-bottom:23px}

#rpr_header #rpr_header_inner.fixed #rpr_site_logo a{width:133px;height:25px;background:url("http://www.vermicular.jp/common/img/logo_black.png") no-repeat center center;display:block;overflow:hidden}

#rpr_header #rpr_header_inner.fixed #rpr_site_logo a img{position:relative;top:-500%}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list{margin-right:3.8%}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span{height:22px;padding-bottom:0;vertical-align:top;overflow:hidden;background-size:100% 17px !important}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a:after,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span:after{background-color:#222426}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a.ex_link:before,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span.ex_link:before{width:10px;height:8px;display:block;position:absolute;top:4px;right:0;background:url("http://www.vermicular.jp/common/img/ex_icon_black.png") no-repeat center center;content:""}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a img,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span img{position:relative;top:-500%}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi01>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi01>span{width:109px;background:url("http://www.vermicular.jp/common/img/btn_nav01.png") no-repeat top left}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi02>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi02>span{width:94px;background:url("http://www.vermicular.jp/common/img/btn_nav02.png") no-repeat top left}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi03>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi03>span{width:39px;background:url("http://www.vermicular.jp/common/img/btn_nav03.png") no-repeat top left}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi04>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi04>span{width:92px;background:url("http://www.vermicular.jp/common/img/btn_nav04_02.png") no-repeat top left}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi05>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi05>span{width:111px;background:url("http://www.vermicular.jp/common/img/btn_nav05.png") no-repeat top left;background-size:111px 17px !important}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi06>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi06>span{width:52px;background:url("http://www.vermicular.jp/common/img/btn_nav06.png") no-repeat top left}

#rpr_header #rpr_header_inner.fixed .sns_list li a{width:17px;height:16px;display:block;overflow:hidden}

#rpr_header #rpr_header_inner.fixed .sns_list li a img{position:relative;top:-500%}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns01 a{background:url("http://www.vermicular.jp/common/img/head_sns_icon_black01.png") no-repeat center center}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns02 a{background:url("http://www.vermicular.jp/common/img/head_sns_icon_black02.png") no-repeat center center}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns03 a{background:url("http://www.vermicular.jp/common/img/head_sns_icon_black03.png") no-repeat center center}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns04 a{background:url("http://www.vermicular.jp/common/img/head_sns_icon_black04.png") no-repeat center center}

#rpr_page_title_wrap{height:470px;margin-bottom:80px}

#rpr_page_title_wrap #page_title{padding-top:190px;margin-bottom:30px;text-align:center}

#rpr_page_title_wrap .text{font-size:14px;line-height:2;text-align:center;color:#fff}.rpr_section_wrap{padding-bottom:80px;margin-bottom:80px;border-bottom:1px solid #dedede;padding-top:73px;margin-top:-73px}.rpr_section_wrap:last-child{margin-bottom:40px}.rpr_section_wrap.pb0{padding-bottom:0;border-bottom:0}.rpr_section_wrap .cont_wrap{width:450px;padding-top:10px}.rpr_section_wrap .cont_wrap.w_s{width:380px}.rpr_section_wrap .cont_wrap .rpr_section_title{margin-bottom:20px}.rpr_section_wrap .cont_wrap .text{font-size:13px;line-height:2;margin-bottom:40px}.rpr_section_wrap .cont_wrap .video_wrap{position:relative}.rpr_section_wrap .cont_wrap .video_wrap .thum{margin-right:20px}.rpr_section_wrap .cont_wrap .video_wrap .thum a{display:block}.rpr_section_wrap .cont_wrap .video_wrap .text_wrap{position:absolute;left:220px;bottom:0}.rpr_section_wrap .cont_wrap .video_wrap .text_wrap dt{display:inline-block;padding-bottom:5px;border-bottom:2px solid #222426;margin-bottom:10px}.rpr_section_wrap .cont_wrap .btn{margin-left:0}.rpr_back_to_top{margin-bottom:80px}.device_pc #rpr_top #kv_wrap{transition:all 0.8s ease-in-out;-moz-transition:all 0.8s ease-in-out;-webkit-transition:all 0.8s ease-in-out;-ms-transition:all 0.8s ease-in-out;-ms-filter:"alpha(opacity=$num)";opacity:0;transform:scale(1.05);-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-ms-transform:scale(1.05)}.device_pc #rpr_top #kv_wrap.show{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_top.portrait #kv_wrap{height:1000px !important}

#rpr_top #rpr_header{transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);top:-100px}

#rpr_top #kv_wrap{background:url("http://www.vermicular.jp/img/products/top/kv_bg.jpg") no-repeat center center;background-size:cover;position:relative}

#rpr_top #kv_wrap #kv_inner{width:703px;margin-left:auto;margin-right:auto;position:relative}

#rpr_top #kv_wrap #kv_inner .product_name{margin-bottom:35px}

#rpr_top #kv_wrap #kv_inner .product_name span{display:block;text-align:center;line-height:1}

#rpr_top #kv_wrap #kv_inner .product_name span.en{width:311px;margin:0 auto 10px}

#rpr_top #kv_wrap #kv_inner .product_name span.jp{width:122px;margin:0 auto}

#rpr_top #kv_wrap #kv_inner .copy{text-align:center}

#rpr_top #kv_wrap #kv_inner .copy span{display:inline-block;position:relative;-ms-filter:"alpha(opacity=$num)";opacity:0}

#rpr_top #kv_wrap #scroll_down{width:36px;height:41px;position:absolute;bottom:61px;-ms-filter:"alpha(opacity=$num)";opacity:0}

#rpr_top #kv_wrap #scroll_down div{line-height:1}

#rpr_top #kv_wrap #scroll_down .text{margin-bottom:12px}

#rpr_top #kv_wrap #scroll_down .arrow{position:relative}

#rpr_top #kv_wrap .motion{position:relative;left:-10px;transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-filter:"alpha(opacity=$num)";opacity:0}

#rpr_top #kv_wrap .motion.show{left:0;-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_top #product_lineup{height:550px;background-size:cover}

#rpr_top #product_lineup .inner .title{padding-top:67px;text-align:center;margin-bottom:15px}

#rpr_top #product_lineup .inner .text{text-align:center;margin-bottom:20px}

#rpr_top #product_lineup .inner .variation_wrap{margin-bottom:50px}

#rpr_top #product_lineup .inner .variation_wrap li{display:inline-block;margin-right:41px;float:left;position:relative;overflow:hidden}

#rpr_top #product_lineup .inner .variation_wrap li:last-child{margin-right:0}

#rpr_top #product_lineup .inner .variation_wrap li .photo{position:absolute;top:0;left:0;transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1)}

#rpr_top #product_lineup .inner .variation_wrap li .name{position:relative;z-index:1}

#rpr_top #product_lineup .inner .variation_wrap li .name a,#rpr_top #product_lineup .inner .variation_wrap li .name span{padding-top:185px;display:block}

#rpr_top #product_lineup .inner .variation_wrap li:after{width:100%;height:100%;content:"";position:absolute;background:url("http://www.vermicular.jp/common/img/ex_icon_black.png") center center no-repeat;top:0;left:0;transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);-ms-filter:"alpha(opacity=$num)";opacity:0}

#rpr_top #product_lineup .inner .variation_wrap li.hover .photo{-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_top #product_lineup .inner .variation_wrap li.hover:hover .photo{transform:scale(0.8);-moz-transform:scale(0.8);-webkit-transform:scale(0.8);-ms-transform:scale(0.8);-ms-filter:"alpha(opacity=$num)";opacity:0.4}

#rpr_top #product_lineup .inner .variation_wrap li.hover:hover:after{-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_top .bg_section{background-size:cover !important}

#rpr_top .bg_section .inner{height:500px}

#rpr_top .bg_section .inner *{color:#fff}

#rpr_top .bg_section .inner .copy{margin-bottom:25px}

#rpr_top .bg_section .inner .text{margin-bottom:25px;font-size:13px;line-height:2}

#rpr_top .bg_section .inner .link a{position:relative;padding-bottom:5px}

#rpr_top .bg_section .inner .link a:after{content:"";display:block;width:0;height:1px;background-color:#fff;position:absolute;left:0;bottom:0;transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-filter:"alpha(opacity=$num)";opacity:0}

#rpr_top .bg_section .inner .link a:hover:after,#rpr_top .bg_section .inner .link a.active:after{width:100%;-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_top .bg_section#section_wrap01{background:url("http://www.vermicular.jp/img/products/top/section_bg01.jpg") no-repeat center center}

#rpr_top .bg_section#section_wrap01 .text_wrap{float:right;padding-right:50px;padding-top:145px}

#rpr_top .bg_section#section_wrap02{background:url("http://www.vermicular.jp/img/products/top/section_bg02.jpg") no-repeat center center}

#rpr_top .bg_section#section_wrap02 .text_wrap{float:left;padding-left:50px;padding-top:144px}

#rpr_top .bg_section#section_wrap03{background:url("http://www.vermicular.jp/img/products/top/section_bg03.jpg") no-repeat center center}

#rpr_top .bg_section#section_wrap03 .text_wrap{float:right;padding-right:50px;padding-top:99px}

#rpr_top .bg_section#section_wrap04{background:url("http://www.vermicular.jp/img/products/top/section_bg04.jpg") no-repeat center center}

#rpr_top .bg_section#section_wrap04 .text_wrap{float:left;padding-left:50px;padding-top:113px}

#rpr_top .bg_section#section_wrap05{background:url("http://www.vermicular.jp/img/products/top/section_bg05.jpg") no-repeat center center}

#rpr_top .bg_section#section_wrap05 .text_wrap{float:left;padding-left:50px;padding-top:170px}

#rpr_about_whatis #rpr_page_title_wrap{background:url("http://www.vermicular.jp/img/about/whatis/kv_bg.jpg") no-repeat center center;background-size:cover}

#rpr_about_whatis #section01 .cont_wrap{padding-top:10px}

#rpr_about_whatis #section02 .cont_wrap{padding-top:32px}

#rpr_about_whatis #section03 .cont_wrap{padding-top:57px}

#rpr_about_whatis .slider_wrap{width:482px;background-color:#f2f2f2;padding:20px 42px 55px 57px}

#rpr_about_whatis .slider_wrap .slider li .title{margin-bottom:20px}

#rpr_about_whatis .slider_wrap .bx-controls .bx-pager{top:335px}

#rpr_about_whatis .slider_wrap .bx-controls .bx-controls-direction .bx-prev,#rpr_about_whatis .slider_wrap .bx-controls .bx-controls-direction .bx-next{width:45px;height:45px;top:120px}

#rpr_about_whatis .slider_wrap .bx-controls .bx-controls-direction .bx-prev{background:url("../img/about/whatis/slide_arrow_left.png") no-repeat center center;left:-75px}

#rpr_about_whatis .slider_wrap .bx-controls .bx-controls-direction .bx-next{background:url("../img/about/whatis/slide_arrow_right.png") no-repeat center center;right:-60px}

#rpr_about_teshigoto #rpr_page_title_wrap{background:url("../img/about/teshigoto/kv_bg.jpg") no-repeat center center;background-size:cover}

#rpr_about_teshigoto #technology_detail_wrap{padding-bottom:79px;margin-bottom:80px;border-bottom:1px solid #dedede}

#rpr_about_teshigoto #technology_detail_wrap .main_video{width:854px;height:480px;margin:0 auto 40px}

#rpr_about_teshigoto #technology_detail_wrap .name{text-align:center;margin:0 0 40px}

#rpr_about_teshigoto #technology_detail_wrap .copy{text-align:center;margin:0 0 30px}

#rpr_about_teshigoto #technology_detail_wrap .point_list{margin-bottom:65px}

#rpr_about_teshigoto #technology_detail_wrap .point_list li{width:340px;float:left;margin-right:30px}

#rpr_about_teshigoto #technology_detail_wrap .point_list li:last-child{margin-right:0}

#rpr_about_teshigoto #technology_detail_wrap .point_list li .title{margin-bottom:15px}

#rpr_about_teshigoto .banner_wrap{margin-top:40px;padding:20px 0;background-color:#ededed}

#rpr_about_teshigoto .banner_wrap p{width:540px;margin:0 auto;display:block}

#rpr_about_teshigoto .banner_wrap p a{overflow:hidden;position:relative;display:block}

#rpr_about_teshigoto .banner_wrap p a:after{width:100%;height:100%;display:block;content:"";background-color:rgba(255,255,255,0.6);position:absolute;top:-100%;left:0;transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-filter:"alpha(opacity=$num)";opacity:0;transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);-ms-transform:scale(0)}

#rpr_about_teshigoto .banner_wrap p a:hover:after{top:0;-ms-filter:"alpha(opacity=$num)";opacity:1;transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1)}

#rpr_about_teshigoto #made_in_jp .photo_wrap{width:640px;height:360px}

#rpr_about_teshigoto #biutiful_wrap{height:450px;background:url("../img/about/teshigoto/section02_bg.jpg") no-repeat center center;background-size:cover;margin-bottom:80px}

#rpr_about_teshigoto #biutiful_wrap .inner_min{position:relative}

#rpr_about_teshigoto #biutiful_wrap .text_wrap{position:absolute;top:160px;left:110px}

#rpr_about_teshigoto #biutiful_wrap .text_wrap h1{margin-bottom:15px}

#rpr_about_teshigoto #biutiful_wrap .text_wrap .text{line-height:2}

#rpr_about_teshigoto #section03 .photo_wrap{margin-right:60px}

#rpr_about_teshigoto #section03 .cont_wrap{padding-top:110px}

#rpr_support #rpr_page_title_wrap{background:url("../img/support/kv_bg.jpg") no-repeat center center;background-size:cover}

#rpr_support #section01 .cont_wrap{margin-top:-20px}

#rpr_support #section03 .cont_wrap{margin-top:10px}

#rpr_support .rpr_section_wrap h1{margin-bottom:15px}

#rpr_support .rpr_section_wrap .title{margin-bottom:20px}

#rpr_support .rpr_section_wrap .btn{margin-left:0;margin-right:0}

#rpr_support .rpr_section_wrap .policy_wrap{margin-top:-10px;border-top:1px solid #dedede}

#rpr_support .rpr_section_wrap .policy_wrap h2{margin:32px 0 20px}

#rpr_support .rpr_section_wrap .policy_wrap ul li{margin-bottom:18px}

#rpr_support .rpr_section_wrap .policy_wrap ul li:before{content:"一、";display:table-cell}

#rpr_support .rpr_section_wrap .policy_wrap ul li span{display:table-cell}

#rpr_support .rpr_section_wrap .contact_wrap{margin-top:25px;padding:10px 22px}

#rpr_support .rpr_section_wrap .contact_wrap dt,#rpr_support .rpr_section_wrap .contact_wrap dd{display:table-cell;vertical-align:middle}

#rpr_support .rpr_section_wrap .contact_wrap dt{font-weight:bold;padding-right:20px;border-right:1px solid #dedede;white-space:nowrap}

#rpr_support .rpr_section_wrap .contact_wrap dd{padding:7px 20px 5px}

#rpr_support .rpr_section_wrap .contact_wrap dd .tel_text{font-weight:bold;font-size:25px;line-height:1;vertical-align:middle;margin-left:5px}

#rpr_support .rpr_section_wrap .contact_wrap dd .month{font-size:11px;margin-left:32px}

#footer{border-top:0}
