@charset "utf-8";

$smp-min:  "only screen and (max-width:320px)";
$smp:  "only screen and (max-width:750px)";
$smp-lage:  "only screen and (max-width:750px) and (min-width:400px)";
$pc-small:  "only screen and (max-width:1150px)";
$pc-medium:  "only screen and (max-width:1400px)";
$pc-all:  "only screen and (min-width:751px)";


/* [ variable ]
-------------------------------------------------*/

/* element */
$key-color:#6e5c35;

$border-color:#dedede;

$cvr-bg-color:#ebeae8;

/* font */
$active-color:#6e5c35;


/* [ font style ]
-------------------------------------------------*/

@font-face {
	font-family: 'Avenir Next LT Pro Demi';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Demi'), url('/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next LT Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Regular'), url('/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff') format('woff');
}

@mixin size($size){
	font-size: $size + px;
}

@mixin text-hide{
	overflow: hidden;
	text-indent: -9999px;
}

@mixin google-fonts-open-sans{
	font-family: 'Open+Sans', sans-serif;
	font-style: italic;
	letter-spacing: 0.15em;
	font-weight: bold;
}
@mixin avenir{
	font-family: 'Avenir Next LT Pro Demi';
	letter-spacing: 0.1em;
}
@mixin avenir-light{
	font-family: 'Avenir Next LT Pro Regular';
	letter-spacing: 0.1em;
}
@mixin fontfamilly-gothic-italic{
	font-family: 'Noto Sans Japanese',メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, 'ＭＳ Ｐゴシック', 'MS PGothic', Osaka, Verdana, sans-serif;
	font-style: italic;
}
@mixin fontfamily-serif{
	font-family: "游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝B", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
@mixin between-characters($span){
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-indent: $span;
	position: relative;
	left: -$span;
}

/* [ opacity ]
-------------------------------------------------*/
@mixin opacity($num){
	-ms-filter: "alpha(opacity=$num)"; /* IE8 */
	opacity: $num/100;
	//display: inline-block\9;
}

/* [ display style ]
-------------------------------------------------*/
@mixin display-table{
	display: table;
	> *{
		display: table-cell;
		vertical-align: middle;
	}
}
@mixin height-match{
	display: block;
	text-align: center;
	> *{
		vertical-align: middle;
		display: inline-block;
	}
	&:before{
		content:"";
		height: 100%;
		vertical-align: middle;
		width: 0;
		display: inline-block;
	}
}

/* [ easing style ]
-------------------------------------------------*/

@mixin easing($speed){
	transition: all $speed+s ease-in;
	-moz-transition: all $speed+s ease-in;
	-webkit-transition: all $speed+s ease-in;
	-ms-transition: all $speed+s ease-in;
}

@mixin easing-out($speed){
	transition: all $speed+s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all $speed+s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition: all $speed+s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: all $speed+s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin easing-in-out($speed){
	transition: all $speed+s ease-in-out;
	-moz-transition: all $speed+s ease-in-out;
	-webkit-transition: all $speed+s ease-in-out;
	-ms-transition: all $speed+s ease-in-out;
}


@mixin rotate($num){
	transform: rotate($num+deg);
	-ms-transform: rotate($num+deg);
	-moz-transform: rotate($num+deg);
	-webkit-transform: rotate($num+deg);
}

@mixin scale($num){
		transform:scale($num);
		-moz-transform:scale($num);
		-webkit-transform:scale($num);
		-ms-transform:scale($num);
}

@mixin delay($num){
	transition-delay:$num+s;
	-moz-transition-delay:$num+s;
	-webkit-transition-delay:$num+s;
	-o-transition-delay:$num+s;
	-ms-transition-delay:$num+s;
}

@mixin blur($num){
	-webkit-filter: blur($num+px);
	-moz-filter: blur($num+px);
	-ms-filter: blur($num+px);
	-o-filter: blur($num+px);
	filter: blur($num+px);
}


/* [ Hover Motion style ]
-------------------------------------------------*/

@mixin lineHover{
	position: relative;
	padding-bottom: 5px;
	&:after{
		content:"";
		display: block;
		width: 0; height: 1px;
		background-color: #fff;
		position: absolute;
		left: 0; bottom: 0;
		@include easing-out(0.6);
		@include opacity(0);
	}
	&:hover,&.active{
		&:after{
			width: 100%;
			@include opacity(100);
		}
	}
}
@mixin bannerHover{
	overflow: hidden;
	position: relative;
	&:after{
		width: 100%; height: 100%;
		display: block;
		content: "";
		background-color: rgba(255,255,255,0.6);
		position: absolute;
		top: -100%; left: 0;
		@include easing-out(0.6);
		@include opacity(0);
		@include scale(0);
	}
	&:hover{
		&:after{
			top: 0;
			@include opacity(100);
			@include scale(1);
		}
	}
}

@mixin rotateHover($num){
	-moz-transform:rotateY(0) rotateX(0) rotateZ(0);
	-webkit-transform:rotateY(0) rotateX(0) rotateZ(0);
	-o-transform:rotateY(0) rotateX(0) rotateZ(0);
	-ms-transform:rotateY(0) rotateX(0) rotateZ(0);
	@include easing($num);
	&:hover{
		-moz-transform:rotateY(-180deg) rotateX(-180deg) rotateZ(-180deg);
		-webkit-transform:rotateY(-180deg) rotateX(-180deg) rotateZ(-180deg);
		-o-transform:rotateY(-180deg) rotateX(-180deg) rotateZ(-180deg);
		-ms-transform:rotateY(-180deg) rotateX(-180deg) rotateZ(-180deg);
	}
}

@mixin rotateHover-x($num){
	-moz-transform:rotateY(0);
	-webkit-transform:rotateY(0);
	-o-transform:rotateY(0);
	-ms-transform:rotateY(0);
	@include easing($num);
	&:hover{
		-moz-transform:rotateY(-1440deg);
		-webkit-transform:rotateY(-1440deg);
		-o-transform:rotateY(-1440deg);
		-ms-transform:rotateY(-1440deg);
	}
}

/* [ icon style ]
-------------------------------------------------*/

@mixin plusIcon($height,$padding-top,$padding-right){
	&.trigger{
		&:after,&:before{
			content:"";
			display: block;
			background-color: $key-color;
			position: absolute;
			@include easing(0.2);
		}
		&:before{
			width: 1px; height: $height+px;
			top: $padding-top+px; right: $padding-right + $height/2 - 1 + px;
		}
		&:after{
			width: $height+px; height: 1px;
			top: $padding-top + $height/2 - 1 + px; right: $padding-right + px;
		}
		&.active{
			&:before{
				height: 1px;
				top: $padding-top + $height/2 - 1 + px;
			}
		}
	}
}

/* [ form parts ]
-------------------------------------------------*/

@mixin checkbox ($width,$height,$path){
	*{
		position: relative;
	}
	&:after{
		width: $width + px; height: $height + px;
		border:1px solid #b7bbbf;
		content:"";
		display: block;
		position: absolute;
		top: 0; left: 0;
		background-color: #fff;
		background: center center no-repeat transparent;
		@include easing(0.1);
	}
	&.message,&.c_on{
		&:after{
			background: url("../" + $path + "img/checkbox_check_white.svg") center center no-repeat #39414a !important;
			background-size: 13px 7px !important;
		}
	}
}


