@charset "utf-8";

@import "mixin";

/* -----------------------------------------------
common css [Scalable and Modular Architecture for CSS]
0. Normalize(ノーマライズ)
1. Reset(リセット) + Base(ベース)
2. Module(モジュール)
3. Layout(レイアウト)
-------------------------------------------------- */

/* -----------------------------------------------
 [0. Normalize(ノーマライズ)]
-------------------------------------------------- */
/* /common/css/normalize.css */

/* -----------------------------------------------
 [1. Reset(リセット) + Base(ベース)]
-------------------------------------------------- */
html * {
	/*-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;*/
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
}
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	/* ゴシック */
	font-family: "Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
	/* 明朝 */
	/*font-family: "Times New Roman","Hiragino Mincho ProN","ヒラギノ明朝 Pro W3","HGS明朝B","ＭＳ Ｐ明朝",serif,"Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;*/
	font-size: 13px;
	color: #222426;
	-webkit-text-size-adjust: 100%;
	/*line-height: 1;*/ /* I found a bug in iOS 7. */
}
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,del,em,img,strong,
dl,dt,dd,ol,ul,li,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-style: normal;
	font-weight: normal;
}
article,aside,figure,footer,header,hgroup,menu,nav,section{
	margin: 0;
	padding: 0;
	border: none;
	display: block;
	/*vertical-align: baseline;
	list-style: none;
	background-color: transparent;
	font-size: 100%;*/
	outline: none;
}
h1,h2,h3,h4,h5,h6,dt {
	line-height: 1.47;
}
p {
	line-height: 1.67;
}
dd,li,th,td,input,textarea {
	line-height: 1.67;
	text-align:justify;
	text-justify:inter-ideograph;
}
ul,ol {
	list-style-type: none;
}
img {
	vertical-align: middle;
}
strong {

}
em {

}
a {
	color: #222426;
	text-decoration: underline;
}
a:visited {

}
a:active {

}
::-moz-selection {
	/*background: transparent;*/
}
::selection {
	/*background: transparent;*/
}
/* [1. Reset(リセット) + Base(ベース)] --> End */

/* -----------------------------------------------
 [2. Module(モジュール)]
-------------------------------------------------- */
/* Loader
-------------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #c11920;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
/* Clearfix [ModernType]
-------------------------------------------------- */
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}
/* Layout Module
-------------------------------------------------- */
.fll{
	float: left;
}
.flr{
	float: right;
}
.clear{
	clear: both;
}
.mt_none{
	margin-top: 0 !important;
}
.mr_none{
	margin-right: 0 !important;
}
.mb_none{
	margin-bottom: 0 !important;
}
.ml_none{
	margin-left: 0 !important;
}

/* Text Module
-------------------------------------------------- */
.notes{
	font-size: 83.33%; /* 10px */
}
.center{
	text-align: center;
}
.bold{
	font-weight: bold;
}

/* Link Module
-------------------------------------------------- */
.ex_link{
	display: inline-block;
	padding-right: 18px;
	background: url("../img/ex_icon_red.png") no-repeat right center;
	background-size: 10px 8px;
	&.black{
		background: url("../img/ex_icon_black.png") no-repeat right center;
	}
	&.white{
		background: url("../img/ex_icon_white.png") no-repeat right center;
	}
}
.r_over:hover {
	-ms-filter: "alpha(opacity=80)"; /* IE8 */
	opacity: 0.8;
	display: inline-block\9;
}

/* Button Module
-------------------------------------------------- */

.btn{
	// border: 1px solid #222426;
	text-align: center;
	width: 198px;
	margin-left: auto;
	margin-right: auto;
	>*{
		height: 38px;
		line-height: 38px;
		vertical-align: middle;
		display: block;
		position: relative;
		&:after,&:before,.btn_inner:after,.btn_inner:before{
			content: "";
			display: block;
			position: absolute;
			@include easing-out(0.8);
		}
		&:after,&:before{
			width: 100%; height: 1px;
		}
		&:before{
			top: 0; left: 0;
		}
		&:after{
			bottom: 0; right: 0;
		}
		.btn_inner{
			&:after,&:before{
				width: 1px; height: 100%;
			}
			&:before{
				top: 0; right: 0;
			}
			&:after{
				bottom: 0; left: 0;
			}
		}
		&:hover{
			&:after,&:before,.btn_inner:after,.btn_inner:before{
				@include opacity(0);
			}
			&:after,&:before{
				width: 0;
			}
			.btn_inner{
				&:after,&:before{
					height: 0;
				}
			}
		}
	}
	&.white{
		border-color: #fff;
	}
	&.clear{
		// border: 1px solid #fff;
		>*{
			&:after,&:before,.btn_inner:after,.btn_inner:before{
				background-color: #fff;
			}
		}
	}
	&.clear_black{
		// border: 1px solid #fff;
		>*{
			&:after,&:before,.btn_inner:after,.btn_inner:before{
				background-color: #222426;
			}
		}
	}
	&.clear_gray{
		>*{
			&:after,&:before,.btn_inner:after,.btn_inner:before{
				background-color: #dedede;
			}
		}
	}
	&.h_s{
		>*{
			height: 23px;
			line-height: 23px;
		}
	}
	&.w75{
		width: 75px;
	}
	&.w133{
		width: 133px;
	}
	&.w218{
		width: 218px;
	}
	&.w278{
		width: 278px;
	}
}

/* slider Module
-------------------------------------------------- */
.bx-wrapper{
	position: relative;
	.bx-viewport{
		padding-top: 40px;
		top: -40px; left: -18px;
		margin-left: 18px;
	}
	.bx-controls{
		position: absolute;
		width: 100%;
		top: 0;
		.bx-pager{
			position: relative;
			top: 200px;
			text-align: center;
			.bx-pager-item{
				display: inline-block;
				margin: 0 6px;
				a{
					@include text-hide;
					display: inline-block;
					width: 8px; height: 8px;
					background-color: #cccccc;
					border-radius: 50%;
					&.active{
						background-color: #c11920;
					}
				}
			}
		}
		.bx-controls-direction{
			position: relative;
			width: 100%;
			a{
				@include text-hide;
				position: absolute;
				width: 31px; height: 61px;
				top: 40px;
				@include easing-out(0.3);
			}
			.bx-prev{
				left: -71px;
				background: url("../img/btn_arrow_left.png") no-repeat left center;
				&:hover{
					left: -75px;
				}
			}
			.bx-next{
				right: -71px;
				background: url("../img/btn_arrow_right.png") no-repeat left center;
				&:hover{
					right: -75px;
				}
			}
		}
		@media #{$pc-medium} {
			.bx-controls-direction{
				display: none;
			}
		}
	}
}
.ie8{
	.bx-wrapper{
		.bx-controls{
			.bx-pager{
				.bx-pager-item{
					a{
						border: none;
						background: url("../img/btn_pager.png") no-repeat left center;
						&.active{
							background: url("../img/btn_pager_active.png") no-repeat left center;
						}
					}
				}
			}
		}
	}
}

/* table
-------------------------------------------------- */

/* #Colorbox
-------------------------------------------------- */

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{
//	background:url(images/overlay.png) repeat 0 0;
	background-color: #fff;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        /* #cboxLoadedContent{margin-bottom:28px;} */
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494; display: none !important;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        //#cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        //#cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
.modal_wrap{
	display: none;
}
#cboxClose{
	width: 61px; height: 61px;
	position: absolute;
	background: url("../img/modal_close_btn.png") no-repeat center center;
	background-size: contain;
	border: 0;
	@include text-hide;
	top: -81px; right: -81px;
}
.vjs-default-skin .vjs-big-play-button{
	background: none !important;
	border: 0 !important;
	box-shadow: none !important;
	left: 50% !important; top: 50% !important;
	border-radius: 0 !important;
	&:before{
		position: relative !important;
		display: block;
		background: rgba(0,0,0,0.7) !important;
		border: 1px solid rgba(255, 255, 255, 0.39) !important;
		text-shadow:none !important;
		color: #fff;
	}
}

.youtube_wrap{
	position: relative;
	.youtube_trigger{
		width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
		cursor: pointer;
	}
	.youtube{

	}
}

/* -----------------------------------------------
 [3. Layout(レイアウト)]
-------------------------------------------------- */
#document{
	min-width: 1200px;
	@include opacity(0);
}
/* main
-------------------------------------------------- */
.inner{
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.inner_min{
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
.section_wrap{
	h1{
		text-align: center;
		margin-bottom: 40px;
	}
	>.text{
		text-align: center;
		margin-bottom: 50px;
	}
}
.bg_gray{
	background: #ededed;
}

/* #header
-------------------------------------------------- */

/* #gnavi
-------------------------------------------------- */
#gnavi_wrap{
	height: 73px;
	margin-bottom: 60px;
	position: relative;
	z-index: 50;
	#gnavi{
		min-width: 1080px;
		border-bottom: 1px solid #dedede;
		// position: relative;
		// z-index: 50;
		.image{
			display: none;
		}
		>.link_navi{
			text-align: center;
			>li{
				display: inline-block;
				>a,>span{
					display: block;
					@include lineHover;
					padding: 27px 24px 25px;
					&:after{
						background-color: #000;
						bottom: -1px;
					}
				}
				.ex_link{
					background-position: 142px 33px;
				}
			}
		}
		>.sns_list{
			float: right;
			position: absolute;
			right: 40px; top: 26px;
			li{
				float: left;
				margin-left: 35px;
				@media #{$pc-small} {
					margin-left: 20px;
				}
				&:first-child{
					margin-left: 0;
				}
			}
		}
		.dd_list{
			top: 75px; left: -25px;
		}
	}
}
/* [ 総合、ライスポッド共通スタイル ]
-------------------------------------------------- */
#gnavi,#rpr_gnavi{
	>ul{
		>li{
			position: relative;
		}
	}
	.dd_list{
		height: 0;
		overflow: hidden;
		position: absolute;
		li{
			width: 200px;
			border-bottom: 1px solid #454748;
			position: relative;
			background-color: rgba(34,36,38,0.8);
			left: -100%;
			 @include easing(0.3);
			 // @include opacity(0);
			a,span{
				height: 14px;
				padding: 23px 20px;
				line-height: 1;
				color: #fff;
				text-align: left;
				display: block;
				position: relative;
				text-decoration: none;

				 // left: -20px;
				&:after{
					width: 5px; height: 9px;
					display: block;
					background: url("../img/gnavi_arrow.png") no-repeat center center;
					content: "";
					position: absolute;
					top: 25px; right: 10px;
				}
				&.ex_link{
					background: none;
					&:after{
						width: 10px; height: 8px;
						background: url("../img/ex_icon_white.png") no-repeat center center;
						top: 26px; right: 10px;
					}
				 }
			}
			&.list02{
				@include delay(0.1);
			}
			&.list03{
				@include delay(0.2);
			}
			&.list04{
				@include delay(0.3);
			}
			&.list05{
				@include delay(0.4);
			}
			&.list06{
				@include delay(0.5);
			}
		}
		&.active{
			// height: auto;
			li{
				 @include opacity(100);
				 left: 0;
				 a{
				 	 @include easing-out(0.3);
				 	&:hover{
				 		color: #c11920;
				 	}
				 }
			}
		}
	}
}
#rpr_gnavi{
	.dd_list{
		top: 45px; left: -40px;
	}
}

#gnavi,#rpr_header_inner{

	&.fixed{
		position: fixed !important;
		width: 100%;
		//height: 55px;
		left: 0; top: 0;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6ffffff,endColorstr=#E6ffffff);
	    background: rgba(255, 255, 255, 0.9);
		.image{
			display: block !important;
			position: absolute;
			left: 40px; top: 24px;
		}
	}


}

/* #footer
-------------------------------------------------- */
#footer {
	border-top: 1px solid #dedede;
	.inner_min{
		padding-top: 58px;
		padding-bottom: 60px;
		font-size: 12px;
		.title{
			margin-bottom: 35px;
		}
		a{
			text-decoration: none;
			font-size: 12px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.footer_sitemap{
		width: 760px;
		.list{
			float: left;
			width: 231px;
			margin-right: 33px;
			>dl{
				margin-bottom: 35px;
				>dt{
					padding-bottom: 6px;
					border-bottom: 1px solid #dedede;
					margin-bottom: 15px;
					font-weight: bold;
					a{
						font-weight: bold;
						font-size: 13px;
						text-decoration: none;
					}
				}
				>dd{
					>ul{
						>li{
							margin-bottom: 3px;
							&.mb{
								margin-bottom: 15px;
							}
							dl{
								margin-bottom: 15px;
								dt{
									margin-bottom: 5px;
									font-weight: bold;
									a{
										font-weight: bold;
									}
								}
								dd{
									ul{
										li{
											margin-bottom: 3px;
											&:before{
												content: "-";
												display: inline-block;
												margin-right: 4px;
												margin-left: 8px;
											}
											a{
												letter-spacing: -0.5px;
												color: #3c4549;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			>p{
				a{
					font-size: 13px;
				}
			}
			&.last{
				margin-right: 0;
			}
		}
	}
	.footer_other_cnt{
		width: 280px;
		position: relative;
		top: -2px;
		.list{
			>dl{
				margin-bottom: 25px;
				>dt{
					padding-bottom: 6px;
					border-bottom: 1px solid #dedede;
					margin-bottom: 20px;
					font-weight: bold;
					font-size: 13px;
				}
			}
			.banner{
				a{
					display: block;
					@include bannerHover;
				}
			}
		}
		.footer_facebook_wrap{
			margin-bottom: 19px;
		}
		.fb-page{
		}
		.sns_list{
			.mail{
				padding-top: 19px;
			}
		}
	}
	#copy{
		text-align: center;
		background: #222426;
		padding: 20px 0 18px;
	}
}

/* #page_top
-------------------------------------------------- */
#page_top{
	position: fixed;
	right: -45px; bottom: 30px;
	@include easing-out(0.8);
	@include scale(0.3);
	@include opacity(0);
	z-index: 10;
	&.show{
		right: 30px;
		@include scale(1);
		@include opacity(100);
	}
	&:hover{
		@include opacity(60);
	}
}

/* #container
-------------------------------------------------- */
#container {
	position: relative;
}
#container_inner {

}
#page_top_btn{
}
