#rp_accessories #rpr_page_title_wrap {
  background-image: url(../img/accessories/kv_bg.jpg);
  margin-bottom: 78px;
}

#rp_accessories #catch_copy .text {
  margin-bottom: 0;
}

#rp_accessories #section01 {
  text-align: center;
}

#rp_accessories #section01 h2 + p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 188%;
  padding: 33px 0 82px;
}

#rp_accessories #section01 ul {
  width: 1080px;
  margin: 0 auto;
}

#rp_accessories #section01 li {
  padding: 50px 0;
  border-top: 1px solid #e6e6e6;
}

#rp_accessories #section01 li .copy {
  float: left;
  width: 445px;
  margin-right: 55px;
}

#rp_accessories #section01 li .copy h3 {
  padding: 70px 0 24px;
}

#rp_accessories #section01 li .copy p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 200%;
}

#rp_accessories #section01 li .copy .btn {
  margin-left: 0px;
  margin-top: 41px;
}

#rp_accessories #section01 li .image {
  float: left;
}

#rp_accessories #section01 li:nth-child(2) .copy {
  margin-right: 0;
}

#rp_accessories #section01 li:nth-child(2) .copy h3 {
  padding-top: 124px;
}

#rp_accessories #section01 li:nth-child(2) .image {
  margin-right: 55px;
}

#rp_accessories #section01 li:last-child {
  border-bottom: 1px solid #e6e6e6;
}

#rp_accessories #section01 li:last-child .copy h3 {
  padding-top: 123px;
}

#rp_accessories #section02 {
  padding: 90px 0 120px;
  text-align: center;
}

#rp_accessories #section02 h1 {
  padding-bottom: 65px;
}

#rp_accessories #section02 ul {
  width: 1080px;
  margin: 0 auto;
}

#rp_accessories #section02 ul li {
  float: left;
  width: 330px;
  margin-right: 45px;
}

#rp_accessories #section02 ul li:last-child {
  margin-right: 0;
}

#rp_accessories #section02 ul li h2 {
  padding: 27px 0 15px;
  text-align: center;
  line-height: 0.8;
}

#rp_accessories #section02 ul li p {
  min-height: 115px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 185%;
}

#rp_accessories #section02 ul li .btn {
  width: 220px;
}

#rp_accessories #section02 ul li .btn .ex_link {
  padding: 0 59px;
}
