#rp_care #rpr_page_title_wrap {
  background-image: url(../img/care/kv_bg.jpg);
  margin-bottom: 77px;
}

#rp_care #page_copy {
  margin-bottom: 79px;
  text-align: center;
}

#rp_care #section01 {
  margin-bottom: 400px;
}

#rp_care #section01 .inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#rp_care #section01 header {
  height: 500px;
  text-align: center;
  background: url(../img/care/section01_bg01.jpg) no-repeat center center;
  background-size: cover;
}

#rp_care #section01 header h1 {
  padding: 170px 0 26px;
}

#rp_care #section01 header p {
  color: #ffffff;
  font-size: 13px;
  line-height: 26px;
}

#rp_care #section01 ul {
  position: absolute;
  top: -111px;
  left: 0;
  padding: 37px 60px 0;
  background-color: #ffffff;
}

#rp_care #section01 ul li {
  float: left;
  width: 192px;
  margin-right: 30px;
}

#rp_care #section01 ul li:last-child {
  margin-right: 0;
}

#rp_care #section01 ul li p {
  margin-top: 17px;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
}

#rp_care #section-care {
  margin-bottom: 165px;
}

#rp_care #section-care .inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-top: -100px;
  background-color: #ffffff;
}

#rp_care #section-care .inner .cont_wrap {
  width: 1080px;
  padding: 50px 60px 0;
}

#rp_care #section-care .inner .cont_wrap p {
  width: 210px;
  margin: 20px auto 0;
  text-align: center;
}

#rp_care #section-care .inner .cont_wrap .text_wide {
  width: 355px;
}

#rp_care #section-care header {
  height: 500px;
  text-align: center;
  background: url(../img/care/section-care_bg.jpg) no-repeat center center;
  background-size: cover;
}

#rp_care #section-care header h1 {
  padding: 165px 0 20px;
}

#rp_care #section-care header p {
  color: #ffffff;
  font-size: 13px;
  line-height: 26px;
}

#rp_care #section-care .left {
  float: left;
  width: 520px;
  margin-right: 40px;
}

#rp_care #section-care .right {
  float: left;
  width: 520px;
}

#rp_care #section-care ul {
  position: absolute;
  top: -111px;
  left: 0;
  padding: 37px 60px 0;
  background-color: #ffffff;
}

#rp_care #section-care ul li {
  float: left;
  width: 192px;
  margin-right: 30px;
}

#rp_care #section-care ul li:last-child {
  margin-right: 0;
}

#rp_care #section-care ul li p {
  margin-top: 17px;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
}

#rp_care #section02 {
  margin-bottom: 120px;
}

#rp_care #section02 header {
  height: 580px;
  margin-bottom: 74px;
  background: url(../img/care/section02_bg01.jpg) no-repeat center center;
  background-size: cover;
}

#rp_care #section02 header .inner {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

#rp_care #section02 header .inner .cont_wrap {
  position: absolute;
  top: 220px;
  left: 30px;
}

#rp_care #section02 header .inner .cont_wrap p {
  margin-top: 24px;
  color: #ffffff;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 1px;
}

#rp_care #section02 section {
  width: 1080px;
  margin: 0 auto 75px;
  text-align: center;
  border-bottom: 1px solid #dedede;
}

#rp_care #section02 section > h2 {
  margin-bottom: 38px;
}

#rp_care #section02 section ul {
  padding: 21px 100px 0;
}

#rp_care #section02 section ul li {
  float: left;
  width: 236px;
  margin-right: 86px;
}

#rp_care #section02 section ul li:last-child {
  margin-right: 0;
}

#rp_care #section02 section ul li h2 {
  margin-bottom: 20px;
}

#rp_care #section02 section ul li p {
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 1px;
}

#rp_care #section02 section ul li p + p {
  display: table-cell;
  width: 236px;
  height: 41px;
  padding: 9px 0 8px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  background-color: #eceeef;
}

#rp_care #section02 section .rice_list {
  padding: 300px 60px 0;
}

#rp_care #section02 section .rice_list li {
  float: left;
  margin: 0;
}

#rp_care #section02 section .rice_list li:first-child {
  margin-left: 15px;
  margin-right: 50px;
}

#rp_care #section02 section .rice_list li:nth-child(2) {
  margin-right: 60px;
}

#rp_care #section02 section .rice_list li dl {
  border-bottom: 1px solid #fff;
}

#rp_care #section02 section .rice_list li dd {
  margin-top: 16px;
  color: #fff;
  font-size: 13px;
}

#rp_care #section02 section .rice_list02 {
  padding: 65px 84px 50px;
}

#rp_care #section02 section .rice_list02 li {
  width: 212px;
  margin-right: 78px;
}

#rp_care #section02 section .rice_list02 li:first-child, #rp_care #section02 section .rice_list02 li:nth-child(2) {
  position: relative;
}

#rp_care #section02 section .rice_list02 li:first-child:after, #rp_care #section02 section .rice_list02 li:nth-child(2):after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 33%;
  right: -55px;
  background-image: url("../img/care/cook_mode_arrow.png");
  background-repeat: no-repeat;
}

#rp_care #section02 section .rice_list02 li:last-child {
  margin-right: 0;
}

#rp_care #section02 section .rice_list02 li dl {
  border-bottom: 1px solid #969595;
}

#rp_care #section02 section .rice_list02 li dd {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
  line-height: 1.6;
}

#rp_care #section02 section .cook_list {
  padding: 300px 60px 0;
}

#rp_care #section02 section .cook_list li {
  float: left;
  margin: 0;
}

#rp_care #section02 section .cook_list li:first-child {
  margin-left: 15px;
  margin-right: 50px;
}

#rp_care #section02 section .cook_list li:nth-child(2) {
  margin-right: 60px;
}

#rp_care #section02 section .cook_list li dl {
  border-bottom: 1px solid #fff;
}

#rp_care #section02 section .cook_list li dd {
  margin-top: 16px;
  color: #fff;
  font-size: 13px;
}

#rp_care #section02 section .cook_list02 {
  padding: 65px 84px 50px;
}

#rp_care #section02 section .cook_list02 li {
  width: 212px;
  margin-right: 78px;
}

#rp_care #section02 section .cook_list02 li:first-child, #rp_care #section02 section .cook_list02 li:nth-child(2) {
  position: relative;
}

#rp_care #section02 section .cook_list02 li:first-child:after, #rp_care #section02 section .cook_list02 li:nth-child(2):after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 33%;
  right: -55px;
  background-image: url("../img/care/cook_mode_arrow.png");
  background-repeat: no-repeat;
}

#rp_care #section02 section .cook_list02 li:last-child {
  margin-right: 0;
}

#rp_care #section02 section .cook_list02 li dl {
  border-bottom: 1px solid #969595;
}

#rp_care #section02 section .cook_list02 li dd {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
  line-height: 1.6;
}

#rp_care #section02 #mode01,
#rp_care #section02 #mode02 {
  margin-top: 70px;
  border-bottom: none;
}

#rp_care #section03 {
  width: 1080px;
  margin: 100px auto 114px;
  text-align: center;
}

#rp_care #section03 h1 {
  margin-bottom: 24px;
}

#rp_care #section03 p {
  margin-bottom: 43px;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 1px;
}

#rp_care #section03 .left {
  float: left;
  width: 520px;
  margin-right: 40px;
}

#rp_care #section03 .right {
  float: left;
  width: 520px;
}

#rp_care #section03 .cont_wrap p {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
}

.mode_control {
  width: 960px;
  margin: 0 auto;
}

.mode_control h2 {
  text-align: center;
}

.mode_control .cont_wrap {
  margin-top: 70px;
}

.mode_control .cont_wrap .left {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.mode_control .cont_wrap .right {
  width: 50%;
  float: right;
  box-sizing: border-box;
}

.mode_control .cont_wrap .btn_change {
  padding-left: 133px;
  padding-bottom: 35px;
  border-bottom: 1px solid #cfcfcf;
  opacity: 0.5;
  position: relative;
}

.mode_control .cont_wrap .btn_change:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 5px 10px;
  border-color: transparent transparent #222426 transparent;
  opacity: 0;
}

.mode_control .cont_wrap .btn_change.active {
  border-bottom: 1px solid #222426;
  opacity: 1;
}

.mode_control .cont_wrap .btn_change.active:after {
  opacity: 1;
}

.mode_control .cont_wrap #cook {
  padding-left: 145px;
  padding-top: 265px;
  margin-top: -265px;
}

#mode01 {
  margin-top: 70px;
}

#mode01 .img_caption01 {
  margin-bottom: 23px;
}

#mode01 .fade_img {
  margin-bottom: 50px;
}

#mode01 .img_caption02 {
  margin-bottom: 25px;
}

#mode02 {
  margin-top: 70px;
}

#mode02 .img_caption01 {
  margin-bottom: 20px;
}

#mode02 .fade_img {
  margin-bottom: 40px;
}

#mode02 .img_caption02 {
  margin-bottom: 25px;
}

.center {
  margin-bottom: 27px;
}

.rice_mode01 {
  width: 960px;
  height: 445px;
  margin: 0 auto 50px;
  background-image: url("../img/care/rice_mode_bg.jpg");
  background-position: top center;
  background-size: 835px 278px;
  background-color: #000;
  background-repeat: no-repeat;
}

.rice_mode02,
.cook_mode02 {
  width: 960px;
  height: 410px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.cook_mode01 {
  width: 960px;
  height: 445px;
  margin: 0 auto 50px;
  background-image: url("../img/care/cook_mode_bg.jpg");
  background-position: top center;
  background-size: 835px 278px;
  background-color: #000;
  background-repeat: no-repeat;
}
