#rp_concept #rpr_page_title_wrap{background-image:url(../img/concept/kv_bg.jpg);margin-bottom:135px}

#rp_concept #catch_copy{text-align:center}

#rp_concept #catch_copy .catch{margin-bottom:10px}

#rp_concept #catch_copy .title{padding-top:78px;margin-bottom:5px}

#rp_concept #catch_copy .text{padding-bottom:115px;max-height:100%}

#rp_concept #section01{width:1080px;text-align:center;padding-bottom:130px;margin:0 auto 80px;border-bottom:1px solid #dedede}

#rp_concept #section01 .text{margin:40px 0 120px;font-size:16px;line-height:37px;letter-spacing:1px}

#rp_concept #section01 h2{margin-bottom:88px}

#rp_concept #section01 .video_wrap{width:800px;height:450px;margin:0 auto;position:relative}

#rp_concept #section01 .video_wrap>*{position:absolute;left:0;top:0;width:800px;height:450px}

#rp_concept #section01 .video_wrap #whats_video{opacity:0}

#rp_concept #section01 .video_wrap img{height:449px;cursor:pointer}

#rp_concept #section01 section{width:1080px;margin:0 auto;padding:50px 0;border-top:1px solid #dedede}

#rp_concept #section01 section .cont_wrap{float:left;text-align:left}

#rp_concept #section01 section .cont_wrap p{font-size:13px;line-height:26px;letter-spacing:1px}

#rp_concept #section01 section .image{float:left}

#rp_concept #section01 #pare_copy01 .cont_wrap{width:448px;margin-right:52px}

#rp_concept #section01 #pare_copy01 .cont_wrap h3{margin:113px 0 26px}

#rp_concept #section01 #pare_copy02{border-bottom:1px solid #dedede}

#rp_concept #section01 #pare_copy02 .cont_wrap{width:442px;margin-left:58px}

#rp_concept #section01 #pare_copy02 .cont_wrap h3{margin:106px 0 29px}

#rp_concept #section02 h1{margin-bottom:30px;text-align:center}

#rp_concept #section02 .text{margin-bottom:80px;font-size:16px;line-height:37px;letter-spacing:1px}

#rp_concept #section02 ul li{background-repeat:no-repeat;background-position:center center;background-size:cover;border-bottom:1px solid #ffffff}

#rp_concept #section02 ul li:nth-child(1){background-image:url(../img/concept/section02_img01.jpg)}

#rp_concept #section02 ul li:nth-child(2){background-image:url(../img/concept/section02_img02.jpg)}

#rp_concept #section02 ul li:nth-child(3){background-image:url(../img/concept/section02_img03.jpg)}

#rp_concept #section02 ul li:nth-child(4){background-image:url(../img/concept/section02_img04.jpg)}

#rp_concept #section02 ul li:nth-child(5){background-image:url(../img/concept/section02_img05.jpg)}

#rp_concept #section02 ul li:nth-child(6){background-image:url(../img/concept/section02_img06.jpg)}

#rp_concept #section02 ul li:nth-child(7){background-image:url(../img/concept/section02_img07.jpg)}

#rp_concept #section02 ul li:nth-child(8){background-image:url(../img/concept/section02_img08.jpg)}

#rp_concept #section02 ul li .inner{position:relative;width:inherit;max-width:1440px;height:100%;margin:0 auto}

#rp_concept #section02 ul li .inner .cont_wrap{position:absolute}

#rp_concept #section02 ul li .inner .cont_wrap p{margin-top:22px;color:#ffffff;font-size:13px;line-height:26px;letter-spacing:1px}

#rp_concept #section02 ul li:nth-child(1) .cont_wrap{width:280px;right:23%;bottom:11.2%}

#rp_concept #section02 ul li:nth-child(1) .cont_wrap p{margin-top:24px}

#rp_concept #section02 ul li:nth-child(2) .cont_wrap{bottom:18.2%;right:8.7%}

#rp_concept #section02 ul li:nth-child(2) .cont_wrap p{margin-top:18px}

#rp_concept #section02 ul li:nth-child(3) .cont_wrap{bottom:25.5%;left:13.9%}

#rp_concept #section02 ul li:nth-child(3) .cont_wrap p{margin-top:20px}

#rp_concept #section02 ul li:nth-child(4) .cont_wrap{bottom:25.5%;right:12.5%}

#rp_concept #section02 ul li:nth-child(4) .cont_wrap p{margin-top:21px}

#rp_concept #section02 ul li:nth-child(5) .cont_wrap{bottom:18.2%;right:8.7%}

#rp_concept #section02 ul li:nth-child(6) .cont_wrap{bottom:18.2%;left:12.5%}

#rp_concept #section02 ul li:nth-child(7) .cont_wrap{bottom:16.4%;right:8.7%}

#rp_concept #section02 ul li:nth-child(8) .cont_wrap{top:19.1%;left:11.5%}

#rp_concept #section03 h2{margin-top:80px;margin-bottom:70px;text-align:center;margin-left:-3px}

#rp_concept #section03 p{float:left;margin-right:44px}

#rp_concept #section03 ul{width:1080px;margin:0 auto}

#rp_concept #section03 ul li{float:left;margin-right:30px}

#rp_concept #section03 ul li:last-child{margin-right:0}

#rp_concept .recipe_area{width:1080px;padding:80px 0;margin:80px auto 100px;border-top:1px solid #dedede;border-bottom:1px solid #dedede}

#rp_concept .recipe_area #book{position:relative;width:883px;margin:0 auto 50px;display:block;border:4px double #C9C9CA}

#rp_concept .recipe_area #book h3{padding:27px 0 26px 48px}

#rp_concept .recipe_area #book p{padding:22px 0 21px 48px;letter-spacing:0.2px;line-height:2.1}

#rp_concept .recipe_area #book .image{position:absolute;top:-29px;right:54px}

#rp_concept .recipe_area .btn_area{padding-left:10px}


#rp_concept #cboxOverlay{background-color:#222}.center{text-align:center}.gray{background-color:#eceeef}.red{color:#ab2626}.bold{font-weight:bold}

#section05{text-align:center;margin-bottom:180px;margin-top:-100px}

#section05 .text{margin:40px 0 120px;font-size:16px;line-height:37px;letter-spacing:1px}

#section05 h2{margin-bottom:88px}

#section05 .video_wrap{width:800px;height:450px;margin:0 auto 130px;position:relative}

#section05 .video_wrap>*{position:absolute;left:0;top:0;width:800px;height:450px}

#section05 .video_wrap #whats_video{opacity:0}

#section05 .video_wrap img{height:449px;cursor:pointer}

#section05 section{width:1080px;margin:0 auto;padding:50px 0;}

#section05 section .cont_wrap{float:left;text-align:left}

#section05 section .cont_wrap p{font-size:13px;line-height:26px;letter-spacing:1px}

#section05 section .image{float:left}

#section05 #pare_copy01 .cont_wrap{width:448px;margin-right:52px}

#section05 #pare_copy01 .cont_wrap h3{margin:113px 0 26px}

#section05 #pare_copy01{border-bottom:1px solid #dedede}

#section05 #pare_copy02 .cont_wrap{width:442px;margin-left:58px}

#section05 #pare_copy02 .cont_wrap h3{margin:106px 0 29px}
