/* [ variable ]
-------------------------------------------------*/
/* element */
/* font */
/* [ font style ]
-------------------------------------------------*/
@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff");
}

/* [ opacity ]
-------------------------------------------------*/
/* [ display style ]
-------------------------------------------------*/
/* [ easing style ]
-------------------------------------------------*/
/* [ Hover Motion style ]
-------------------------------------------------*/
/* [ icon style ]
-------------------------------------------------*/
/* [ form parts ]
-------------------------------------------------*/
#rp_cookingmode #rpr_page_title_wrap {
  background-image: url(../img/cookingmode/kv_bg.jpg);
  margin-bottom: 78px;
}

#section01 ul {
  width: 1080px;
  margin: 0 auto;
}

#section01 li {
  padding: 50px 0;
  border-top: 1px solid #e6e6e6;
}

#section01 li .copy {
  float: left;
  width: 445px;
  margin-right: 55px;
}

#section01 li .copy h3 {
  padding: 110px 0 23px;
}

#section01 li .copy p {
  width: 400px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 200%;
}

#section01 li .image {
  float: left;
}

#section01 li:nth-child(even) .copy {
  margin-right: 0;
}

#section01 li:nth-child(even) .copy h3 {
  padding-top: 145px;
}

#section01 li:nth-child(even) .image {
  margin-right: 55px;
}

#section01 li:nth-child(3) .copy {
  margin-top: 40px;
}

#section01 li:nth-child(3) .copy .text {
  width: 440px;
}

#section01 li:last-child {
  border-bottom: 1px solid #e6e6e6;
}

#section01 li:last-child .copy {
  margin-top: 40px;
}

#section01 li:last-child .copy h3 {
  padding-top: 147px;
}

#section01 .btn_area {
  padding-top: 100px;
  padding-bottom: 100px;
}

#book {
  position: relative;
  width: 883px;
  margin: 95px auto 50px;
  display: block;
  border: 4px double #C9C9CA;
}

#book h3 {
  border-bottom: 1px dotted #C9C9CA;
  padding: 27px 0 26px 48px;
}

#book p {
  padding: 22px 0 21px 48px;
  letter-spacing: 0.2px;
  line-height: 2.1;
}

#book .image {
  position: absolute;
  top: -29px;
  right: 54px;
}

#section02 {
  text-align: center;
}

#section02 h1 {
  padding: 115px 0 30px;
}

#section02 p {
  font-size: 15px;
  line-height: 2.46;
  margin-bottom: 90px;
}

#section02 .images {
  width: 100%;
}

#section02 .btn_area {
  padding-top: 0;
}

.btn_area {
  text-align: center;
}

#recipe_link.btn_area {
  padding-top: 0;
  padding-bottom: 0;
}

.last_area {
  margin-bottom: 120px;
  padding-top: 0;
}

.sub_text {
  display: block;
}
