/* -----------------------------------------------
 [mail_magazine layout]
-------------------------------------------------- */
#mail_magazine_wrap {
  padding-top: 65px;
  padding-bottom: 86px;
  background: #1a1c1d;
  color: #edeeee;
}
#mail_magazine_wrap .section_title {
  width: 313px;
  background: url("../img/mail/mail_icon.png") no-repeat center top;
  padding-top: 30px;
  margin-bottom: 24px;
}
#mail_magazine_wrap .info_text {
  text-align: center;
  line-height: 2.25;
}

.form_wrap {
  width: 600px;
  margin: 0 auto 64px;
  padding-top: 63px;
}
.form_wrap .input_wrap {
  margin-bottom: 53px;
}
.form_wrap .input_wrap input {
  width: 558px;
  height: 18px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid #dcdddf;
  background: url("../img/mail/e_mail_text_icon.png") no-repeat 20px center;
  background-color: #fff;
  padding: 10px 20px;
}
.form_wrap .input_wrap input:focus, .form_wrap .input_wrap .already {
  background-image: none;
}
.form_wrap #submit_btn {
  width: 158px;
  height: 35px;
  margin: 0 auto;
  display: block;
  border: 1px solid #8c9095;
  background: url("../img/mail/send_btn_text.png") no-repeat center center;
  background-color: transparent;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 3px;
}

.privacy_wrap p {
  line-height: 2.25;
  display: block;
  text-align: center;
}
