@charset "utf-8";
/* ----------------------------------------------- [Top layout]
-------------------------------------------------- */
#document { overflow: hidden; }

#slider li { min-height: 720px; position: relative; }
#slider li img.bg { width: auto; height: 100%; display: none; position: absolute; top: 0; left: 0; }
