/* [ variable ]
-------------------------------------------------*/
/* element */
/* font */
/* [ font style ]
-------------------------------------------------*/
@font-face { font-family: 'Avenir Next LT Pro Demi'; font-style: normal; font-weight: normal; src: local("Avenir Next LT Pro Demi"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff"); }
@font-face { font-family: 'Avenir Next LT Pro Regular'; font-style: normal; font-weight: normal; src: local("Avenir Next LT Pro Regular"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff"); }
/* [ opacity ]
-------------------------------------------------*/
/* [ display style ]
-------------------------------------------------*/
/* [ easing style ]
-------------------------------------------------*/
/* [ Hover Motion style ]
-------------------------------------------------*/
/* [ icon style ]
-------------------------------------------------*/
/* [ form parts ]
-------------------------------------------------*/
#rp_top #rpr_header { transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
#rp_top #kv_wrap { background-color: #000; position: relative; overflow: hidden; }
#rp_top #kv_wrap #kv_inner { z-index: 100; width: 18.4%; height: 2%; top: 43% !important; margin-top: -10px; margin-left: auto; margin-right: auto; position: relative; }
#rp_top #kv_wrap #scroll_down { width: 36px; height: 41px; position: absolute; bottom: 61px; -ms-filter: "alpha(opacity=$num)"; /* IE8 */ opacity: 0; }
#rp_top #kv_wrap #scroll_down div { line-height: 1; }
#rp_top #kv_wrap #scroll_down .text { margin-bottom: 12px; }
#rp_top #kv_wrap #scroll_down .arrow { position: relative; }
#rp_top #kv_wrap .motion { position: relative; left: -10px; transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); overflow: hidden; height: 40px; }
#rp_top #kv_wrap .motion img { position: relative; }
#rp_top #kv_wrap #bg { width: 100%; height: 100%; left: 0; top: 0; position: absolute; background-image: url("../img/kv/kv_bg.jpg"); background-repeat: no-repeat; background-position: center top; background-size: cover; /* -webkit-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px); */ }
#rp_top #kv_wrap #bg.slide02 { background-image: url("../img/kv/kv_bg02.jpg"); }
#rp_top #kv_wrap #bg.slide03 { background-image: url("../img/kv/kv_bg03.jpg"); }
#rp_top #kv_wrap #bg.slide04 { background-image: url("../img/kv/kv_bg04.jpg"); }
#rp_top #kv_wrap #bg.slide05 { background-image: url("../img/kv/kv_bg05.jpg"); }
#rp_top #kv_wrap #bg.slide06 { background-image: url("../img/kv/kv_bg06.jpg"); }
#rp_top #kv_wrap #bg.show { width: 100%; height: 100%; left: 0; top: 0; -webkit-filter: blur(0px); -ms-filter: blur(0px); filter: blur(0px); opacity: 1; }
#rp_top #slider_wrap { height: 751px; }
#rp_top #slider_wrap #kv_slider_wrap { height: 751px; }
#rp_top #slider_wrap #kv_slider_wrap #slider li { height: 751px; display: block; }
#rp_top #slider_wrap #kv_slider_wrap #slider li .copy { position: relative; display: inline-block; line-height: 1; text-align: center; display: block; top: 116px; }
#rp_top #slider_wrap #kv_slider_wrap #slider li .top_copy { margin: 108px auto 0; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide01 { background: url("../img/kv/kv_img01_b.jpg?2") no-repeat center center; background-size: 2560px 750px; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide01.smp { background-size: contain; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide02 { background: url("../img/kv/kv_img02_b.jpg?2") no-repeat center center; background-size: 2560px 750px; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide02.smp { background-size: contain; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide03 { background: url("../img/kv/kv_img03_b.jpg?2") no-repeat center center; background-size: 2560px 750px; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide03.smp { background-size: contain; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide04 { background: url("../img/kv/kv_img01.jpg?2") no-repeat center center; background-size: 2560px 750px; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide04.smp { background-size: contain; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide05 { background: url("../img/kv/kv_img02.jpg?2") no-repeat center center; background-size: 2560px 750px; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide05.smp { background-size: contain; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide06 { background: url("../img/kv/kv_img03.jpg?2") no-repeat center center; background-size: 2560px 750px; }
#rp_top #slider_wrap #kv_slider_wrap #slider #slide06.smp { background-size: contain; }
#rp_top #slider_wrap #kv_slider_wrap .bx-wrapper { position: relative; height: 100%; }
#rp_top #slider_wrap #kv_slider_wrap .bx-viewport { height: 100% !important; }
#rp_top #slider_wrap #kv_slider_wrap .bx-controls-direction { display: block !important; top: 310px; z-index: 80; }
#rp_top #slider_wrap #kv_slider_wrap .bx-controls-direction .bx-prev, #rp_top #slider_wrap #kv_slider_wrap .bx-controls-direction .bx-next { width: 41px; height: 81px; display: block; overflow: hidden; text-indent: -9999px; position: absolute; top: 40%; cursor: pointer; z-index: 1000; transition: all 0.15s ease-in; -webkit-transition: all 0.15s ease-in; }
#rp_top #slider_wrap #kv_slider_wrap .bx-controls-direction .bx-prev { background: url("../img/kv/slider_arrow_left_black.png") no-repeat left top; left: 30px; }
#rp_top #slider_wrap #kv_slider_wrap .bx-controls-direction .bx-next { background: url("../img/kv/slider_arrow_right_black.png") no-repeat left top; right: 30px; }
#rp_top #slider_wrap #kv_slider_wrap .bx-controls-direction .bx-prev:hover { left: 25px; }
#rp_top #slider_wrap #kv_slider_wrap .bx-controls-direction .bx-next:hover { right: 25px; }
#rp_top #slider_wrap #kv_slider_wrap .bx-pager { left: 50%; margin-left: -21px; position: absolute; top: 602px; z-index: 80; }
#rp_top #slider_wrap #kv_slider_wrap .bx-pager .bx-pager-item { display: inline-block; margin: 0 5px; }
#rp_top #slider_wrap #kv_slider_wrap .bx-pager .bx-pager-item a { width: 4px; height: 4px; display: block; overflow: hidden; text-indent: -9999px; background: url("../img/kv/pager.png") no-repeat left top; }
#rp_top #slider_wrap #kv_slider_wrap .bx-pager .bx-pager-item a.active { background-position: left bottom; }
#rp_top #slider_wrap .btn_wrap { width: 430px; margin-left: auto; margin-right: auto; display: block; position: relative; bottom: 108px; z-index: 80; }
#rp_top #slider_wrap .btn_wrap .left { float: left; }
#rp_top #slider_wrap .btn_wrap .right { float: right; }
#rp_top .bg_section { background-size: cover !important; height: 600px; }
#rp_top .bg_section .inner { height: 500px; }
#rp_top .bg_section .inner * { color: #fff; }
#rp_top .bg_section .inner .copy { margin-bottom: 29px; }
#rp_top .bg_section .inner .text { margin-bottom: 27px; font-size: 13px; line-height: 2; }
#rp_top .bg_section .inner .link a { position: relative; padding-bottom: 5px; }
#rp_top .bg_section .inner .link a:after { content: ""; display: block; width: 0; height: 1px; background-color: #fff; position: absolute; left: 0; bottom: 0; transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); -ms-filter: "alpha(opacity=$num)"; /* IE8 */ opacity: 0; }
#rp_top .bg_section .inner .link a:hover:after, #rp_top .bg_section .inner .link a.active:after { width: 100%; -ms-filter: "alpha(opacity=$num)"; /* IE8 */ opacity: 1; }
#rp_top .bg_section#section_wrap01 { background: url("../img/top/section_bg01.jpg") no-repeat center center; }
#rp_top .bg_section#section_wrap01 .text_wrap { float: left; padding-left: 59px; padding-top: 170px; }
#rp_top .bg_section#section_wrap02 { background: url("../img/top/section_bg02.jpg") no-repeat center center; }
#rp_top .bg_section#section_wrap02 .text_wrap { float: left; padding-left: 59px; padding-top: 188px; }
#rp_top .bg_section#section_wrap03 { background: url("../img/top/section_bg03.jpg") no-repeat center center; }
#rp_top .bg_section#section_wrap03 .text_wrap { float: right; padding-right: 64px; padding-top: 177px; }
#rp_top .bg_section#section_wrap03 .text_wrap .text { color: #000; }
#rp_top .bg_section#section_wrap03 .text_wrap .link a:after { background-color: #000; }
#rp_top .bg_section#section_wrap04 { background: url("../img/top/section_bg04.jpg") no-repeat center center; }
#rp_top .bg_section#section_wrap04 .text_wrap { float: right; padding-right: 64px; padding-top: 162px; }
#rp_top .bg_section#section_wrap05 { background: url("../img/top/section_bg05.jpg") no-repeat center center; }
#rp_top .bg_section#section_wrap05 .text_wrap { float: left; padding-left: 59px; padding-top: 183px; }
#rp_top #section_ku_nel { padding-bottom: 100px; }
#rp_top #section_ku_nel.bg_section { height: initial; }
#rp_top #section_ku_nel a { display: block; width: 100%; height: 100%; text-decoration: none; }
#rp_top #section_ku_nel .inner { width: 900px; margin: 0 auto; height: initial; }
#rp_top #section_ku_nel .inner .copy { margin: 0; padding: 80px 0 60px 0; text-align: center; }
#rp_top #section_ku_nel .inner h2 { padding-bottom: 50px; text-align: center; }
#rp_top #section_ku_nel .inner .under_line { position: relative; }
#rp_top #section_ku_nel .inner .under_line:before { content: ""; display: block; position: absolute; width: 100%; height: 2px; top: -25px; border-top: 1px solid #000; border-bottom: 1px solid #000; }
#rp_top #section_ku_nel .inner .text { margin: 0; padding-bottom: 55px; color: #222426; text-align: center; line-height: 1.85; }
#rp_top #section_ku_nel .inner .image_area { width: 700px; margin: 0 auto; /* a{
	display: block;
	width: 350px;
	height: 100%;
	&:hover{
		background-color: #fff;
	    opacity: 0.6;
	    -webkit-transition: all 0.4s;
	    -moz-transition: all 0.4s;
	    -ms-transition: all 0.4s;
	    -o-transition: all 0.4s;
	    transition: all 0.4s;
	}
} */ }
#rp_top .banner_section { padding-top: 69px; padding-bottom: 120px; }
#rp_top .banner_section h3 { text-align: center; margin-bottom: 60px; }
#rp_top .banner_section .inner { width: 1080px; }
#rp_top .banner_section .inner li { width: 540px; margin: 0; }

#page_top.show { right: 62px; }
