/* [ variable ]
-------------------------------------------------*/
/* element */
/* font */
/* [ font style ]
-------------------------------------------------*/
@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff"); }
/* [ opacity ]
-------------------------------------------------*/
/* [ display style ]
-------------------------------------------------*/
/* [ easing style ]
-------------------------------------------------*/
/* [ Hover Motion style ]
-------------------------------------------------*/
/* [ icon style ]
-------------------------------------------------*/
/* [ form parts ]
-------------------------------------------------*/
/* ------------------- common ------------------- */
body,
#document {
  overflow-x: hidden; }

#main_wrap > * {
  overflow: hidden; }

.movie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  background-color: #000; }
  .movie__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%) scale(1.04);
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 0;
    transition: all 1.2s ease-in;
    -moz-transition: all 1.2s ease-in;
    -webkit-transition: all 1.2s ease-in;
    -ms-transition: all 1.2s ease-in; }
    .movie__video.show {
      transform: translateX(-50%) translateY(-50%) scale(1);
      -ms-filter: "alpha(opacity=$num)";
      /* IE8 */
      opacity: 1; }
  .movie#bg:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover !important;
    transform: scale(1.04);
    -moz-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 0;
    transition: all 1.2s ease-in;
    -moz-transition: all 1.2s ease-in;
    -webkit-transition: all 1.2s ease-in;
    -ms-transition: all 1.2s ease-in; }
  .movie#bg.show:after {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 1; }

#page_title_wrap {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover !important; }
  #page_title_wrap.sp {
    height: 800px; }
  #page_title_wrap #kv_inner {
    z-index: 10;
    position: relative;
    text-align: center; }
    #page_title_wrap #kv_inner * {
      color: #fff; }
    #page_title_wrap #kv_inner .text {
      margin-top: 40px;
      line-height: 1.87; }
  #page_title_wrap #scroll_down {
    width: 36px;
    height: 41px;
    position: absolute;
    bottom: 61px;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 0; }
    #page_title_wrap #scroll_down div {
      line-height: 1; }
    #page_title_wrap #scroll_down .text {
      margin-bottom: 12px; }
    #page_title_wrap #scroll_down .arrow {
      position: relative; }
  #page_title_wrap .motion {
    position: relative;
    overflow: hidden; }
    #page_title_wrap .motion img {
      position: relative;
      top: 25px;
      -ms-filter: "alpha(opacity=$num)";
      /* IE8 */
      opacity: 0;
      transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -webkit-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out; }
    #page_title_wrap .motion.show img {
      top: 0;
      -ms-filter: "alpha(opacity=$num)";
      /* IE8 */
      opacity: 1; }
    #page_title_wrap .motion.text {
      -ms-filter: "alpha(opacity=$num)";
      /* IE8 */
      opacity: 0;
      transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -webkit-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out; }
      #page_title_wrap .motion.text.show {
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 1; }

.btn_wrap {
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative; }
  .btn_wrap .left {
    float: left; }
  .btn_wrap .right {
    float: right; }

.bg_section {
  background-size: cover !important;
  height: 600px; }
  .bg_section .inner {
    height: 500px; }
    .bg_section .inner * {
      color: #fff; }
    .bg_section .inner .copy {
      margin-bottom: 29px; }
    .bg_section .inner .text {
      margin-bottom: 27px;
      font-size: 13px;
      line-height: 2; }
    .bg_section .inner .link a {
      position: relative;
      padding-bottom: 5px; }
      .bg_section .inner .link a:after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 0; }
      .bg_section .inner .link a:hover:after, .bg_section .inner .link a.active:after {
        width: 100%;
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 1; }

.feature_wrap {
  margin-top: 35px;
  position: relative;
  padding: 29px 0 27px 20px; }
  .feature_wrap:before, .feature_wrap:after {
    content: "";
    display: block;
    background-color: #222426;
    position: absolute;
    height: 1px; }
  .feature_wrap:before {
    width: -webkit-calc(100% - 65px);
    width: calc(100% - 65px);
    right: 0;
    top: 0; }
  .feature_wrap:after {
    width: 100%;
    left: 0;
    bottom: 0; }
  .feature_wrap .title {
    position: absolute;
    top: -17px;
    left: 0; }

#page_top.show {
  right: 62px; }

.top_items_wrap {
  padding-bottom: 80px; }
  .top_items_wrap .inner {
    padding-top: 50px;
    border-top: 1px solid #dedede;
    width: 1080px;
    margin: 0 auto; }

#footer {
  border-top: 1px solid #dedede; }

/* ------------------- TOP ------------------- */
#kitchenitem_top #kv_wrap {
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  position: relative; }
  #kitchenitem_top #kv_wrap.sp {
    height: 800px; }
  #kitchenitem_top #kv_wrap #kv_inner {
    z-index: 100;
    width: 22.2%;
    height: 3%;
    top: 50% !important;
    margin-top: -28px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  #kitchenitem_top #kv_wrap #scroll_down {
    width: 36px;
    height: 41px;
    position: absolute;
    bottom: 61px;
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 0;
    left: 0;
    right: 0;
    margin: auto; }
    #kitchenitem_top #kv_wrap #scroll_down div {
      line-height: 1; }
    #kitchenitem_top #kv_wrap #scroll_down .text {
      margin-bottom: 12px; }
    #kitchenitem_top #kv_wrap #scroll_down .arrow {
      position: relative; }
  #kitchenitem_top #kv_wrap .motion {
    position: relative;
    overflow: hidden;
    height: 28px;
    position: relative;
    overflow: hidden; }
    #kitchenitem_top #kv_wrap .motion img {
      position: relative;
      top: 25px;
      vertical-align: top;
      -ms-filter: "alpha(opacity=$num)";
      /* IE8 */
      opacity: 0;
      transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -webkit-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out; }
    #kitchenitem_top #kv_wrap .motion.show img {
      top: 0;
      -ms-filter: "alpha(opacity=$num)";
      /* IE8 */
      opacity: 1; }
  #kitchenitem_top #kv_wrap #bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-image: url("../../kitchenitems/assets/img/top/kv_bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -ms-filter: "alpha(opacity=$num)";
    /* IE8 */
    opacity: 0;
    transform: scale(1.04);
    -moz-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transition: all 1.2s ease-in;
    -moz-transition: all 1.2s ease-in;
    -webkit-transition: all 1.2s ease-in;
    -ms-transition: all 1.2s ease-in; }
    #kitchenitem_top #kv_wrap #bg.show {
      transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -ms-filter: "alpha(opacity=$num)";
      /* IE8 */
      opacity: 1; }
#kitchenitem_top #item_line_up {
  text-align: center;
  padding: 70px 0 80px; }
  #kitchenitem_top #item_line_up .text {
    margin: 15px 0 55px; }
  #kitchenitem_top #item_line_up .item_list {
    letter-spacing: -.4em;
    text-align: center;
    margin-bottom: 75px;
    letter-spacing: -.4em; }
    #kitchenitem_top #item_line_up .item_list li {
      letter-spacing: normal;
      display: inline-block;
      margin-left: 40px;
      text-align: center;
      vertical-align: top; }
      #kitchenitem_top #item_line_up .item_list li:first-child {
        margin-left: 0; }
      #kitchenitem_top #item_line_up .item_list li a {
        text-decoration: none;
        display: block;
        position: relative; }
        #kitchenitem_top #item_line_up .item_list li a .image {
          transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          display: block; }
        #kitchenitem_top #item_line_up .item_list li a:after {
          width: 10px;
          height: 8px;
          content: "";
          position: absolute;
          background: url("../common/img/ex_icon_black.png") center center no-repeat;
          top: 105px;
          left: 0;
          right: 0;
          margin: auto;
          transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -ms-filter: "alpha(opacity=$num)";
          /* IE8 */
          opacity: 0; }
        #kitchenitem_top #item_line_up .item_list li a:hover .image {
          -ms-filter: "alpha(opacity=$num)";
          /* IE8 */
          opacity: 1;
          transform: scale(0.94);
          -moz-transform: scale(0.94);
          -webkit-transform: scale(0.94);
          -ms-transform: scale(0.94);
          -ms-filter: "alpha(opacity=$num)";
          /* IE8 */
          opacity: 0.4; }
        #kitchenitem_top #item_line_up .item_list li a:hover:after {
          -ms-filter: "alpha(opacity=$num)";
          /* IE8 */
          opacity: 1; }
        #kitchenitem_top #item_line_up .item_list li a p {
          margin-top: 5px; }
#kitchenitem_top .bg_section {
  background-size: cover !important;
  height: 600px; }
  #kitchenitem_top .bg_section .inner {
    height: 500px; }
    #kitchenitem_top .bg_section .inner * {
      color: #fff; }
    #kitchenitem_top .bg_section .inner .copy {
      margin-bottom: 29px; }
    #kitchenitem_top .bg_section .inner .text {
      margin-bottom: 27px;
      font-size: 13px;
      line-height: 2; }
    #kitchenitem_top .bg_section .inner .link a {
      position: relative;
      padding-bottom: 5px; }
      #kitchenitem_top .bg_section .inner .link a:after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 0; }
      #kitchenitem_top .bg_section .inner .link a:hover:after, #kitchenitem_top .bg_section .inner .link a.active:after {
        width: 100%;
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 1; }
  #kitchenitem_top .bg_section#section_wrap01 {
    background: url("../../kitchenitems/assets/img/top/section_bg01.jpg") no-repeat center center; }
    #kitchenitem_top .bg_section#section_wrap01 .text_wrap {
      float: left;
      padding-left: 60px;
      padding-top: 110px; }
  #kitchenitem_top .bg_section#section_wrap02 {
    background: url("../../kitchenitems/assets/img/top/section_bg02.jpg") no-repeat center center; }
    #kitchenitem_top .bg_section#section_wrap02 .text_wrap {
      float: right;
      padding-right: 64px;
      padding-top: 240px; }
  #kitchenitem_top .bg_section#section_wrap03 {
    background: url("../../kitchenitems/assets/img/top/section_bg03.jpg") no-repeat center center; }
    #kitchenitem_top .bg_section#section_wrap03 .text_wrap {
      float: left;
      padding-left: 60px;
      padding-top: 180px; }
      #kitchenitem_top .bg_section#section_wrap03 .text_wrap .text {
        color: #000; }
      #kitchenitem_top .bg_section#section_wrap03 .text_wrap .link a:after {
        background-color: #000; }
#kitchenitem_top .banner_section {
  background-color: #ededed;
  padding-top: 105px;
  padding-bottom: 90px; }
  #kitchenitem_top .banner_section .banner_list {
    letter-spacing: -.4em;
    text-align: center; }
    #kitchenitem_top .banner_section .banner_list li {
      display: inline-block;
      letter-spacing: normal;
      margin-left: 20px;
      float: none;
      margin-right: 0; }
      #kitchenitem_top .banner_section .banner_list li:first-child {
        margin-left: 0; }
      #kitchenitem_top .banner_section .banner_list li dl dd {
        text-align: center;
        margin-top: 5px; }
#kitchenitem_top #modal {
  display: none;
  position: absolute;
  z-index: 101;
  background-color: #fff;
  width: 100%; }
  #kitchenitem_top #modal #modal_content {
    text-align: center;
    position: relative;
    padding-top: 183px;
    padding-bottom: 132px; }
    #kitchenitem_top #modal #modal_content:before, #kitchenitem_top #modal #modal_content:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%; }
    #kitchenitem_top #modal #modal_content:before {
      margin-left: -985px;
      top: 0;
      width: 656px;
      height: 703px;
      background: url("../../kitchenitems/assets/img/top/modal_image01.jpg") no-repeat center center; }
    #kitchenitem_top #modal #modal_content:after {
      margin-left: 258px;
      bottom: 0;
      width: 649px;
      height: 701px;
      background: url("../../kitchenitems/assets/img/top/modal_image02.jpg") no-repeat center center; }
    #kitchenitem_top #modal #modal_content .text {
      margin-top: 35px;
      margin-bottom: 55px;
      line-height: 2.2; }
    #kitchenitem_top #modal #modal_content .btn {
      cursor: pointer; }
#kitchenitem_top #modal_overlay {
  position: fixed;
  z-index: 100;
  background-color: #000;
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 0.9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none; }

/* ------------------- magnettrivet ------------------- */
#magnettrivet #page_title_wrap #kv_inner {
  top: 40%; }
#magnettrivet #page_title_wrap .movie#bg:after {
  background: url("../../kitchenitems/assets/img/magnettrivet/kv_bg.jpg") no-repeat center center; }
#magnettrivet #section_wrap01 > section {
  position: relative; }
  #magnettrivet #section_wrap01 > section .text_wrap {
    box-sizing: border-box;
    z-index: 1; }
  #magnettrivet #section_wrap01 > section:nth-child(1) {
    padding-top: 160px;
    height: 605px; }
    #magnettrivet #section_wrap01 > section:nth-child(1) .text_wrap {
      padding-left: 757px; }
      #magnettrivet #section_wrap01 > section:nth-child(1) .text_wrap .copy {
        margin-bottom: 25px; }
        #magnettrivet #section_wrap01 > section:nth-child(1) .text_wrap .copy:after {
          content: "";
          display: block;
          background-color: #222426;
          height: 2px;
          width: 50px;
          margin-top: 28px; }
      #magnettrivet #section_wrap01 > section:nth-child(1) .text_wrap .text {
        margin-bottom: 35px; }
      #magnettrivet #section_wrap01 > section:nth-child(1) .text_wrap .btn {
        margin-left: 0; }
    #magnettrivet #section_wrap01 > section:nth-child(1) .bg {
      position: absolute;
      left: 50%;
      margin-left: -657px;
      top: 0; }
  #magnettrivet #section_wrap01 > section:nth-child(2) {
    margin-bottom: 120px; }
    #magnettrivet #section_wrap01 > section:nth-child(2) .text_wrap {
      text-align: center; }
      #magnettrivet #section_wrap01 > section:nth-child(2) .text_wrap .copy {
        margin-bottom: 30px; }
    #magnettrivet #section_wrap01 > section:nth-child(2) .bg {
      width: 1080px;
      display: block;
      margin-top: 45px;
      margin-left: -480px;
      left: 50%;
      position: relative; }
      #magnettrivet #section_wrap01 > section:nth-child(2) .bg:after {
        content: "";
        clear: both;
        display: block; }
      #magnettrivet #section_wrap01 > section:nth-child(2) .bg > * {
        float: left; }
  #magnettrivet #section_wrap01 > section:nth-child(3) {
    padding-top: 129px;
    height: 330px; }
    #magnettrivet #section_wrap01 > section:nth-child(3) .text_wrap {
      padding-left: 700px; }
      #magnettrivet #section_wrap01 > section:nth-child(3) .text_wrap .copy {
        margin-bottom: 30px; }
      #magnettrivet #section_wrap01 > section:nth-child(3) .text_wrap .text {
        width: 445px; }
    #magnettrivet #section_wrap01 > section:nth-child(3) .bg {
      margin-left: -543px;
      top: 0; }
#magnettrivet #section_wrap02 {
  background: url("../../kitchenitems/assets/img/magnettrivet/bg_section02.jpg") no-repeat center center;
  background-size: cover;
  padding: 110px 0 120px; }
  #magnettrivet #section_wrap02 .text_wrap {
    width: 440px;
    margin-left: 60px; }
    #magnettrivet #section_wrap02 .text_wrap .copy {
      margin-bottom: 25px; }
#magnettrivet #section_wrap03 {
  padding: 80px 0 80px; }
  #magnettrivet #section_wrap03 .text_wrap {
    width: 480px;
    float: right;
    margin: 84px 80px 0 0; }
    #magnettrivet #section_wrap03 .text_wrap .copy {
      margin-bottom: 35px; }
  #magnettrivet #section_wrap03 .image {
    float: left;
    margin-left: 60px; }
  #magnettrivet #section_wrap03 > .text {
    width: 1080px;
    margin: 80px auto;
    position: relative; }
    #magnettrivet #section_wrap03 > .text span {
      position: relative;
      z-index: 1;
      background-color: #fff;
      padding-right: 15px; }
    #magnettrivet #section_wrap03 > .text:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #dedede;
      top: 50%;
      margin-top: -1px; }
  #magnettrivet #section_wrap03 .lineup_wrap ul {
    text-align: center;
    letter-spacing: -.4em; }
    #magnettrivet #section_wrap03 .lineup_wrap ul li {
      display: inline-block;
      margin-left: 15px;
      text-align: center;
      letter-spacing: normal; }
      #magnettrivet #section_wrap03 .lineup_wrap ul li:first-child {
        margin-left: 0; }
      #magnettrivet #section_wrap03 .lineup_wrap ul li .text {
        line-height: 1.87;
        margin: 10px 0 20px; }

/* ------------------- hk_and_ph ------------------- */
#hk_and_ph #page_title_wrap #kv_inner {
  top: 40%; }
#hk_and_ph #page_title_wrap .movie#bg:after {
  background: url("../../kitchenitems/assets/img/hk_and_ph/kv_bg.jpg") no-repeat center center; }
#hk_and_ph #section_wrap01 > section {
  position: relative; }
  #hk_and_ph #section_wrap01 > section .text_wrap {
    box-sizing: border-box;
    z-index: 1; }
  #hk_and_ph #section_wrap01 > section .bg {
    position: absolute;
    left: 50%; }
  #hk_and_ph #section_wrap01 > section:nth-child(1) {
    padding-top: 231px;
    height: 505px; }
    #hk_and_ph #section_wrap01 > section:nth-child(1) .text_wrap {
      padding-left: 60px; }
      #hk_and_ph #section_wrap01 > section:nth-child(1) .text_wrap .copy {
        margin-bottom: 25px; }
        #hk_and_ph #section_wrap01 > section:nth-child(1) .text_wrap .copy:after {
          content: "";
          display: block;
          background-color: #222426;
          height: 2px;
          width: 50px;
          margin-top: 28px; }
      #hk_and_ph #section_wrap01 > section:nth-child(1) .text_wrap .text {
        margin-bottom: 35px; }
      #hk_and_ph #section_wrap01 > section:nth-child(1) .text_wrap .btn {
        margin-left: 0; }
    #hk_and_ph #section_wrap01 > section:nth-child(1) .bg {
      margin-left: -234px;
      top: 0; }
  #hk_and_ph #section_wrap01 > section:nth-child(2) {
    padding-top: 70px;
    height: 427px;
    z-index: 1; }
    #hk_and_ph #section_wrap01 > section:nth-child(2) .text_wrap {
      padding-left: 699px; }
      #hk_and_ph #section_wrap01 > section:nth-child(2) .text_wrap .copy {
        margin-bottom: 30px; }
      #hk_and_ph #section_wrap01 > section:nth-child(2) .text_wrap .text {
        width: 445px; }
    #hk_and_ph #section_wrap01 > section:nth-child(2) .bg {
      margin-left: -540px;
      top: 0; }
  #hk_and_ph #section_wrap01 > section:nth-child(3) .text_wrap {
    padding-top: 105px;
    padding-left: 60px;
    width: 505px;
    float: left; }
    #hk_and_ph #section_wrap01 > section:nth-child(3) .text_wrap .copy {
      margin-bottom: 30px; }
    #hk_and_ph #section_wrap01 > section:nth-child(3) .text_wrap .text {
      width: 445px; }
  #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap {
    float: right;
    width: 581px;
    margin-right: 60px; }
    #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap .image {
      position: relative; }
      #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap .image .line1,
      #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap .image .line2,
      #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap .image .line3 {
        position: absolute;
        left: 56px;
        top: 55px;
        width: 0;
        overflow: hidden;
        transition: all 1.98s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 1.98s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: all 1.98s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: all 1.98s cubic-bezier(0.23, 1, 0.32, 1); }
        #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap .image .line1.done,
        #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap .image .line2.done,
        #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap .image .line3.done {
          width: 380px; }
    #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap ul {
      margin-top: 20px; }
      #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap ul li {
        float: left;
        margin-left: 1px; }
        #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap ul li:first-child {
          margin-left: 0; }
        #hk_and_ph #section_wrap01 > section:nth-child(3) .image_wrap ul li .title {
          font-weight: bold;
          margin-top: 7px; }
  #hk_and_ph #section_wrap01 > section.feature {
    margin-top: 75px;
    margin-bottom: 100px; }
    #hk_and_ph #section_wrap01 > section.feature .image {
      float: left;
      margin-left: 60px; }
    #hk_and_ph #section_wrap01 > section.feature .feature_wrap {
      width: 480px;
      float: right;
      margin-right: 60px;
      padding-left: 0; }
#hk_and_ph #section_wrap02 .inner:nth-of-type(1) {
  padding: 163px 0 190px; }
  #hk_and_ph #section_wrap02 .inner:nth-of-type(1):after {
    content: "";
    display: block;
    width: 870px;
    height: 1px;
    position: absolute;
    right: 60px;
    top: 60px;
    background-color: #dedede; }
  #hk_and_ph #section_wrap02 .inner:nth-of-type(1) .text_wrap {
    width: 440px;
    padding-left: 700px; }
    #hk_and_ph #section_wrap02 .inner:nth-of-type(1) .text_wrap .copy {
      margin-bottom: 25px; }
      #hk_and_ph #section_wrap02 .inner:nth-of-type(1) .text_wrap .copy:after {
        content: "";
        display: block;
        background-color: #222426;
        height: 2px;
        width: 50px;
        margin-top: 28px; }
    #hk_and_ph #section_wrap02 .inner:nth-of-type(1) .text_wrap .btn {
      margin: 35px 0 0 0; }
  #hk_and_ph #section_wrap02 .inner:nth-of-type(1) .image {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -777px; }
#hk_and_ph #section_wrap02 .inner:nth-of-type(2) {
  padding-bottom: 165px; }
  #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .text_wrap {
    width: 440px;
    padding: 80px 0 0 60px;
    float: left; }
    #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .text_wrap .copy {
      margin-bottom: 25px; }
    #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .text_wrap .btn {
      margin: 35px 0 0 0; }
  #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .slide_wrap {
    float: right;
    width: 580px;
    margin-right: 60px; }
    #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls {
      height: 100%; }
      #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-pager {
        position: absolute;
        top: 405px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1; }
      #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction {
        display: block;
        height: 390px; }
        #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction a {
          width: 45px;
          height: 45px;
          background: url("../../kitchenitems/assets/img/hk_and_ph/icon_arrow.png") no-repeat 17px center;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 50%;
          top: 50%;
          margin-top: -22.5px; }
          #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
            left: -22px; }
          #hk_and_ph #section_wrap02 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
            right: -22px;
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
#hk_and_ph #section_wrap03 {
  background-color: #f2f2f2; }
  #hk_and_ph #section_wrap03 .inner {
    padding: 70px 0; }
    #hk_and_ph #section_wrap03 .inner .text_wrap {
      width: 480px;
      float: right;
      margin: 30px 60px 0 0; }
      #hk_and_ph #section_wrap03 .inner .text_wrap .name {
        position: relative;
        margin-bottom: 35px; }
        #hk_and_ph #section_wrap03 .inner .text_wrap .name span {
          position: relative;
          z-index: 1;
          background-color: #f2f2f2; }
        #hk_and_ph #section_wrap03 .inner .text_wrap .name:after {
          content: "";
          display: block;
          background-color: #dedede;
          height: 1px;
          width: 100%;
          top: 50%;
          position: absolute; }
      #hk_and_ph #section_wrap03 .inner .text_wrap .copy {
        margin-bottom: 35px; }
    #hk_and_ph #section_wrap03 .inner .image {
      float: left;
      margin-left: 60px; }
#hk_and_ph .lineup_wrap {
  padding: 85px 0 80px; }
  #hk_and_ph .lineup_wrap ul {
    text-align: center;
    letter-spacing: -.4em; }
    #hk_and_ph .lineup_wrap ul li {
      display: inline-block;
      margin-left: 120px;
      text-align: center;
      letter-spacing: normal;
      position: relative; }
      #hk_and_ph .lineup_wrap ul li:after {
        content: "";
        display: block;
        position: absolute;
        display: block;
        background-color: #dedede;
        width: 1px;
        height: 100%;
        left: -60px;
        top: 0; }
      #hk_and_ph .lineup_wrap ul li:first-child {
        margin-left: 0; }
        #hk_and_ph .lineup_wrap ul li:first-child:after {
          content: none; }
      #hk_and_ph .lineup_wrap ul li .text {
        line-height: 1.87;
        margin: 10px 0 20px; }

/* ------------------- apron_and_cloth ------------------- */
#apron_and_cloth #page_title_wrap #kv_inner {
  top: 40%; }
#apron_and_cloth #page_title_wrap .movie#bg:after {
  background: url("../../kitchenitems/assets/img/apron_and_cloth/kv_bg.jpg") no-repeat center center; }
#apron_and_cloth #section_wrap01 {
  padding-top: 128px;
  height: 783px;
  position: relative; }
  #apron_and_cloth #section_wrap01 .text_wrap {
    padding-left: 90px;
    position: relative;
    z-index: 1; }
    #apron_and_cloth #section_wrap01 .text_wrap .copy {
      margin-bottom: 25px; }
      #apron_and_cloth #section_wrap01 .text_wrap .copy:after {
        content: "";
        display: block;
        background-color: #222426;
        height: 2px;
        width: 50px;
        margin-top: 28px; }
    #apron_and_cloth #section_wrap01 .text_wrap .text {
      margin-bottom: 35px; }
    #apron_and_cloth #section_wrap01 .text_wrap .btn {
      margin-left: 0; }
  #apron_and_cloth #section_wrap01 .bg {
    margin-left: -300px;
    top: 0;
    position: absolute;
    left: 50%; }
#apron_and_cloth #section_wrap02 .text_wrap {
  text-align: center; }
  #apron_and_cloth #section_wrap02 .text_wrap .copy {
    margin-bottom: 30px; }
  #apron_and_cloth #section_wrap02 .text_wrap .text {
    margin-bottom: 40px; }
#apron_and_cloth #section_wrap02 ul {
  text-align: center;
  letter-spacing: -.4em; }
  #apron_and_cloth #section_wrap02 ul li {
    display: inline-block;
    letter-spacing: normal;
    margin-left: 105px;
    text-align: center;
    position: relative; }
    #apron_and_cloth #section_wrap02 ul li p {
      margin-top: 15px; }
    #apron_and_cloth #section_wrap02 ul li:first-child {
      margin-left: 0; }
#apron_and_cloth #feature {
  width: 1080px;
  margin: 70px auto; }
  #apron_and_cloth #feature .title {
    text-align: center;
    position: relative;
    margin-bottom: 20px; }
    #apron_and_cloth #feature .title:before {
      content: "";
      display: block;
      background-color: #dedede;
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%; }
    #apron_and_cloth #feature .title img {
      position: relative;
      z-index: 1;
      padding: 0 20px;
      background-color: #fff; }
  #apron_and_cloth #feature ul {
    letter-spacing: -.4em;
    text-align: center; }
    #apron_and_cloth #feature ul li {
      display: inline-block;
      margin-left: 40px;
      width: 182px;
      letter-spacing: normal; }
      #apron_and_cloth #feature ul li p {
        margin-top: 10px; }
      #apron_and_cloth #feature ul li:first-child {
        margin-left: 0; }
#apron_and_cloth #section_wrap03 {
  position: relative; }
  #apron_and_cloth #section_wrap03:after {
    content: "";
    display: block;
    background-color: #dedede;
    height: 1px;
    width: 750px;
    position: absolute;
    left: 50%;
    top: 90px;
    margin-left: -210px;
    z-index: 2; }
  #apron_and_cloth #section_wrap03 .inner:nth-of-type(1) {
    padding: 230px 0 0;
    height: 520px; }
    #apron_and_cloth #section_wrap03 .inner:nth-of-type(1) .text_wrap {
      width: 440px;
      padding-left: 700px; }
      #apron_and_cloth #section_wrap03 .inner:nth-of-type(1) .text_wrap .copy {
        margin-bottom: 25px; }
        #apron_and_cloth #section_wrap03 .inner:nth-of-type(1) .text_wrap .copy:after {
          content: "";
          display: block;
          background-color: #222426;
          height: 2px;
          width: 50px;
          margin-top: 28px; }
      #apron_and_cloth #section_wrap03 .inner:nth-of-type(1) .text_wrap .btn {
        margin: 35px 0 0 0; }
    #apron_and_cloth #section_wrap03 .inner:nth-of-type(1) .image {
      position: absolute;
      left: 50%;
      top: -44px;
      margin-left: -800px;
      z-index: 1; }
  #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) {
    padding-bottom: 165px; }
    #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .text_wrap {
      width: 440px;
      padding: 105px 0 0 60px;
      float: left; }
      #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .text_wrap .copy {
        margin-bottom: 25px; }
      #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .text_wrap .btn {
        margin: 35px 0 0 0; }
    #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .slide_wrap {
      float: right;
      width: 580px;
      margin-right: 60px; }
      #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls {
        height: 100%; }
        #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-pager {
          position: absolute;
          top: 405px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 1; }
        #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction {
          display: block;
          height: 390px; }
          #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction a {
            width: 45px;
            height: 45px;
            background: url("../../kitchenitems/assets/img/hk_and_ph/icon_arrow.png") no-repeat 17px center;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            top: 50%;
            margin-top: -22.5px; }
            #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
              left: -22px; }
            #apron_and_cloth #section_wrap03 .inner:nth-of-type(2) .slide_wrap .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
              right: -22px;
              -moz-transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
#apron_and_cloth #section_wrap04 {
  background-color: #f2f2f2; }
  #apron_and_cloth #section_wrap04 .inner {
    padding: 70px 0; }
    #apron_and_cloth #section_wrap04 .inner .text_wrap {
      width: 480px;
      float: right;
      margin: 30px 60px 0 0; }
      #apron_and_cloth #section_wrap04 .inner .text_wrap .name {
        position: relative;
        margin-bottom: 35px; }
        #apron_and_cloth #section_wrap04 .inner .text_wrap .name span {
          position: relative;
          z-index: 1;
          background-color: #f2f2f2; }
        #apron_and_cloth #section_wrap04 .inner .text_wrap .name:after {
          content: "";
          display: block;
          background-color: #dedede;
          height: 1px;
          width: 100%;
          top: 50%;
          position: absolute; }
      #apron_and_cloth #section_wrap04 .inner .text_wrap .copy {
        margin-bottom: 35px; }
    #apron_and_cloth #section_wrap04 .inner .image {
      float: left;
      margin-left: 60px; }
#apron_and_cloth .lineup_wrap {
  padding: 75px 0 80px; }
  #apron_and_cloth .lineup_wrap ul {
    text-align: center;
    letter-spacing: -.4em; }
    #apron_and_cloth .lineup_wrap ul li {
      display: inline-block;
      margin-left: 230px;
      text-align: center;
      letter-spacing: normal;
      position: relative; }
      #apron_and_cloth .lineup_wrap ul li:after {
        content: "";
        display: block;
        position: absolute;
        display: block;
        background-color: #dedede;
        width: 1px;
        height: 100%;
        left: -115px;
        top: 0; }
      #apron_and_cloth .lineup_wrap ul li:first-child {
        margin-left: 0; }
        #apron_and_cloth .lineup_wrap ul li:first-child:after {
          content: none; }
      #apron_and_cloth .lineup_wrap ul li .text {
        line-height: 1.87;
        margin: 10px 0 20px; }
