@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* element */
/* font */
/* [ font style ]
-------------------------------------------------*/
@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff"); }

/* [ opacity ]
-------------------------------------------------*/
/* [ display style ]
-------------------------------------------------*/
/* [ easing style ]
-------------------------------------------------*/
/* [ Hover Motion style ]
-------------------------------------------------*/
/* [ icon style ]
-------------------------------------------------*/
/* [ form parts ]
-------------------------------------------------*/
@font-face {
  font-family: Times;
  font-weight: 400;
  font-style: normal;
  src: url("../font/times/times_italic.woff2") format("woff2"), url("../font/times/times_italic.woff") format("woff"), url("../font/times/times_italic.ttf") format("truetype"); }

#rp_new_color {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* -------------------- #kv -------------------- */
  /* -------------------- #main -------------------- */
  /* -------------------- .scene -------------------- */
  /* -------------------- .color -------------------- */
  /* -------------------- .detail -------------------- */
  /* -------------------- #gray -------------------- */
  /* -------------------- #white -------------------- */
  /* -------------------- .spec_order -------------------- */
  /* -------------------- js -------------------- */ }
  #rp_new_color #scroll-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; }
    #rp_new_color #scroll-container #scroll-body {
      width: 100%;
      position: fixed;
      will-change: transform; }
    #rp_new_color #scroll-container .js__para {
      will-change: transform; }
  #rp_new_color #page_top.show {
    right: 62px; }
  #rp_new_color #kv-content {
    background-color: #000;
    overflow: hidden; }
    #rp_new_color #kv-content #kv-content__inner {
      width: 100%;
      height: 100vh;
      min-height: 800px;
      position: relative; }
      #rp_new_color #kv-content #kv-content__inner .page_title {
        position: absolute;
        width: 290px;
        height: 53px;
        left: 0;
        right: 0;
        top: 50%;
        margin: auto;
        z-index: 1;
        text-align: center; }
        #rp_new_color #kv-content #kv-content__inner .page_title > * {
          overflow: hidden;
          display: block;
          position: relative; }
          #rp_new_color #kv-content #kv-content__inner .page_title > * img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: auto; }
        #rp_new_color #kv-content #kv-content__inner .page_title .top {
          color: #fff;
          font-family: 'Times';
          height: 22px;
          margin-bottom: 20px;
          font-size: 29px; }
          #rp_new_color #kv-content #kv-content__inner .page_title .top > * {
            line-height: 22px;
            vertical-align: top; }
        #rp_new_color #kv-content #kv-content__inner .page_title .bottom {
          height: 13px; }
      #rp_new_color #kv-content #kv-content__inner .bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/new_color/img_kv.jpg") no-repeat center center;
        background-size: cover; }
      #rp_new_color #kv-content #kv-content__inner #scroll_down {
        width: 36px;
        height: 41px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 61px;
        margin: auto;
        -ms-filter: "alpha(opacity=$num)";
        /* IE8 */
        opacity: 0; }
        #rp_new_color #kv-content #kv-content__inner #scroll_down div {
          line-height: 1; }
        #rp_new_color #kv-content #kv-content__inner #scroll_down .text {
          margin-bottom: 12px; }
        #rp_new_color #kv-content #kv-content__inner #scroll_down .arrow {
          position: relative; }
    #rp_new_color #kv-content.sp #kv-content__inner {
      width: 100%;
      height: 800px; }
  #rp_new_color #main-content {
    text-align: center;
    padding-top: 115px;
    padding-bottom: 30px; }
    #rp_new_color #main-content .title {
      font-family: 'Times';
      font-size: 75px;
      line-height: .97;
      margin-bottom: 30px; }
      #rp_new_color #main-content .title > *:first-of-type {
        width: 175px;
        margin-right: -10px; }
    #rp_new_color #main-content #ricepot_image {
      width: 1200px;
      margin: 65px auto 0;
      position: relative; }
      #rp_new_color #main-content #ricepot_image #color-white {
        position: absolute;
        width: 554px;
        height: 382px;
        left: 50%;
        top: 0px;
        margin-left: -272px; }
  #rp_new_color .scene-content__inner {
    position: relative; }
  #rp_new_color .scene-content__title {
    text-align: center;
    position: relative;
    padding-bottom: 85px; }
    #rp_new_color .scene-content__title .text {
      font-family: 'Times';
      font-size: 24px; }
      #rp_new_color .scene-content__title .text > * {
        overflow: hidden; }
        #rp_new_color .scene-content__title .text > *:nth-child(2) {
          width: 30px;
          margin-left: -3px;
          margin-right: -2px; }
    #rp_new_color .scene-content__title .object01,
    #rp_new_color .scene-content__title .object02 {
      position: absolute;
      display: block;
      width: 1px;
      height: 78px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2; }
    #rp_new_color .scene-content__title .object01 {
      background-color: #44484c;
      bottom: 0; }
    #rp_new_color .scene-content__title .object02 {
      background-color: #fff;
      bottom: -78px; }
  #rp_new_color .scene-content__image {
    position: relative;
    max-width: 1920px;
    min-width: 1024px; }
    #rp_new_color .scene-content__image .image01,
    #rp_new_color .scene-content__image .image02 {
      position: absolute;
      width: 100%;
      height: 100%; }
      #rp_new_color .scene-content__image .image01 .bg,
      #rp_new_color .scene-content__image .image02 .bg {
        width: 100%;
        height: 100%;
        display: block; }
    #rp_new_color .scene-content__image .image01 {
      z-index: 1; }
  #rp_new_color .color-content {
    width: 960px;
    margin: 0 auto; }
    #rp_new_color .color-content__inner {
      position: relative; }
    #rp_new_color .color-content__title-color {
      display: block;
      overflow: hidden;
      position: relative; }
      #rp_new_color .color-content__title-color * {
        font-family: 'Times';
        font-size: 26px;
        display: inline-block;
        vertical-align: middle; }
      #rp_new_color .color-content__title-color .line {
        content: "";
        width: 120px;
        height: 1px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 130px;
        vertical-align: middle; }
      #rp_new_color .color-content__title-color .number {
        padding-left: 148px; }
    #rp_new_color .color-content__title-name {
      display: block;
      position: relative;
      overflow: hidden; }
      #rp_new_color .color-content__title-name img {
        position: relative;
        z-index: 1; }
      #rp_new_color .color-content__title-name .bg {
        position: absolute;
        display: block;
        top: 1px;
        left: 2px; }
    #rp_new_color .color-content__text {
      width: 365px;
      position: relative;
      z-index: 3; }
      #rp_new_color .color-content__text .title .concept,
      #rp_new_color .color-content__text .title .copy {
        display: block; }
      #rp_new_color .color-content__text .title .concept {
        font-family: 'Times';
        font-size: 14px; }
      #rp_new_color .color-content__text .title .copy {
        font-size: 26px;
        margin-top: 15px;
        margin-bottom: 20px;
        font-family: "游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝B", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif; }
      #rp_new_color .color-content__text .text {
        line-height: 2.2; }
    #rp_new_color .color-content__image {
      position: absolute;
      left: 50%;
      z-index: 2; }
  #rp_new_color .detail-content {
    width: 960px;
    margin: 0 auto; }
    #rp_new_color .detail-content__inner {
      position: relative; }
    #rp_new_color .detail-content__caption {
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      font-family: 'Times';
      font-size: 16px;
      display: block;
      position: absolute;
      left: 50%;
      top: 40px;
      width: 90px;
      height: 22px; }
    #rp_new_color .detail-content__text {
      padding-top: 440px;
      margin-bottom: 220px;
      margin-left: 100px;
      width: 440px;
      position: relative;
      z-index: 1; }
      #rp_new_color .detail-content__text-inner {
        background-color: #fff; }
        #rp_new_color .detail-content__text-inner .title {
          font-size: 26px;
          padding: 50px 0 0 60px;
          margin-bottom: 20px;
          font-family: "游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝B", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif;
          letter-spacing: 0.05em;
          line-height: 1.37; }
          #rp_new_color .detail-content__text-inner .title .carning {
            letter-spacing: -0.05em; }
        #rp_new_color .detail-content__text-inner .text {
          padding: 0 60px 50px 60px;
          line-height: 2.2; }
    #rp_new_color .detail-content__image .image01,
    #rp_new_color .detail-content__image .image02 {
      position: absolute;
      left: 50%;
      top: 0; }
      #rp_new_color .detail-content__image .image01 > *,
      #rp_new_color .detail-content__image .image02 > * {
        width: 440px;
        height: 440px; }
    #rp_new_color .detail-content__image .image01 {
      top: 60px; }
    #rp_new_color .detail-content__image .image02 {
      top: 395px; }
    #rp_new_color .detail-content__image > .left {
      margin-left: -440px; }
  #rp_new_color #new_color_gray {
    overflow: hidden; }
    #rp_new_color #new_color_gray .scene-content__image .image01 {
      left: 0;
      top: 0;
      overflow: hidden;
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      #rp_new_color #new_color_gray .scene-content__image .image01 > * {
        width: 81.5%;
        padding-top: 44%;
        overflow: hidden;
        position: relative; }
        #rp_new_color #new_color_gray .scene-content__image .image01 > * > * {
          width: 115%;
          display: block;
          position: absolute;
          left: 1%;
          top: 0; }
      #rp_new_color #new_color_gray .scene-content__image .image01 .bg {
        background: url("../img/new_color/img_gray_scene.jpg") no-repeat left top;
        background-size: cover; }
    #rp_new_color #new_color_gray .scene-content__image .image02 {
      top: 60%; }
      #rp_new_color #new_color_gray .scene-content__image .image02 > * {
        width: 25%;
        padding-top: 11%;
        float: right; }
      #rp_new_color #new_color_gray .scene-content__image .image02 .bg {
        background: url("../img/new_color/img_gray_bg.png") no-repeat left top;
        background-size: cover; }
    #rp_new_color #new_color_gray .color-content {
      margin-top: 110px;
      padding-bottom: 310px; }
      #rp_new_color #new_color_gray .color-content__title-color {
        margin-left: 390px;
        margin-bottom: 40px; }
        #rp_new_color #new_color_gray .color-content__title-color .line {
          background-color: #594e4c; }
        @supports (-webkit-background-clip: text) {
          #rp_new_color #new_color_gray .color-content__title-color .en,
          #rp_new_color #new_color_gray .color-content__title-color .number {
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: url("../img/new_color/bg_gray.png");
            background-position: left bottom; } }
        @supports not (-webkit-background-clip: text) {
          #rp_new_color #new_color_gray .color-content__title-color .en,
          #rp_new_color #new_color_gray .color-content__title-color .number {
            color: #594e4c; } }
      #rp_new_color #new_color_gray .color-content__title-name {
        margin-left: 100px;
        width: 521px; }
        #rp_new_color #new_color_gray .color-content__title-name .bg {
          width: 517px;
          height: 333px;
          background: url("../img/new_color/bg_gray.png") no-repeat center center;
          background-size: 962px 827px;
          background-position: 0 0; }
      #rp_new_color #new_color_gray .color-content__text {
        margin-top: 65px; }
      #rp_new_color #new_color_gray .color-content__image {
        margin-left: -302px;
        top: 340px; }
    #rp_new_color #new_color_gray .detail-content__caption {
      margin-left: -15px; }
    #rp_new_color #new_color_gray .detail-content__text {
      margin-bottom: 240px; }
  #rp_new_color #new_color_white {
    overflow: hidden; }
    #rp_new_color #new_color_white .scene-content__image .image01 {
      left: 12%;
      top: 0;
      overflow: hidden;
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      #rp_new_color #new_color_white .scene-content__image .image01 > * {
        width: 88%;
        padding-top: 48%;
        overflow: hidden;
        position: relative; }
        #rp_new_color #new_color_white .scene-content__image .image01 > * > * {
          width: 115%;
          display: block;
          position: absolute;
          left: -7%;
          top: 0; }
      #rp_new_color #new_color_white .scene-content__image .image01 .bg {
        background: url("../img/new_color/img_white_scene.jpg") no-repeat right top;
        background-size: cover; }
    #rp_new_color #new_color_white .scene-content__image .image02 {
      top: 518px; }
      #rp_new_color #new_color_white .scene-content__image .image02 > * {
        width: 24%; }
      #rp_new_color #new_color_white .scene-content__image .image02 .bg {
        background: url("../img/new_color/img_white_bg.png") no-repeat left top;
        background-size: cover; }
    #rp_new_color #new_color_white .color-content {
      margin-top: 100px;
      padding-bottom: 310px; }
      #rp_new_color #new_color_white .color-content__inner:after {
        content: "";
        display: block;
        clear: both; }
      #rp_new_color #new_color_white .color-content__title-color {
        margin-left: 350px;
        margin-bottom: 20px; }
        #rp_new_color #new_color_white .color-content__title-color .line {
          background-color: #3e5861; }
        @supports (-webkit-background-clip: text) {
          #rp_new_color #new_color_white .color-content__title-color .en,
          #rp_new_color #new_color_white .color-content__title-color .number {
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: url("../img/new_color/bg_white.png");
            background-position: left bottom; } }
        @supports not (-webkit-background-clip: text) {
          #rp_new_color #new_color_white .color-content__title-color .en,
          #rp_new_color #new_color_white .color-content__title-color .number {
            color: #3e5861; } }
      #rp_new_color #new_color_white .color-content__title-name {
        margin-left: 420px;
        width: 527px; }
        #rp_new_color #new_color_white .color-content__title-name .bg {
          width: 522px;
          height: 298px;
          background: url("../img/new_color/bg_white.png") no-repeat center center;
          background-size: 1082px 748px;
          background-position: right -408px; }
      #rp_new_color #new_color_white .color-content__text {
        margin-top: 105px;
        margin-right: -60px;
        float: right; }
      #rp_new_color #new_color_white .color-content__image {
        margin-left: -957px;
        top: 305px; }
    #rp_new_color #new_color_white .detail-content__caption {
      margin-left: -70px; }
    #rp_new_color #new_color_white .detail-content__text {
      margin-left: 420px; }
      #rp_new_color #new_color_white .detail-content__text .title > *:first-of-type {
        letter-spacing: -0.08em; }
      #rp_new_color #new_color_white .detail-content__text .title > *:nth-of-type(2) {
        letter-spacing: -0.02em; }
  #rp_new_color .spec_order-content__inner {
    position: relative; }
  #rp_new_color .spec_order-content__title {
    text-align: center;
    position: relative;
    padding-bottom: 73px; }
    #rp_new_color .spec_order-content__title .text {
      font-family: 'Times';
      font-size: 24px; }
      #rp_new_color .spec_order-content__title .text > * {
        overflow: hidden; }
    #rp_new_color .spec_order-content__title .object01,
    #rp_new_color .spec_order-content__title .object02 {
      position: absolute;
      display: block;
      width: 1px;
      height: 78px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2; }
    #rp_new_color .spec_order-content__title .object01 {
      background-color: #44484c;
      top: 47px; }
    #rp_new_color .spec_order-content__title .object02 {
      background-color: #fff;
      top: 125px; }
  #rp_new_color .spec_order-content__btn {
    position: relative;
    width: 100%;
    height: 500px; }
    #rp_new_color .spec_order-content__btn-bg:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/new_color/bg_spec_order.jpg") no-repeat center center;
      background-size: cover; }
    #rp_new_color .spec_order-content__btn-bg .btn_wrap {
      position: relative;
      z-index: 1;
      text-align: center; }
      #rp_new_color .spec_order-content__btn-bg .btn_wrap .btn {
        display: inline-block;
        margin: 226px 12px 0; }
  #rp_new_color .js__photo-fade > * {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
    #rp_new_color .js__photo-fade > * > * {
      display: block;
      position: absolute;
      left: 0;
      top: 0; }
  #rp_new_color .js__text-fade > * {
    overflow-y: hidden !important;
    overflow-x: visible !important; }
  #rp_new_color .js__plane-text > span {
    display: block; }
  #rp_new_color .js__scr-par {
    transition: all 0.028s ease-in;
    -moz-transition: all 0.028s ease-in;
    -webkit-transition: all 0.028s ease-in;
    -ms-transition: all 0.028s ease-in; }
  #rp_new_color .js__scr-para {
    display: block; }

html.mobile #rp_new_color #scroll-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: inherit; }
  html.mobile #rp_new_color #scroll-container #scroll-body {
    width: 100%;
    position: relative;
    will-change: none; }
  html.mobile #rp_new_color #scroll-container .js__para {
    will-change: none; }

.gnav_bottom {
  margin-top: -1px; }
