#rp_philosophy #rpr_page_title_wrap {
  background-image: url(../img/philosophy/kv_bg.jpg);
  margin-bottom: 78px;
}

#rp_philosophy .main_content {
  width: 1080px;
  margin: 0 auto;
  margin-bottom: 175px;
  max-height: 100%;
}

#rp_philosophy .main_content #section01,
#rp_philosophy .main_content #section02,
#rp_philosophy .main_content #section03 {
  text-align: center;
}

#rp_philosophy .main_content #section01 .section_copy .reason,
#rp_philosophy .main_content #section02 .section_copy .reason,
#rp_philosophy .main_content #section03 .section_copy .reason {
  position: relative;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
  border-top: 1px solid #e6e6e6;
}

#rp_philosophy .main_content #section01 .section_copy .reason:after,
#rp_philosophy .main_content #section02 .section_copy .reason:after,
#rp_philosophy .main_content #section03 .section_copy .reason:after {
  content: "";
  display: block;
  position: absolute;
  width: 65px;
  height: 2px;
  left: 47%;
  bottom: -20px;
  background-color: #000;
}

#rp_philosophy .main_content #section01 .section_copy .reason_title,
#rp_philosophy .main_content #section02 .section_copy .reason_title,
#rp_philosophy .main_content #section03 .section_copy .reason_title {
  margin-bottom: 80px;
  text-align: center;
}

#rp_philosophy .main_content #section01 ul,
#rp_philosophy .main_content #section02 ul,
#rp_philosophy .main_content #section03 ul {
  width: 1080px;
  margin: 0 auto;
}

#rp_philosophy .main_content #section01 li,
#rp_philosophy .main_content #section02 li,
#rp_philosophy .main_content #section03 li {
  padding: 50px 0;
  border-bottom: 1px solid #e6e6e6;
}

#rp_philosophy .main_content #section01 li:first-child,
#rp_philosophy .main_content #section02 li:first-child,
#rp_philosophy .main_content #section03 li:first-child {
  padding-top: 0;
}

#rp_philosophy .main_content #section01 li .copy,
#rp_philosophy .main_content #section02 li .copy,
#rp_philosophy .main_content #section03 li .copy {
  float: left;
  width: 445px;
  margin-right: 55px;
}

#rp_philosophy .main_content #section01 li .copy h3,
#rp_philosophy .main_content #section02 li .copy h3,
#rp_philosophy .main_content #section03 li .copy h3 {
  padding: 111px 0 24px;
}

#rp_philosophy .main_content #section01 li .copy p,
#rp_philosophy .main_content #section02 li .copy p,
#rp_philosophy .main_content #section03 li .copy p {
  font-size: 13px;
  line-height: 200%;
  letter-spacing: 0.01em;
}

#rp_philosophy .main_content #section01 li .image,
#rp_philosophy .main_content #section02 li .image,
#rp_philosophy .main_content #section03 li .image {
  float: right;
}

#rp_philosophy .main_content #section01 li .image.left,
#rp_philosophy .main_content #section02 li .image.left,
#rp_philosophy .main_content #section03 li .image.left {
  float: left;
}

#rp_philosophy .main_content #section01 li:nth-child(2),
#rp_philosophy .main_content #section02 li:nth-child(2),
#rp_philosophy .main_content #section03 li:nth-child(2) {
  border-top: none;
}

#rp_philosophy .main_content #section01 li:nth-child(2) .copy h3,
#rp_philosophy .main_content #section02 li:nth-child(2) .copy h3,
#rp_philosophy .main_content #section03 li:nth-child(2) .copy h3 {
  padding: 111px 0 24px;
}

#rp_philosophy .main_content #section01 li:last-child .copy,
#rp_philosophy .main_content #section02 li:last-child .copy,
#rp_philosophy .main_content #section03 li:last-child .copy {
  margin-right: 0;
}

#rp_philosophy .main_content #section01 li:last-child .copy h3,
#rp_philosophy .main_content #section02 li:last-child .copy h3,
#rp_philosophy .main_content #section03 li:last-child .copy h3 {
  padding-top: 114px;
}

#rp_philosophy .main_content #section01 .sub_title,
#rp_philosophy .main_content #section02 .sub_title,
#rp_philosophy .main_content #section03 .sub_title {
  padding-top: 50px;
  padding-bottom: 60px;
}

#rp_philosophy .main_content #section01 .sub_title h3,
#rp_philosophy .main_content #section02 .sub_title h3,
#rp_philosophy .main_content #section03 .sub_title h3 {
  margin-bottom: 30px;
}

#rp_philosophy .main_content #section01 .title_text,
#rp_philosophy .main_content #section02 .title_text,
#rp_philosophy .main_content #section03 .title_text {
  width: 725px;
  margin: 0 auto;
  text-align: center;
  line-height: 200%;
  letter-spacing: 0.01em;
}

#rp_philosophy .main_content #section01 .image_container,
#rp_philosophy .main_content #section02 .image_container,
#rp_philosophy .main_content #section03 .image_container {
  margin-bottom: 100px;
}

#rp_philosophy .main_content #section01 .image_container .image,
#rp_philosophy .main_content #section02 .image_container .image,
#rp_philosophy .main_content #section03 .image_container .image {
  float: right;
}

#rp_philosophy .main_content #section01 .image_container .image.left,
#rp_philosophy .main_content #section02 .image_container .image.left,
#rp_philosophy .main_content #section03 .image_container .image.left {
  float: left;
}

#rp_philosophy .main_content #section01 .image_container .image.right img {
  margin-right: 45px;
}

#rp_philosophy .main_content #section02 li:last-child .copy h3 {
  padding-top: 40px;
}

#rp_philosophy .main_content #section03 .section_copy .reason_title {
  margin-bottom: 35px;
}

#rp_philosophy .main_content #section03 .section_copy .reason_text {
  margin-bottom: 70px;
}

#rp_philosophy .main_content #section03 .image_container {
  margin-bottom: 0;
  text-align: center;
}

#rp_philosophy .main_content #section03 .image_container img {
  display: block;
}

#rp_philosophy .main_content #section03 .image_container p {
  font-size: 10px;
}

#rp_philosophy .main_content #section03 .image_container .graph_rod {
  margin-left: 20px;
}

#rp_philosophy .main_content #section03 .image_container .graph_rod .image_text {
  margin-bottom: 50px;
  text-align: left;
}

#rp_philosophy .main_content #section03 .image_container .graph_rod .rod {
  margin-left: 5px;
}

#rp_philosophy .main_content #section03 .image_container .graph_rod p {
  margin-top: 55px;
}

#rp_philosophy .main_content #section03 .image_container .graph_circle .image_text {
  margin-bottom: 85px;
}

#rp_philosophy .main_content #section03 .image_container .graph_circle .circle {
  margin: 0 auto;
  margin-right: 90px;
}

#rp_philosophy .main_content #section03 .image_container .graph_circle p {
  margin-top: 63px;
}
