#rp_shoplist #rpr_page_title_wrap {
  background-image: url(../img/shoplist/kv_bg.jpg);
  margin-bottom: 37px;
}

#rp_shoplist #section01 {
  width: 960px;
  margin: 0 auto 80px;
}

#rp_shoplist #section01 nav a {
  float: left;
  width: 137px;
  padding: 40px 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #dddde4;
  color: #dcdcdc;
  opacity: 0.5;
}

#rp_shoplist #section01 nav a:hover {
  border-bottom-color: #222426;
}

#rp_shoplist #section01 nav a.on {
  border-bottom-color: #222426;
  pointer-events: none;
  opacity: 1;
}

#rp_shoplist .tab_cont {
  display: none;
  width: 960px;
  margin: 0 auto 120px;
}

#rp_shoplist .tab_cont.on {
  display: block;
}

#rp_shoplist .tab_cont h2 {
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 1px;
}

#rp_shoplist .tab_cont ul {
  margin-top: 20px;
  margin-bottom: 61px;
}

#rp_shoplist .tab_cont ul:last-child {
  margin-bottom: 0;
}

#rp_shoplist .tab_cont ul li {
  padding: 20px 0;
  border-top: 1px solid #dddde4;
}

#rp_shoplist .tab_cont ul li:last-child {
  border-bottom: 1px solid #dddde4;
}

#rp_shoplist .tab_cont ul li h3 {
  width: 286px;
  padding: 10px 28px 10px 30px;
  font-size: 13px;
  letter-spacing: 1px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#rp_shoplist .tab_cont ul li h3 a {
  text-decoration: none;
}

#rp_shoplist .tab_cont ul li p {
  width: 357px;
  padding: 10px 28px 10px 30px;
  font-size: 13px;
  letter-spacing: 1px;
  border-left: 1px solid #dddde4;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#rp_shoplist .tab_cont ul li p + p {
  width: 141px;
}
