#rp_spec #rpr_page_title_wrap {
  background-image: url(../img/spec/kv_bg.jpg);
  margin-bottom: 103px;
}
#rp_spec #section01 {
  width: 960px;
  margin: 0 auto 40px;
}
#rp_spec #section01 .image {
  float: left;
}
#rp_spec #section01 .image.left {
  padding-left: 93px;
}
#rp_spec #section01 .image.right {
  padding-top: 15px;
  padding-left: 102px;
}
#rp_spec table {
  width: 100%;
}
#rp_spec table thead th {
  padding: 12px 0 13px;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #eceeef;
  border-bottom: 1px solid #eceeef;
}
#rp_spec table tbody th {
  width: 119px;
  padding: 12px 0 13px 1px;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  vertical-align: middle;
  border-bottom: 1px solid #dddde4;
}
#rp_spec table tbody td {
  padding: 12px 0 13px 40px;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  vertical-align: middle;
  border-left: 1px solid #dddde4;
  border-bottom: 1px solid #dddde4;
}
#rp_spec table tbody td li {
  line-height: 25px;
}
#rp_spec table tbody .text_center {
  text-align: center;
  padding-left: 0;
}
#rp_spec table tbody .no_space {
  letter-spacing: 0;
}
#rp_spec #section02 {
  width: 960px;
  margin: 0 auto 90px;
}
#rp_spec #section03 {
  width: 960px;
  margin: 0 auto 105px;
}
#rp_spec #section03 table thead tr th:first-child {
  width: 119px;
}
#rp_spec #section03 table tbody tr .separate {
  padding: 0;
}
#rp_spec #section03 table tbody tr .separate dl {
  float: left;
  width: 270px;
}
#rp_spec #section03 table tbody tr .separate dl:last-child {
  width: 207px;
  border-left: 1px solid #dddde4;
}
#rp_spec #section03 table tbody tr .separate dl:last-child dt {
  padding: 27px 0 28px;
}
#rp_spec #section03 table tbody tr .separate dl:last-child dd {
  padding-left: 18px;
}
#rp_spec #section03 table tbody tr .separate dl dt {
  padding: 15px 0;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid #dddde4;
}
#rp_spec #section03 table tbody tr .separate dl dd {
  padding: 15px 0 20px 40px;
  line-height: 25px;
  letter-spacing: 1px;
}

#section04 {
  width: 960px;
  margin: 0 auto 120px;
}
#section04 table thead tr th:first-child {
  width: 119px;
}
#section04 table tbody tr td {
  width: 300px;
}
#section04 table tbody tr td:last-child {
  width: 478px;
}
#section04 table tbody tr .rice_mode {
  padding-left: 32px;
}
#section04 table tbody tr .separate {
  padding: 0;
}
#section04 table tbody tr .separate dl {
  width: 270px;
}
#section04 table tbody tr .separate dl:last-child {
  width: 207px;
  border-left: 1px solid #dddde4;
}
#section04 table tbody tr .separate dl:last-child dt {
  padding: 27px 0 28px;
}
#section04 table tbody tr .separate dl:last-child dd {
  padding-left: 18px;
}
#section04 table tbody tr .separate dl dt {
  float: left;
  padding: 15px 0;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid #dddde4;
}
#section04 table tbody tr .separate dl dd {
  float: right;
  padding: 15px 0 20px 40px;
  line-height: 25px;
  letter-spacing: 1px;
}

.figureBlock {
  margin-bottom: 20px;
  text-align: center;
}

.text_area {
  margin-top: 18px;
}
.text_area p {
  letter-spacing: 1.2;
}
