@charset "utf-8";

@import "../_sass_common/mixin";

/* #header
-------------------------------------------------- */

#header{
	background: #000;
	padding: 28px;
	position: relative;
	h1,h2{
		position: relative;
		z-index: 10;
	}
	h1{
		position: absolute;
		top: -34px; left: 28px;
		/* @include opacity(0);
		@include easing-out(0.4);
		&.show{
			@include opacity(100);
			top: 28px;
		} */
	}
	h2.copy{
		position: absolute;
		z-index: 10;
		width: 600px;
		left: 50%;
		margin-left: -294px;
		span{
			position: relative;
			// left: -10px;
			opacity: 0;
			margin-left: 3px;
			display: inline-block;
		}
	}
	/* p{
		text-align: center;
	} */
	#bg{
		width: 100%; height: 100%;
		left: 0; top: 0;
		position: absolute;
		//opacity: 0;
		background-image: url("http://static.vermicular.jp/www/img/top/kv/bg_main01.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		/* -webkit-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px); */
		//@include easing-out(2.5);
		&.slide02{
			background-image: url("http://static.vermicular.jp/www/img/top/kv/bg_main02.jpg");
		}
		&.slide03{
			background-image: url("http://static.vermicular.jp/www/img/top/kv/bg_main03.jpg");
		}
		&.show{
			width: 100%; height: 100%;
			left: 0; top: 0;
			-webkit-filter: blur(0px);
			-ms-filter: blur(0px);
			filter: blur(0px);
			opacity: 1;
		}
	}
	#scroll_down{
		width: 36px; height: 41px;
		position: absolute;
		bottom: 30px;
		left: 50%; margin-left: -18px;
		@include opacity(0);
		div{
			line-height: 1;
		}
		.text{
			margin-bottom: 12px;
		}
		.arrow{
			position: relative;
		}
	}
}

.portrait{
	#header{
		height: 1000px !important;
		#bg{
		}
	}
}


/* #pickup
-------------------------------------------------- */
#pickup{
	margin-bottom: 95px;
	li{
		float: left;
		margin-right: 21px;
		position: relative;
		&:last-child{
			margin-right: 0;
		}
		a{
			display: block;
			@include bannerHover;
		}
		&.new{
			&:before{
				content: "";
				display: block;
				width: 50px; height: 50px;
				position: absolute;
				left: -14px; top: -23px;
				background: url("../common/img/icon_new_circle.png") center center no-repeat;
				z-index: 2;
			}
		}
	}
}

/* #lineup
-------------------------------------------------- */
#lineup{
	margin-bottom: 55px;
	>ul{
		>li{
			float: left;
			margin-left: 20px;
			margin-bottom: 45px;
			text-align: center;
			h2{
				margin: 18px 0 14px;
			}
			dl{
				dd{
					text-align: center;
				}
			}
			p{
				span{
					margin-bottom: 4px;
					font-size: 16px;
					display: block;
				}
			}
			a{
				display: block;
				@include bannerHover;
			}
		}
		#lineup01,
		#lineup02{
			width: 590px;
			dl{
				dt{
					margin-top: 23px;
					margin-bottom: 16px;
				}
			}
		}
		#lineup03,
		#lineup04,
		#lineup05{
			dl{
				dt{
					margin-top: 16px;
					margin-bottom: 12px;
				}
			}
		}
		#lineup01,
		#lineup03{
			margin-left: 0;
		}
	}
}

/* #reason
-------------------------------------------------- */
#reason{
	margin-bottom: 96px;
	>ul{
		>li{
			width: 386px;
			margin-left: 21px;
			float: left;
			text-align: center;
			h2{
				margin-bottom: 15px;
				a{
					display: block;
					@include bannerHover;
				}
			}
			ul{
				li{
					margin-bottom: 5px;
					@include easing-out(0.4);
					a{
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					&:before{
						content: "-";
						display: inline-block;
						margin-right: 5px;
					}
					&:after{
						content: "";
						background: url("http://static.vermicular.jp/www/img/top/icon_arrow_reason.png") center center no-repeat;
						display: inline-block;
						margin-left: 10px;
						width: 5px; height: 9px;
						@include easing-out(0.4);
					}
					/* &:hover{
						@include opacity(60);
						&:after{
							margin-left: 15px;
						}
					} */
				}
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}
}

/* #recipe
-------------------------------------------------- */
#recipe{
	padding-bottom: 100px;
	#recipe_wrap{
		h1{
			margin-bottom: 20px;
		}
		background: url("../img/top/bg_originalrecipe.jpg") center center no-repeat;
		background-size: cover;
		padding-top: 107px;
		padding-bottom: 226px;
		color: #fff;
		text-align: center;
		p{
			margin-bottom: 38px;
		}
	}
	#ranking_wrap{
		background: #fff;
		margin-top: -130px;
		h2{
			text-align: center;
			padding: 20px 0;
		}
		ul{
			width: 1160px;
			margin: 0 auto 20px;
			li{
				width: 185px;
				float: left;
				margin-left: 10px;
				position: relative;
				text-align: center;
				z-index: 1;
				.photo{
					width: 185px; height: 185px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					display: block;
					@include bannerHover;
				}
				p{
					margin-top: 13px;
				}
				&:first-child{
					margin-left: 0;
				}
				&:before{
					content: "";
					display: block;
					position: absolute;
					width: 40px; height: 40px;
					left: 6px; top: -14px;
					z-index: 10;
				}
				img{
					position: relative;
					z-index: -1;
				}
			}
			#rank01{
				&:before{
					background: url("http://static.vermicular.jp/www/img/top/icon_ranking01.png") center center no-repeat;
				}
			}
			#rank02{
				&:before{
					background: url("http://static.vermicular.jp/www/img/top/icon_ranking02.png") center center no-repeat;
				}
			}
			#rank03{
				&:before{
					background: url("http://static.vermicular.jp/www/img/top/icon_ranking03.png") center center no-repeat;
				}
			}
			#rank04{
				&:before{
					background: url("http://static.vermicular.jp/www/img/top/icon_ranking04.png") center center no-repeat;
				}
			}
			#rank05{
				&:before{
					background: url("http://static.vermicular.jp/www/img/top/icon_ranking05.png") center center no-repeat;
				}
			}
			#rank06{
				&:before{
					background: url("http://static.vermicular.jp/www/img/top/icon_ranking06.png") center center no-repeat;
				}
			}
		}
	}
}

/* #support
-------------------------------------------------- */
#support{
	padding: 0 0 100px;
	h1{
		margin-bottom: 30px;
	}
	ul{
		margin-bottom: 40px;
		border-bottom: 1px solid #dedede;
		position: relative;
		&:before{
			content: "";
			display: block;
			position: absolute;
			left: 50%; top: 30px;
			width: 1px; height: 110px;
			background: #dedede;
		}
		li{
			width: 530px;
			background: #fff;
			padding: 27px 40px;
			box-sizing: border-box;
			float: right;
			&:first-child{
				float: left;
			}
			dl{
				dt{
					text-align: center;
					font-weight: bold;
					font-size: 15px;
					margin-bottom: 8px;
				}
				dd{
					text-align: center;
					.contact_text{
						margin-top: 8px;
						img{
							vertical-align: sub;
							position: relative;
							margin-right: 3px;
						}
					}
					.tel_text{
						font-weight: bold;
						font-size: 24px;
						vertical-align: middle;
					}
					.month{
						font-size: 12px;
					}
				}
			}
		}
	}
	>p{
		margin-bottom: 40px;
	}
}

/* #news
-------------------------------------------------- */
#news{
	// padding-top: 98px;
	padding-bottom: 100px;
	h1{
		margin-bottom: 38px;
	}
	nav{
		width: 400px;
		margin: 0 auto 40px;
		ul{
			border: 1px solid #222426;
			li{
				width: 199px;
				height: 38px;
				padding-top: 10px;
				float: left;
				text-align: center;
				box-sizing: border-box;
				cursor: pointer;
				@include easing(0.3);
				@include text-hide;
				background: url("http://static.vermicular.jp/www/img/top/btn_news_black.png") center center no-repeat;
				h2{
					margin-bottom: 12px;
				}
				&:first-child{
					margin-left: 0;
				}
				&.active{
					background: url("http://static.vermicular.jp/www/img/top/btn_news_white.png") center center no-repeat #222426;
				}
				&:first-child{
					background: url("http://static.vermicular.jp/www/img/top/btn_media_black.png") center center no-repeat;
					&.active{
						background: url("http://static.vermicular.jp/www/img/top/btn_media_white.png") center center no-repeat #222426;
					}
				}
			}
		}
	}
	.news_wrap{
		border-top: 1px solid #dedede;
		margin-bottom: 24px;
		.box_link{
			@include easing-out(0.2);
			&:hover{
				background-color: #efefef;
			}
		}
		>div{
			display: none;
		}
		>div.active{
			display: block;
		}
		article{
			border-bottom: 1px solid #dedede;
			display: table;
			width: 100%;
			time{
				font-weight: bold;
				padding-left: 10px;
				padding-right: 26px;
				width: 85px;
			}
			time,p{
				display: table-cell;
				padding-top: 20px;
				padding-bottom: 18px;
				a{
					text-decoration: none;
				}
			}
			&.new{
				p{
					&:after{
						content: "";
						display: inline-block;
						width: 41px; height: 20px;
						background: url("../common/img/icon_new_square.png") center center no-repeat;
						vertical-align: middle;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

/* #footer_banner_wrap
-------------------------------------------------- */
#footer_banner_wrap{
	margin-bottom: 130px;
	li{
		float: left;
		margin-left: 21px;
		&:first-child{
			margin-left: 0;
		}
		a{
			display: block;
			@include bannerHover;
		}
	}
}

/* #online_btn
-------------------------------------------------- */
#online_btn{
	position: fixed;
	right: -200px; bottom: 94px;
	@include scale(0.7);
	@include opacity(0);
	z-index: 50;
	&.show{
		right: 20px;
		@include scale(1);
		@include opacity(100);
		@include easing-out(0.8);
	}
	&:hover{
		@include opacity(60);
	}
	&.always{
		@include scale(1);
		@include opacity(100);
	}
}

/* #page_top
-------------------------------------------------- */
#page_top{
	&.show{
		right: 62px;
	}
}