@charset "utf-8";

@import "../_sass_common/_mixin";

/* --------------------------------------------------
 [ Rice Pot Round　関連ページ用スタイル ]
-------------------------------------------------- */

/* #common parts
-------------------------------------------------- */


.banner_section{
	padding-top: 80px;
	padding-bottom: 80px;
	.banner_list{
		li{
			float: left;
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
			dl{
				dt{
					a{
						display: block;
						@include bannerHover;
					}
				}
				dd{
					padding-top: 12px;
					text-align: center;
				}
			}
		}
	}
}

/* #header
-------------------------------------------------- */
#rpr_header{
	width: 100%;
	position: absolute;
	height: 50px;
	z-index: 100;
	top: 0; left: 0;
	#rpr_header_inner{
		min-width: 1080px;
		padding: 0;
		#rpr_site_logo{
			float: left;
			padding-top: 23px;
			margin-right: 50px;
			padding-left: 39px;
		}
		#rpr_gnavi{
			min-width: 618px;
			float: left;
			padding-top: 28px;
			>ul{
				>li{
					float: left;
					// margin-right: 50px;
					margin-right: 4.8%;
					&:last-child{
						margin-right: 0;
					}
					>a,span{
						display: block;
						@include lineHover;
						background-position: right 5px;
					}
				}
			}
		}
		.sns_list{
			width: 152px;
			float: right;
			padding-top: 27px;
			padding-right: 39px;
			li{
				float: left;
				margin-right: 27px;
				&:last-child{
					margin-right: 0;
				}
				a{
					display: block;
					@include lineHover;
				}
			}
		}
		.btn{
			float: right;
			margin-top: 21px;
		}
		&.fixed{
			padding-bottom: 23px;
			#rpr_site_logo{
				a{
					width: 133px; height: 25px;
					background: url("../common/img/logo_black.png") no-repeat center center;
					display: block;
					overflow: hidden;
					img{
						position: relative;
						top: -500%;
					}
				}
			}
			#rpr_gnavi{
				.list{
					margin-right: 3.8%;
					>a,>span{
						height: 22px;
						padding-bottom: 0;
						vertical-align: top;
						overflow: hidden;
						background-size: 100% 17px !important;
						&:after{
							background-color: #222426;
						}
						&.ex_link{
							&:before{
								width: 10px; height: 8px;
								display: block;
								position: absolute;
								top: 4px; right: 0;
								background: url("../common/img/ex_icon_black.png") no-repeat center center;
								content: "";
							}
						}
						img{
							position: relative;
							top: -500%;
						}
					}
					&.navi01{
						>a,>span{
							width: 109px;
							background: url("../common/img/btn_nav01.png") no-repeat top left;
						}
					}
					&.navi02{
						>a,>span{
							width: 94px;
							background: url("../common/img/btn_nav02.png") no-repeat top left;
						}
					}
					&.navi03{
						>a,>span{
							width: 39px;
							background: url("../common/img/btn_nav03.png") no-repeat top left;
						}
					}
					&.navi04{
						>a,>span{
							width: 54px;
							background: url("../common/img/btn_nav04.png") no-repeat top left;
						}
					}
					&.navi05{
						>a,>span{
							width: 111px;
							background: url("../common/img/btn_nav05.png") no-repeat top left;
							background-size: 111px 17px !important;
						}
					}
					&.navi06{
						>a,>span{
							width: 52px;
							background: url("../common/img/btn_nav06.png") no-repeat top left;
						}
					}
				}
			}
			.sns_list{
				li{
					a{
						width: 17px; height: 16px;
						display: block;
						overflow: hidden;
						img{
							position: relative;
							top: -500%;
						}
					}
					&.sns01{
						a{
							background: url("../common/img/head_sns_icon_black01.png") no-repeat center center;
						}
					}
					&.sns02{
						a{
							background: url("../common/img/head_sns_icon_black02.png") no-repeat center center;
						}
					}
					&.sns03{
						a{
							background: url("../common/img/head_sns_icon_black03.png") no-repeat center center;
						}
					}
					&.sns04{
						a{
							background: url("../common/img/head_sns_icon_black04.png") no-repeat center center;
						}
					}
				}
			}
		}
	}
}

/* #lowlayer
-------------------------------------------------- */

#rpr_page_title_wrap{
	height: 470px;
	margin-bottom: 80px;
	#page_title{
		padding-top: 190px;
		margin-bottom: 30px;
		text-align: center;
	}
	.text{
		font-size: 14px;
		line-height: 2;
		text-align: center;
		color: #fff;
	}
}

.rpr_section_wrap{
	padding-bottom: 80px;
	margin-bottom: 80px;
	border-bottom: 1px solid #dedede;
	//ハッシュ用
	padding-top: 73px;
	margin-top: -73px;
	&:last-child{
		margin-bottom: 40px;
	}
	&.pb0{
		padding-bottom: 0;
		border-bottom: 0;
	}
	.cont_wrap{
		width: 450px;
		padding-top: 10px;
		&.w_s{
			width: 380px;
		}
		.rpr_section_title{
			margin-bottom: 20px;
		}
		.text{
			font-size: 13px;
			line-height: 2;
			margin-bottom: 40px;
		}
		.video_wrap{
			position: relative;
			.thum{
				margin-right: 20px;
				a{
					display: block;
				}
			}
			.text_wrap{
				position: absolute;
				left: 220px; bottom: 0;
				dt{
					display: inline-block;
					padding-bottom: 5px;
					border-bottom: 2px solid #222426;
					margin-bottom: 10px;
				}
				dd{

				}
			}
		}
		.btn{
			margin-left: 0;
		}
	}
	.photo_wrap{

	}
}
.rpr_back_to_top{
	margin-bottom: 80px;
}
/* #TOP
-------------------------------------------------- */

.device_pc{
	#rpr_top{
		#kv_wrap{
			@include easing-in-out(0.8);
			@include opacity(0);
			@include scale(1.05);
			&.show{
				@include scale(1);
				@include opacity(100);
			}
		}
	}
}

#rpr_top{
	&.portrait{
		#kv_wrap{
			height: 1000px !important;
		}
	}
	#rpr_header{
		@include easing-out(0.6);
		top: -100px;
		// margin-bottom: -49px;
	}
	#kv_wrap{
		background: url("http://static.vermicular.jp/www/img/products/top/kv_bg.jpg") no-repeat center center;
		background-size: cover;
		position: relative;
		#kv_inner{
			width: 703px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			.product_name{
				margin-bottom: 35px;
				span{
					display: block;
					text-align: center;
					line-height: 1;
					&.en{
						width: 311px;
						margin: 0 auto 10px;
					}
					&.jp{
						width: 122px;
						margin: 0 auto;
					}
				}
			}
			.copy{
				text-align: center;
				span{
					display: inline-block;
					position: relative;
					// @include easing-out(0.6);
					// left: -10px;
					@include opacity(0);
					// &.show{
					// 	@include opacity(100);
					// }
				}
			}
		}
		#scroll_down{
			width: 36px; height: 41px;
			position: absolute;
			bottom: 61px;
			@include opacity(0);
			div{
				line-height: 1;
			}
			.text{
				margin-bottom: 12px;
			}
			.arrow{
				position: relative;
			}
		}
		.motion{
			position: relative;
			left: -10px;
			@include easing-out(0.6);
			@include opacity(0);
			&.show{
				left: 0;
				@include opacity(100);
			}
		}
	}

	#product_lineup{
		height: 550px;
		//background: url("http://static.vermicular.jp/www/img/products/top/product_bg.png") no-repeat center center;
		background-size: cover;
		.inner{
			.title{
				padding-top: 67px;
				text-align: center;
				margin-bottom: 15px;
			}
			.text{
				text-align: center;
				margin-bottom: 20px;
			}
			.variation_wrap{
				margin-bottom: 50px;
				li{
					display: inline-block;
					margin-right: 41px;
					float: left;
					position: relative;
					overflow: hidden;
					&:last-child{
						margin-right: 0;
					}
					.photo{
						position: absolute;
						top: 0; left: 0;
						@include easing-out(0.3);
						//@include opacity(40);
					}
					.name{
						position: relative;
						z-index: 1;
						a,span{
							padding-top: 185px;
							display: block;
						}
					}
					&:after{
						width: 100%; height: 100%;
						content: "";
						position: absolute;
						background: url("../common/img/ex_icon_black.png") center center no-repeat;
						top: 0; left: 0;
						@include easing-out(0.3);
						@include opacity(0);
					}
					&.hover{
						.photo{
							@include opacity(100);
						}
						&:hover{
							.photo{
								@include scale(0.8);
								@include opacity(40);
							}
							&:after{
								@include opacity(100);
							}
						}
					}
				}
			}
		}
	}
	.bg_section{
		background-size: cover !important;
		.inner{
			height: 500px;
			*{
				color: #fff;
			}
			.copy{
				margin-bottom: 25px;
			}
			.text{
				margin-bottom: 25px;
				font-size: 13px;
				line-height: 2;
			}
			.link{
				a{
					@include lineHover;
				}
			}
		}
		&#section_wrap01{
			background: url("http://static.vermicular.jp/www/img/products/top/section_bg01.jpg") no-repeat center center;
			.text_wrap{
				float: right;
				padding-right: 50px;
				padding-top: 145px;
			}
		}
		&#section_wrap02{
			background: url("http://static.vermicular.jp/www/img/products/top/section_bg02.jpg") no-repeat center center;
			.text_wrap{
				float: left;
				padding-left: 50px;
				padding-top: 144px;
			}
		}
		&#section_wrap03{
			background: url("http://static.vermicular.jp/www/img/products/top/section_bg03.jpg") no-repeat center center;
			.text_wrap{
				float: right;
				padding-right: 50px;
				padding-top: 99px;
			}
		}
		&#section_wrap04{
			background: url("http://static.vermicular.jp/www/img/products/top/section_bg04.jpg") no-repeat center center;
			.text_wrap{
				float: left;
				padding-left: 50px;
				padding-top: 113px;
			}
		}
		&#section_wrap05{
			background: url("http://static.vermicular.jp/www/img/products/top/section_bg05.jpg") no-repeat center center;
			.text_wrap{
				float: left;
				padding-left: 50px;
				padding-top: 170px;
			}
		}
	}
}//#rpr_top

/* #暮らしを変える鍋
-------------------------------------------------- */

#rpr_about_whatis{
	#rpr_page_title_wrap{
		background: url("http://static.vermicular.jp/www/img/about/whatis/kv_bg.jpg") no-repeat center center;
		background-size: cover;
	}
	#section01{
		.cont_wrap{
			padding-top: 10px;
		}
	}
	#section02{
		.cont_wrap{
			padding-top: 32px;
		}
	}
	#section03{
		.cont_wrap{
			padding-top: 57px;
		}
	}
	.slider_wrap{
		width: 482px;
		background-color: #f2f2f2;
		padding: 20px 42px 55px 57px;
		.slider{
			li{
				.title{
					margin-bottom: 20px;
				}
			}
		}
		.bx-controls{
			.bx-pager{
				top: 335px;
			}
			.bx-controls-direction{
				.bx-prev,.bx-next{
					width: 45px; height: 45px;
					top: 120px;
				}
				.bx-prev{
					background: url("http://static.vermicular.jp/www/img/about/whatis/slide_arrow_left.png") no-repeat center center;
					left: -75px;
				}
				.bx-next{
					background: url("http://static.vermicular.jp/www/img/about/whatis/slide_arrow_right.png") no-repeat center center;
					right: -60px;
				}
			}
		}
	}
}

/* #テクノロジー
-------------------------------------------------- */

#rpr_about_teshigoto{
	#rpr_page_title_wrap{
		background: url("http://static.vermicular.jp/www/img/about/teshigoto/kv_bg.jpg") no-repeat center center;
		background-size: cover;
	}

	#technology_detail_wrap{
		padding-bottom: 79px;
		margin-bottom: 80px;
		border-bottom: 1px solid #dedede;
		.main_video{
			width: 854px; height: 480px;
			margin: 0 auto 40px;
		}
		.name{
			text-align: center;
			margin: 0 0 40px;
		}
		.copy{
			text-align: center;
			margin: 0 0 30px;
		}
		.point_list{
			margin-bottom: 65px;
			li{
				width: 340px;
				float: left;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				.title{
					margin-bottom: 15px;
				}
				.text{

				}
			}
		}
	}

	.banner_wrap{
		margin-top: 40px;
		padding: 20px 0;
		background-color: #ededed;
		p{
			width: 540px;
			margin: 0 auto;
			display: block;
			a{
				@include bannerHover;
				display: block;
			}
		}
	}

	#made_in_jp{
		.photo_wrap{
			width: 640px; height: 360px;
		}
	}

	#biutiful_wrap{
		height: 450px;
		background: url("http://static.vermicular.jp/www/img/about/teshigoto/section02_bg.jpg") no-repeat center center;
		background-size: cover;
		margin-bottom: 80px;
		.inner_min{
			position: relative;
		}
		.text_wrap{
			position: absolute;
			top: 160px; left: 110px;
			h1{
				margin-bottom: 15px;
			}
			.text{
				line-height: 2;
			}
		}
	}

	#section03{
		.photo_wrap{
			margin-right: 60px;
		}
		.cont_wrap{
			padding-top: 110px;
		}
	}
}

/* #サポート
-------------------------------------------------- */

#rpr_support{
	#rpr_page_title_wrap{
		background: url("http://static.vermicular.jp/www/img/support/kv_bg.jpg") no-repeat center center;
		background-size: cover;
	}
	#section01{
		.cont_wrap{
			margin-top: -20px;
		}
	}
	#section03{
		.cont_wrap{
			margin-top: 10px;
		}
	}
	.rpr_section_wrap{
		h1{
			margin-bottom: 15px;
		}
		.title{
			margin-bottom: 20px;
		}
		.btn{
			margin-left: 0;
			margin-right: 0;
		}
		.policy_wrap{
			margin-top: -10px;
			border-top: 1px solid $border-color;
			h2{
				margin: 32px 0 20px;
			}
			ul{
				li{
					margin-bottom: 18px;
					&:before{
						content: "一、";
						display: table-cell;
					}
					span{
						display: table-cell;
					}
				}
			}
		}
		.contact_wrap{
			margin-top: 25px;
			padding: 10px 22px;
			dt,dd{
				display: table-cell;
				vertical-align: middle;
			}
			dt{
				font-weight: bold;
				padding-right: 20px;
				border-right: 1px solid $border-color;
				white-space: nowrap;
			}
			dd{
				padding: 7px 20px 5px;
				.tel_text{
					font-weight: bold;
					font-size: 25px;
					line-height: 1;
					vertical-align: middle;
					margin-left: 5px;
				}
				.month{
					font-size: 11px;
					margin-left: 32px;
				}
			}
		}
	}
}

#footer{
	border-top: 0;
}