@charset "utf-8";
@import "../_sass_common/_mixin";

/* ------------------- common ------------------- */

body,
#document{
  overflow-x: hidden;
}

#main_wrap{
  >*{
    overflow: hidden;
  }
}

$vdg-backdrop: (
  'bg-color': #000,
  'opacity': .4
) !default;

%vdg-background-size {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.movie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  background-color: #000;
  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%) scale(1.04);
    @include opacity(0);
    @include easing(1.2);
    &.show{
      transform: translateX(-50%) translateY(-50%) scale(1);
      @include opacity(100);
    }
  }
  &__backdrop {
    //background: {
    //  @if map-has-key($vdg-backdrop, 'bg-color') and not map-has-key($vdg-backdrop, 'bg-gradient') {
    //    color: adjust-hue(darken(map-get($vdg-backdrop, 'bg-color'), 12%), 15%);
    //  }
    //
    //  @if map-has-key($vdg-backdrop, 'bg-gradient') {
    //    image: map-get($vdg-backdrop, 'bg-gradient')
    //  }
    //  @else if map-has-key($vdg-backdrop, 'bg-image') {
    //    image: url(map-get($vdg-backdrop, 'bg-image'));
    //  }
    //}
    //opacity: map-get($vdg-backdrop, 'opacity');
    //@extend %vdg-background-size;
  }
  &#bg{
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover!important;
      @include scale(1.04);
      @include opacity(0);
      @include easing(1.2);
    }
    &.show{
      &:after {
        @include scale(1);
        @include opacity(100);
      }
    }
  }
}

#page_title_wrap{
  height:100vh;
  position: relative;
  overflow: hidden;
  background-size: cover !important;
  &.sp{
    height:800px;
  }
  #kv_inner {
    z-index:10;
    position: relative;
    text-align: center;
    *{
      color: #fff;
    }
    .text{
      margin-top:40px;
      line-height:1.87;
    }
  }
  #scroll_down{
    width: 36px; height: 41px;
    position: absolute;
    bottom: 61px;
    z-index: 10;
    left: 0; right: 0;
    margin: auto;
    @include opacity(0);
    div{
      line-height: 1;
    }
    .text{
      margin-bottom: 12px;
    }
    .arrow{
      position: relative;
    }
  }
  .motion{
    position: relative;
    overflow: hidden;
    img{
      position: relative;
      top: 25px;
      @include opacity(0);
      @include easing-in-out(0.6);
    }
    &.show{
      img{
        top: 0;
        @include opacity(100); 
      }
    }
    &.text{
      @include opacity(0);
      @include easing-in-out(0.8);
      &.show{
        @include opacity(100);
      }
    }
  }
}

.btn_wrap {
  width:430px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  position: relative;
  .left {float:left;}
  .right {float:right;}
}

.bg_section{
   background-size: cover !important;
   height: 600px;
   .inner{
     height: 500px;
     *{
       color: #fff;
     }
     .copy{
       margin-bottom: 29px;
     }
     .text{
       margin-bottom: 27px;
       font-size: 13px;
       line-height: 2;
     }
     .link{
       a{
         @include lineHover;
       }
     }
   }
 }

.feature_wrap{
  margin-top: 35px;
  position: relative;
  padding:29px 0 27px 20px;
  &:before,
  &:after{
    content: "";
    display: block;
    background-color: #222426;
    position: absolute;
    height:1px;
  }
  &:before{
    width : -webkit-calc(100% - 65px) ;
    width : calc(100% - 65px) ;
    right: 0; top: 0;
  }
  &:after{
    width:100%;
    left: 0; bottom: 0;
  }
  .title{
    position: absolute;
    top: -17px; left: 0;
  }
}

#page_top.show{
  right: 62px;
}

.top_items_wrap{
  padding-bottom:80px;
  .inner{
    padding-top:50px;
    border-top:1px solid $border-color;
    width:1080px;
    margin:0 auto;
  }
}

#footer {
  border-top: 1px solid #dedede;
}

/* ------------------- TOP ------------------- */

#kitchenitem_top{
  #kv_wrap{
    height:100vh;
    overflow: hidden;
    background-color: #000;
    position: relative;
    &.sp{
      height:800px;
    }
    #kv_inner {
      z-index:100;
      width: 22.2%;
      height: 3%;
      top: 50%!important;
      margin-top: -28px;
      margin-left:auto;
      margin-right:auto;
      position: relative;
    }
    #scroll_down{
      width: 36px; height: 41px;
      position: absolute;
      bottom: 61px;
      @include opacity(0);
      left: 0; right: 0;
      margin: auto; 
      div{
        line-height: 1;
      }
      .text{
        margin-bottom: 12px;
      }
      .arrow{
        position: relative;
      }
    }
    .motion{
      position: relative;
      overflow: hidden;
      height: 28px;
      position: relative;
      overflow: hidden;
      img{
        position: relative;
        top: 25px;
        vertical-align: top;
        @include opacity(0);
        @include easing-in-out(0.6);
      }
      &.show{
        img{
          top: 0;
          @include opacity(100); 
        }
      }
    }
    #bg {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      //opacity: 0;
      background-image: url("../../kitchenitems/assets/img/top/kv_bg.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      @include opacity(0);
      @include scale(1.04);
      @include easing(1.2);
      &.show{
        @include scale(1);
        @include opacity(100);
      }
    }
  }
  #item_line_up{
    text-align: center;
    padding: 70px 0 80px;
    .text{
      margin:15px 0 55px;
    }
    .item_list{
      letter-spacing: -.4em;
      text-align: center;
      margin-bottom:75px;
      letter-spacing: -.4em;
      li{
        letter-spacing: normal;
        display: inline-block;
        margin-left: 40px;
        text-align: center;
        vertical-align: top;
        &:first-child{
          margin-left: 0;
        }
        a{
          text-decoration: none;
          display: block;
          position: relative;
          .image{
            @include easing-out(0.3);
            display: block;
          }
          &:after{
            width: 10px; height: 8px;
            content: "";
            position: absolute;
            background: url("../common/img/ex_icon_black.png") center center no-repeat;
            top: 105px;
            left: 0; right: 0;
            margin:auto;
            @include easing-out(0.3);
            @include opacity(0);
          }
          &:hover{
            .image{
              @include opacity(100);
              @include scale(0.94);
              @include opacity(40);
            }
            &:after{
              @include opacity(100);
            }
          }
          p{
            margin-top: 5px;
          }
        }
      }
    }
  }
  .bg_section{
    background-size: cover !important;
    height: 600px;
    .inner{
      height: 500px;
      *{
        color: #fff;
      }
      .copy{
        margin-bottom: 29px;
      }
      .text{
        margin-bottom: 27px;
        font-size: 13px;
        line-height: 2;
      }
      .link{
        a{
          @include lineHover;
        }
      }
    }
    &#section_wrap01{
      background: url("../../kitchenitems/assets/img/top/section_bg01.jpg") no-repeat center center;
      .text_wrap{
        float: left;
        padding-left: 60px;
        padding-top: 110px;
      }
    }
    &#section_wrap02{
      background: url("../../kitchenitems/assets/img/top/section_bg02.jpg") no-repeat center center;
      .text_wrap{
        float: right;
        padding-right: 64px;
        padding-top: 240px;
      }
    }
    &#section_wrap03{
      background: url("../../kitchenitems/assets/img/top/section_bg03.jpg") no-repeat center center;
      .text_wrap{
        float: left;
        padding-left: 60px;
        padding-top: 180px;
        .text {color:#000;}
        .link a:after {background-color: #000;}
      }
    }
  }
  .banner_section{
    background-color: #ededed;
    padding-top: 105px;
    padding-bottom: 90px;
    .banner_list{
      letter-spacing:-.4em;
      text-align: center;
      li{
        display: inline-block;
        letter-spacing:normal;
        margin-left:20px;
        float: none;
        margin-right:0;
        &:first-child{
          margin-left:0;
        }
        dl{
          dt{

          }
          dd{
            text-align: center;
            margin-top:5px;
          }
        }
      }
    }
  }
  #modal{
    display: none;
    position: absolute;
    z-index: 101;
    background-color: #fff;
    width: 100%;
    #modal_content{
      text-align: center;
      position: relative;
      padding-top: 183px;
      padding-bottom: 132px;
      &:before,
      &:after{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
      }
      &:before{
        margin-left: -985px;
        top: 0;
        width: 656px;
        height: 703px;
        background: url("../../kitchenitems/assets/img/top/modal_image01.jpg") no-repeat center center;
      }
      &:after{
        margin-left: 258px;
        bottom: 0;
        width: 649px;
        height: 701px;
        background: url("../../kitchenitems/assets/img/top/modal_image02.jpg") no-repeat center center;
      }
      .text{
        margin-top: 35px;
        margin-bottom: 55px;
        line-height: 2.2;
      }
      .btn{
        cursor: pointer;
      }
    }
  }
  #modal_overlay{
    position: fixed;
    z-index: 100;
    background-color: #000;
    @include opacity(90);
    left:0;top:0;
    width: 100%;
    height: 100%;
    display: none;
  }
}

/* ------------------- magnettrivet ------------------- */

#magnettrivet{
  #page_title_wrap{
    #kv_inner{
      top: 40%;
    }
    .movie#bg{
      &:after{
        background: url("../../kitchenitems/assets/img/magnettrivet/kv_bg.jpg") no-repeat center center;
      }
    }
  }
  #section_wrap01{
    >section{
      position: relative;
      .text_wrap{
        box-sizing: border-box;
        z-index:1;
      }
      &:nth-child(1){
        padding-top:160px;
        height:605px;
        .text_wrap{
          padding-left:757px;
          .copy{
            margin-bottom:25px;
            &:after{
              content: "";
              display: block;
              background-color: #222426;
              height:2px;
              width:50px;
              margin-top:28px;
            }
          }
          .text{
            margin-bottom:35px;
          }
          .btn{
            margin-left:0;
          }
        }
        .bg{
          position: absolute;
          left: 50%;
          margin-left: -657px;
          top:0;
        }
      }
      &:nth-child(2){
        margin-bottom: 120px;
        .text_wrap{
          text-align: center;
          .copy{
            margin-bottom:30px;
          }
        }
        .bg{
          width:1080px;
          display: block;
          margin-top: 45px;
          margin-left: -480px;
          left: 50%;
          position: relative;
          &:after{
            content: "";
            clear: both;
            display: block;
          }
          >*{
            float: left;
          }
        }
      }
      &:nth-child(3){
        padding-top:129px;
        height:330px;
        .text_wrap{
          padding-left:700px;
          .copy{
            margin-bottom:30px;
          }
          .text{
            width:445px;
          }
        }
        .bg{
          margin-left: -543px;
          top:0;
        }
      }
    }
  }
  #section_wrap02{
    background: url("../../kitchenitems/assets/img/magnettrivet/bg_section02.jpg") no-repeat center center;
    background-size:cover;
    padding:110px 0 120px;
    .text_wrap{
      width:440px;
      margin-left: 60px;
      .copy{
        margin-bottom:25px;
      }
    }
  }
  #section_wrap03{
    padding:80px 0 80px;
    .text_wrap{
      width:480px;
      float: right;
      margin:84px 80px 0 0;
      .copy{
        margin-bottom:35px;
      }
    }
    .image{
      float: left;
      margin-left:60px;
    }
    >.text{
      width:1080px;
      margin:80px auto;
      position: relative;
      span{
        position: relative;
        z-index:1;
        background-color: #fff;
        padding-right: 15px;
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        width:100%;
        height:1px;
        background-color: #dedede;
        top: 50%;
        margin-top:-1px;
      }
    }
    .lineup_wrap{
      ul{
        text-align: center;
        letter-spacing: -.4em;
        li{
          display: inline-block;
          margin-left:15px;
          text-align: center;
          letter-spacing: normal;
          &:first-child{
            margin-left:0;
          }
          .text{
            line-height: 1.87;
            margin:10px 0 20px;
          }
        }
      }
    }
  }
}

/* ------------------- hk_and_ph ------------------- */

#hk_and_ph{
  #page_title_wrap{
    #kv_inner{
      top: 40%;
    }
    .movie#bg{
      &:after{
        background: url("../../kitchenitems/assets/img/hk_and_ph/kv_bg.jpg") no-repeat center center;
      }
    }
  }
  #section_wrap01{
    >section{
      position: relative;
      .text_wrap{
        box-sizing: border-box;
        z-index:1;
      }
      .bg{
        position: absolute;
        left: 50%;
      }
      &:nth-child(1){
        padding-top:231px;
        height:505px;
        .text_wrap{
          padding-left:60px;
          .copy{
            margin-bottom:25px;
            &:after{
              content: "";
              display: block;
              background-color: #222426;
              height:2px;
              width:50px;
              margin-top:28px;
            }
          }
          .text{
            margin-bottom:35px;
          }
          .btn{
            margin-left:0;
          }
        }
        .bg{
          margin-left: -234px;
          top:0;
        }
      }
      &:nth-child(2){
        padding-top:70px;
        height:427px;
        z-index:1;
        .text_wrap{
          padding-left:699px;
          .copy{
            margin-bottom:30px;
          }
          .text{
            width:445px;
          }
        }
        .bg{
          margin-left: -540px;
          top:0;
        }
      }
      &:nth-child(3){
        .text_wrap{
          padding-top:105px;
          padding-left:60px;
          width:505px;
          float: left;
          .copy{
            margin-bottom:30px;
          }
          .text{
            width:445px;
          }
        }
        .image_wrap{
          float: right;
          width: 581px;
          margin-right:60px;
          .image{
            position: relative;
            .line1,
            .line2,
            .line3{
              position: absolute;
              left: 56px;
              top: 55px;
              width: 0;
              overflow: hidden;
              @include easing-out(1.98);
              &.done{
                width:380px;
              }
            }
          }
          ul{
            margin-top:20px;
            li{
              float:left;
              margin-left:1px;
              &:first-child{
                margin-left:0;
              }
              .title{
                font-weight: bold;
                margin-top:7px;
              }
            }
          }
        }
      }
      &.feature{
        margin-top:75px;
        margin-bottom:100px;
        .image{
          float: left;
          margin-left:60px;
        }
        .feature_wrap{
          width:480px;
          float: right;
          margin-right:60px;
          padding-left:0;
        }
      }
    }
  }
  #section_wrap02{
    .inner{
      &:nth-of-type(1){
        padding:163px 0 190px;
        &:after{
          content: "";
          display: block;
          width:870px;
          height:1px;
          position: absolute;
          right: 60px; top: 60px;
          background-color: #dedede;
        }
        .text_wrap{
          width:440px;
          padding-left:700px;
          .copy{
            margin-bottom:25px;
            &:after{
              content: "";
              display: block;
              background-color: #222426;
              height:2px;
              width:50px;
              margin-top:28px;
            }
          }
          .btn{
            margin: 35px 0 0 0;
          }
        }
        .image{
          position: absolute;
          left: 50%; top: 0;
          margin-left:-777px;
        }
      }
      &:nth-of-type(2){
        padding-bottom:165px;
        .text_wrap{
          width:440px;
          padding:80px 0 0 60px;
          float: left;
          .copy{
            margin-bottom:25px;
          }
          .btn{
            margin: 35px 0 0 0;
          }
        }
        .slide_wrap{
          float: right;
          width:580px;
          margin-right:60px;
          .bx-wrapper{
            .bx-controls{
              height:100%;
              .bx-pager{
                position: absolute;
                top: 405px;
                left: 0;
                right: 0;
                margin: auto;
                z-index:1;
              }
              .bx-controls-direction{
                display: block;
                height: 390px;
                a{
                  width:45px;
                  height:45px;
                  background: url("../../kitchenitems/assets/img/hk_and_ph/icon_arrow.png") no-repeat 17px center;
                  background-color: rgba(0,0,0,.4);
                  border-radius: 50%;
                  top: 50%;
                  margin-top:-22.5px;
                  &.bx-prev{
                    left: -22px;
                  }
                  &.bx-next{
                    right:-22px;
                    -moz-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #section_wrap03{
    background-color: #f2f2f2;
    .inner{
      padding:70px 0;
      .text_wrap{
        width:480px;
        float: right;
        margin:30px 60px 0 0;
        .name{
          position: relative;
          margin-bottom:35px;
          span{
            position: relative;
            z-index:1;
            background-color: #f2f2f2;
          }
          &:after{
            content: "";
            display: block;
            background-color: #dedede;
            height:1px;
            width:100%;
            top:50%;
            position: absolute;
          }
        }
        .copy{
          margin-bottom:35px;
        }
      }
      .image{
        float: left;
        margin-left:60px;
      }
    }
  }
  .lineup_wrap{
    padding:85px 0 80px;
    ul{
      text-align: center;
      letter-spacing: -.4em;
      li{
        display: inline-block;
        margin-left:120px;
        text-align: center;
        letter-spacing: normal;
        position: relative;
        &:after{
          content: "";
          display: block;
          position: absolute;
          display: block;
          background-color: $border-color;
          width:1px;
          height:100%;
          left: -60px;
          top: 0;
        }
        &:first-child{
          margin-left:0;
          &:after{
            content:none;
          }
        }
        .text{
          line-height: 1.87;
          margin:10px 0 20px;
        }
      }
    }
  }
}

/* ------------------- apron_and_cloth ------------------- */

#apron_and_cloth{
  #page_title_wrap{
    #kv_inner{
      top: 40%;
    }
    .movie#bg{
      &:after{
        background: url("../../kitchenitems/assets/img/apron_and_cloth/kv_bg.jpg") no-repeat center center;
      }
    }
  }
  #section_wrap01{
    padding-top:128px;
    height:783px;
    position: relative;
    .text_wrap{
      padding-left:90px;
      position: relative;
      z-index: 1;
      .copy{
        margin-bottom:25px;
        &:after{
          content: "";
          display: block;
          background-color: #222426;
          height:2px;
          width:50px;
          margin-top:28px;
        }
      }
      .text{
        margin-bottom:35px;
      }
      .btn{
        margin-left:0;
      }
    }
    .bg{
      margin-left: -300px;
      top:0;
      position: absolute;
      left: 50%;
    }
  }
  #section_wrap02{
    .text_wrap{
      text-align: center;
      .copy{
        margin-bottom: 30px;
      }
      .text{
        margin-bottom: 40px;
      }
    }
    ul{
      text-align: center;
      letter-spacing: -.4em;
      li{
        display: inline-block;
        letter-spacing: normal;
        margin-left: 105px;
        text-align: center;
        position: relative;
        p{
          margin-top: 15px;
        }
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
  #feature{
    width: 1080px;
    margin: 70px auto;
    .title{
      text-align: center;
      position: relative;
      margin-bottom: 20px;
      &:before{
        content: "";
        display: block;
        background-color: #dedede;
        position: absolute;
        height:1px;
        width: 100%;
        top: 50%;
      }
      img{
        position: relative;
        z-index: 1;
        padding: 0 20px;
        background-color: #fff;
      }
    }
    ul{
      letter-spacing: -.4em;
      text-align: center;
      li{
        display: inline-block;
        margin-left: 40px;
        width: 182px;
        letter-spacing: normal;
        p{
          margin-top: 10px;
        }
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
  #section_wrap03{
    position: relative;
    &:after{
      content: "";
      display: block;
      background-color: #dedede;
      height: 1px;
      width: 750px;
      position: absolute;
      left: 50%;
      top: 90px;
      margin-left:-210px;
      z-index:2;
    }
    .inner{
      &:nth-of-type(1){
        padding:230px 0 0;
        height: 520px;
        .text_wrap{
          width:440px;
          padding-left:700px;
          .copy{
            margin-bottom:25px;
            &:after{
              content: "";
              display: block;
              background-color: #222426;
              height:2px;
              width:50px;
              margin-top:28px;
            }
          }
          .btn{
            margin: 35px 0 0 0;
          }
        }
        .image{
          position: absolute;
          left: 50%; top: -44px;
          margin-left:-800px;
          z-index: 1;
        }
      }
      &:nth-of-type(2){
        padding-bottom:165px;
        .text_wrap{
          width:440px;
          padding:105px 0 0 60px;
          float: left;
          .copy{
            margin-bottom:25px;
          }
          .btn{
            margin: 35px 0 0 0;
          }
        }
        .slide_wrap{
          float: right;
          width:580px;
          margin-right:60px;
          .bx-wrapper{
            .bx-controls{
              height:100%;
              .bx-pager{
                position: absolute;
                top: 405px;
                left: 0;
                right: 0;
                margin: auto;
                z-index:1;
              }
              .bx-controls-direction{
                display: block;
                height: 390px;
                a{
                  width:45px;
                  height:45px;
                  background: url("../../kitchenitems/assets/img/hk_and_ph/icon_arrow.png") no-repeat 17px center;
                  background-color: rgba(0,0,0,.4);
                  border-radius: 50%;
                  top: 50%;
                  margin-top:-22.5px;
                  &.bx-prev{
                    left: -22px;
                  }
                  &.bx-next{
                    right:-22px;
                    -moz-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #section_wrap04{
    background-color: #f2f2f2;
    .inner{
      padding:70px 0;
      .text_wrap{
        width:480px;
        float: right;
        margin:30px 60px 0 0;
        .name{
          position: relative;
          margin-bottom:35px;
          span{
            position: relative;
            z-index:1;
            background-color: #f2f2f2;
          }
          &:after{
            content: "";
            display: block;
            background-color: #dedede;
            height:1px;
            width:100%;
            top:50%;
            position: absolute;
          }
        }
        .copy{
          margin-bottom:35px;
        }
      }
      .image{
        float: left;
        margin-left:60px;
      }
    }
  }
  .lineup_wrap{
    padding:75px 0 80px;
    ul{
      text-align: center;
      letter-spacing: -.4em;
      li{
        display: inline-block;
        margin-left:230px;
        text-align: center;
        letter-spacing: normal;
        position: relative;
        &:after{
          content: "";
          display: block;
          position: absolute;
          display: block;
          background-color: $border-color;
          width:1px;
          height:100%;
          left: -115px;
          top: 0;
        }
        &:first-child{
          margin-left:0;
          &:after{
            content: none;
          }
        }
        .text{
          line-height: 1.87;
          margin:10px 0 20px;
        }
      }
    }
  }
}