@charset "utf-8";
@import "../_sass_common/_mixin";

@font-face {
  font-family: Times;
  font-weight: 400;
  font-style: normal;
  src: url("../font/times/times_italic.woff2") format("woff2"),
  url("../font/times/times_italic.woff") format("woff"),
  url('../font/times/times_italic.ttf') format('truetype');
}

//@font-face {
//  font-family: 'Times';
//  font-style: italic;
//  font-weight: 600;
//  src: local('Times'),
//  url('../font/times/times_italic_bold.woff2') format('woff2'),
//  url('../font/times/times_italic_bold.woff') format('woff'),
//  url('../font/times/times_italic_bold.ttf') format('truetype');
//}

@mixin font-times{
  //font-family: 'Times', serif;
  font-family: 'Times';
}

//@mixin font-times_bold{
//  font-family: 'Times', serif;
//  font-weight: bold;
//}

#rp_new_color{
  width: 100vw; height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  #scroll-container {
    width: 100%; height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;

    #scroll-body {
      width: 100%;
      position: fixed;
      will-change: transform
    }

    .js__para{
      will-change: transform
    }
  }

  #page_top.show {
    right: 62px;
  }

  /* -------------------- #kv -------------------- */

  #kv-content{
    background-color: #000;
    overflow: hidden;
    #kv-content__inner{
      width:100%;
      height:100vh;
      min-height:800px;
      position: relative;
      .page_title{
        position: absolute;
        width:290px;
        height:53px;
        left:0;
        right:0;
        top:50%;
        //bottom:0;
        margin: auto;
        z-index:1;
        text-align: center;
        >*{
          overflow: hidden;
          display: block;
          position: relative;
          img{
            position: absolute;
            left: 0; right: 0;
            top: 0;
            margin:auto;
          }
        }
        .top{
          color: #fff;
          @include font-times;
          height:22px;
          margin-bottom:20px;
          font-size: 29px;
          >*{
            line-height: 22px;
            vertical-align: top;
          }
        }
        .bottom{
          height:13px;
        }
      }
      .bg{
        display: block;
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background: url("../img/new_color/img_kv.jpg") no-repeat center center;
        background-size:cover;
      }
      #scroll_down{
        width: 36px; height: 41px;
        position: absolute;
        left:0;
        right:0;
        bottom: 61px;
        margin:auto;
        @include opacity(0);
        div{
          line-height: 1;
        }
        .text{
          margin-bottom: 12px;
        }
        .arrow{
          position: relative;
        }
      }
    }
    &.sp{
      #kv-content__inner{
        width:100%;
        height:800px;
      }
    }
  }

  /* -------------------- #main -------------------- */

  #main-content{
    text-align: center;
    padding-top:115px;
    padding-bottom:30px;
    .title{
      @include font-times;
      font-size: 75px;
      line-height: .97;
      margin-bottom:30px;
      >*{
        &:first-of-type{
          width: 175px;
          margin-right:-10px;
        }
      }
    }
    #ricepot_image{
      width:1200px;
      margin: 65px auto 0;
      position: relative;
      #color-white{
        position: absolute;
        width: 554px;
        height: 382px;
        left: 50%;
        top: 0px;
        margin-left: -272px;
      }
    }
  }

  /* -------------------- .scene -------------------- */

  .scene-content{
    &__inner{
      position: relative;
    }
    &__title{
      text-align: center;
      position: relative;
      padding-bottom:85px;
      .text{
        @include font-times;
        font-size: 24px;
        >*{
          overflow: hidden;
          &:nth-child(2){
            width: 30px;
            margin-left: -3px;
            margin-right: -2px;
          }
        }
      }
      .object01,
      .object02{
        position: absolute;
        display: block;
        width:1px;
        height:78px;
        left: 0;
        right: 0;
        margin: auto;
        z-index:2;
      }
      .object01{
        background-color: #44484c;
        bottom: 0;
      }
      .object02{
        background-color: #fff;
        bottom: -78px;
      }
    }
    &__image{
      position: relative;
      max-width: 1920px;
      min-width: 1024px;
      .image01,
      .image02{
        position: absolute;
        width:100%;
        height:100%;
        .bg{
          width:100%;
          height:100%;
          display: block;
        }
      }
      .image01{
        z-index:1;
      }
    }
  }

  /* -------------------- .color -------------------- */

  .color-content{
    width:960px;
    margin:0 auto;
    &__inner {
      position: relative;
    }
    &__title{
      &-color{
        display: block;
        overflow: hidden;
        position: relative;
        *{
          @include font-times;
          font-size: 26px;
          display: inline-block;
          vertical-align: middle;
        }
        .line{
          content:"";
          width: 120px;
          height:1px;
          position: absolute;
          margin:auto;
          top:0; bottom: 0;
          left: 130px;
          vertical-align: middle;
        }
        .number{
          padding-left:148px;
        }
      }
      &-name{
        display: block;
        position: relative;
        overflow: hidden;
        img{
          position: relative;
          z-index:1;
        }
        .bg {
          position: absolute;
          display: block;
          top: 1px;
          left: 2px;
        }
      }
    }
    &__text{
      width:365px;
      position: relative;
      z-index:3;
      .title{
        .concept,
        .copy{
          display: block;
        }
        .concept{
          @include font-times;
          font-size: 14px;
        }
        .copy{
          font-size: 26px;
          margin-top:15px;
          margin-bottom:20px;
          @include fontfamily-serif;
        }
      }
      .text{
        line-height:2.2;
      }
    }
    &__image{
      position: absolute;
      left: 50%;
      z-index:2;
    }
  }

  /* -------------------- .detail -------------------- */

  .detail-content{
    width:960px;
    margin:0 auto;
    &__inner {
      position: relative;
    }
    &__caption{
      @include rotate(90);
      @include font-times;
      font-size: 16px;
      display: block;
      position: absolute;
      left: 50%;
      top: 40px;
      width: 90px;
      height: 22px;
    }
    &__text{
      padding-top:440px;
      margin-bottom:220px;
      margin-left:100px;
      width:440px;
      position: relative;
      z-index:1;
      &-inner{
        background-color: #fff;
        .title{
          font-size: 26px;
          padding:50px 0 0 60px;
          margin-bottom:20px;
          @include fontfamily-serif;
          letter-spacing:0.05em;
          line-height:1.37;
          .carning{
            letter-spacing:-0.05em;
          }
        }
        .text{
          padding:0 60px 50px 60px;
          line-height:2.2;
        }
      }
    }
    &__image{
      .image01,
      .image02{
        position: absolute;
        left: 50%;
        top: 0;

        >*{
          width:440px;
          height:440px;
        }
      }
      .image01{
        top: 60px;
      }
      .image02{
        top: 395px;
      }
      >.left{
        margin-left:-440px;
      }
      >.right{

      }
    }
  }

  /* -------------------- #gray -------------------- */

  #new_color_gray{
    overflow: hidden;
    .scene-content{
      &__inner{
        //padding-bottom:45%;
      }
      &__image{
        .image01{
          left: 0;
          top: 0;

          overflow: hidden;
          display: block;
          position: relative;
          width: 100%;
          height: 100%;

          >*{
            width:81.5%;
            padding-top:44%;
            overflow: hidden;
            position: relative;
            >*{
              width: 115%;
              display: block;
              position: absolute;
              left:1%; top:0;
            }
          }
          .bg{
            background: url("../img/new_color/img_gray_scene.jpg") no-repeat left top;
            background-size:cover;
            //@media screen and (min-width:1440px) {
            //  background-size:110%;
            //}
          }
        }
        .image02{
          top: 60%;
          >*{
            width:25%;
            //padding-top:42%;
            padding-top: 11%;
            float: right;
          }
          .bg{
            background: url("../img/new_color/img_gray_bg.png") no-repeat left top;
            background-size:cover;
          }
        }
      }
    }
    .color-content {
      margin-top:110px;
      padding-bottom: 310px;
      &__title {
        &-color {
          margin-left:390px;
          margin-bottom:40px;
          .line{
            background-color: #594e4c;
          }
          .en,
          .number{
            @supports (-webkit-background-clip: text) {
              color: transparent;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-image: url("../img/new_color/bg_gray.png");
              background-position: left bottom;
            }
            @supports not (-webkit-background-clip: text) {
              color: #594e4c;
            }
          }
        }
        &-name{
          margin-left:100px;
          width:521px;
          .bg{
            width:517px;
            height:333px;
            background: url("../img/new_color/bg_gray.png") no-repeat center center;
            background-size:962px 827px;
            background-position: 0 0;
          }
        }
      }
      &__text{
        margin-top:65px;
      }
      &__image{
        //margin-left:-402px;
        margin-left:-302px;
        top: 340px;
      }
    }
    .detail-content{
      &__caption{
        margin-left: -15px;
      }
      &__text {
        margin-bottom: 240px;
      }
    }
  }

  /* -------------------- #white -------------------- */

  #new_color_white{
    overflow: hidden;
    .scene-content{
      &__inner{
        //padding-bottom:48%;
      }
      &__image{
        .image01{
          left: 12%;
          top: 0;

          overflow: hidden;
          display: block;
          position: relative;
          width: 100%;
          height: 100%;

          >*{
            width:88%;
            padding-top:48%;

            overflow: hidden;
            position: relative;
            >*{
              width: 115%;
              display: block;
              position: absolute;
              left:-7%; top:0;
            }

          }
          .bg{
            background: url("../img/new_color/img_white_scene.jpg") no-repeat right top;
            background-size:cover;
            //@media screen and (min-width:1440px) {
            //  background-size:110%;
            //}
          }
        }
        .image02{
          top: 518px;
          >*{
            width:24%;
            //padding-top:42%;
            //padding-top: 360px;
          }
          .bg{
            background: url("../img/new_color/img_white_bg.png") no-repeat left top;
            background-size:cover;
          }
        }
      }
    }
    .color-content {
      margin-top:100px;
      padding-bottom: 310px;
      &__inner{
        &:after{
          content: "";
          display: block;
          clear: both;
        }
      }
      &__title {
        &-color {
          margin-left:350px;
          margin-bottom:20px;
          .line{
            background-color: #3e5861;
          }
          .en,
          .number{
            @supports (-webkit-background-clip: text) {
              color: transparent;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-image: url("../img/new_color/bg_white.png");
              background-position: left bottom;
            }
            @supports not (-webkit-background-clip: text) {
              color: #3e5861;
            }
          }
        }
        &-name{
          margin-left:420px;
          width:527px;
          .bg{
            width:522px;
            height:298px;
            background: url("../img/new_color/bg_white.png") no-repeat center center;
            background-size:1082px 748px;
            background-position: right -408px;
          }
        }
      }
      &__text{
        margin-top:105px;
        margin-right: -60px;
        float: right;
      }
      &__image{
        //margin-left:-857px;
        margin-left:-957px;
        top: 305px;
      }
    }
    .detail-content{
      &__caption{
        margin-left: -70px;
      }
      &__text{
        margin-left:420px;
        .title{
          >*{
            &:first-of-type{
              letter-spacing:-0.08em;
            }
            &:nth-of-type(2){
              letter-spacing:-0.02em;
            }
          }
        }
      }
    }
  }

  /* -------------------- .spec_order -------------------- */

  .spec_order-content{
    &__inner{
      position: relative;
    }
    &__title{
      text-align: center;
      position: relative;
      padding-bottom:73px;
      .text{
        @include font-times;
        font-size: 24px;
        >*{
          overflow: hidden;
        }
      }
      .object01,
      .object02{
        position: absolute;
        display: block;
        width:1px;
        height:78px;
        left: 0;
        right: 0;
        margin: auto;
        z-index:2;
      }
      .object01{
        background-color: #44484c;
        top: 47px;
      }
      .object02{
        background-color: #fff;
        top: 125px;
      }
    }
    &__btn{
      position: relative;
      width:100%;
      height:500px;
      &-bg{
        &:after{
          content: "";
          display: block;
          position: absolute;
          width:100%;
          height:100%;
          top:0;
          left:0;
          background: url("../img/new_color/bg_spec_order.jpg") no-repeat center center;
          background-size:cover;
        }
        .btn_wrap{
          position: relative;
          z-index:1;
          text-align: center;
          .btn{
            display: inline-block;
            margin: 226px 12px 0;
          }
        }
      }
    }
  }

  /* -------------------- js -------------------- */

  .js__photo-fade{
    >*{
      overflow: hidden;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      >*{
        display: block;
        position: absolute;
        left:0; top:0;
      }
    }
  }

  .js__text-fade{
    >*{
      overflow-y: hidden!important;
      overflow-x: visible!important;
    }
  }

  .js__plane-text{
    >span{
      display: block;
    }
  }

  .js__scr-par{
    @include easing(0.028);
  }

  .js__scr-para{
    display: block;
  }

}

html.mobile {
  #rp_new_color {

    #scroll-container {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: inherit;

      #scroll-body {
        width: 100%;
        position: relative;
        will-change: none
      }

      .js__para {
        will-change: none
      }
    }
  }

}

.gnav_bottom {
  margin-top: -1px;
}