﻿@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* element */
/* font */
/* [ font style ]
-------------------------------------------------*/
@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Demi"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Regular"), url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff");
}

/* [ opacity ]
-------------------------------------------------*/
/* [ display style ]
-------------------------------------------------*/
/* [ easing style ]
-------------------------------------------------*/
/* [ Hover Motion style ]
-------------------------------------------------*/
/* [ icon style ]
-------------------------------------------------*/
/* [ form parts ]
-------------------------------------------------*/
/* -----------------------------------------------
common css [Scalable and Modular Architecture for CSS]
0. Normalize(ノーマライズ)
1. Reset(リセット) + Base(ベース)
2. Module(モジュール)
3. Layout(レイアウト)
-------------------------------------------------- */
/* -----------------------------------------------
 [0. Normalize(ノーマライズ)]
-------------------------------------------------- */
/* /common/css/normalize.css */
/* -----------------------------------------------
 [1. Reset(リセット) + Base(ベース)]
-------------------------------------------------- */
html * {
  /*-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;*/
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  /* ゴシック */
  font-family: "Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
  /* 明朝 */
  /*font-family: "Times New Roman","Hiragino Mincho ProN","ヒラギノ明朝 Pro W3","HGS明朝B","ＭＳ Ｐ明朝",serif,"Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;*/
  font-size: 13px;
  color: #222426;
  -webkit-text-size-adjust: 100%;
  /*line-height: 1;*/
  /* I found a bug in iOS 7. */
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, del, em, img, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: normal;
  font-weight: normal;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  /*vertical-align: baseline;
	list-style: none;
	background-color: transparent;
	font-size: 100%;*/
  outline: none;
}

h1, h2, h3, h4, h5, h6, dt {
  line-height: 1.47;
}

p {
  line-height: 1.67;
}

dd, li, th, td, input, textarea {
  line-height: 1.67;
  text-align: justify;
  text-justify: inter-ideograph;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

a {
  color: #222426;
  text-decoration: underline;
}

::-moz-selection {
  /*background: transparent;*/
}

::selection {
  /*background: transparent;*/
}

/* [1. Reset(リセット) + Base(ベース)] --> End */
/* -----------------------------------------------
 [2. Module(モジュール)]
-------------------------------------------------- */
/* Loader
-------------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #c11920;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* Clearfix [ModernType]
-------------------------------------------------- */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/* Layout Module
-------------------------------------------------- */
.fll {
  float: left;
}

.flr {
  float: right;
}

.clear {
  clear: both;
}

.mt_none {
  margin-top: 0 !important;
}

.mr_none {
  margin-right: 0 !important;
}

.mb_none {
  margin-bottom: 0 !important;
}

.ml_none {
  margin-left: 0 !important;
}

/* Text Module
-------------------------------------------------- */
.notes {
  font-size: 83.33%;
  /* 10px */
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Link Module
-------------------------------------------------- */
.ex_link {
  display: inline-block;
  padding-right: 18px;
  background: url("../img/ex_icon_red.png") no-repeat right center;
  background-size: 10px 8px;
}

.ex_link.black {
  background: url("../img/ex_icon_black.png") no-repeat right center;
}

.ex_link.white {
  background: url("../img/ex_icon_white.png") no-repeat right center;
}

.r_over:hover {
  -ms-filter: "alpha(opacity=80)";
  /* IE8 */
  opacity: 0.8;
  display: inline-block\9;
}

/* Button Module
-------------------------------------------------- */
.btn {
  text-align: center;
  width: 198px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  color: #000;
 
}

.btn > * {
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  display: block;
  position: relative;
}

.btn > *:after, .btn > *:before, .btn > * .btn_inner:after, .btn > * .btn_inner:before {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn > *:after, .btn > *:before {
  width: 100%;
  height: 1px;
}

.btn > *:before {
  top: 0;
  left: 0;
}

.btn > *:after {
  bottom: 0;
  right: 0;
}

.btn > * .btn_inner:after, .btn > * .btn_inner:before {
  width: 1px;
  height: 100%;
}

.btn > * .btn_inner:before {
  top: 0;
  right: 0;
}

.btn > * .btn_inner:after {
  bottom: 0;
  left: 0;
}

.btn > *:hover:after, .btn > *:hover:before, .btn > *:hover .btn_inner:after, .btn > *:hover .btn_inner:before {
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 0;
}

.btn > *:hover:after, .btn > *:hover:before {
  width: 0;
}

.btn > *:hover .btn_inner:after, .btn > *:hover .btn_inner:before {
  height: 0;
}

.btn.white {
  border-color: #fff;
}

.btn.gray {
  background-color: #7a7c7d;
}

.btn.clear > *:after, .btn.clear > *:before, .btn.clear > * .btn_inner:after, .btn.clear > * .btn_inner:before {
  background-color: #fff;
}

.btn.clear_black > *:after, .btn.clear_black > *:before, .btn.clear_black > * .btn_inner:after, .btn.clear_black > * .btn_inner:before {
  background-color: #222426;
}

.btn.clear_gray > *:after, .btn.clear_gray > *:before, .btn.clear_gray > * .btn_inner:after, .btn.clear_gray > * .btn_inner:before {
  background-color: #dedede;
}

.btn.h_s > * {
  height: 23px;
  line-height: 23px;
}

.btn.w75 {
  width: 75px;
}

.btn.w133 {
  width: 133px;
}

.btn.w150 {
  width: 150px;
}

.btn.w218 {
  width: 218px;
}

.btn.w278 {
  width: 278px;
}

/* slider Module
-------------------------------------------------- */
.bx-wrapper {
  position: relative;
}

.bx-wrapper .bx-viewport {
  padding-top: 40px;
  top: -40px;
  left: -18px;
  margin-left: 18px;
}

.bx-wrapper .bx-controls {
  position: absolute;
  width: 100%;
  top: 0;
}

.bx-wrapper .bx-controls .bx-pager {
  position: relative;
  top: 200px;
  text-align: center;
}

.bx-wrapper .bx-controls .bx-pager .bx-pager-item {
  display: inline-block;
  margin: 0 6px;
}

.bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
  overflow: hidden;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #cccccc;
  border-radius: 50%;
}

.bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
  background-color: #c11920;
}

.bx-wrapper .bx-controls .bx-controls-direction {
  position: relative;
  width: 100%;
}

.bx-wrapper .bx-controls .bx-controls-direction a {
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  width: 31px;
  height: 61px;
  top: 40px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
  left: -71px;
  background: url("../img/btn_arrow_left.png") no-repeat left center;
}

.bx-wrapper .bx-controls .bx-controls-direction .bx-prev:hover {
  left: -75px;
}

.bx-wrapper .bx-controls .bx-controls-direction .bx-next {
  right: -71px;
  background: url("../img/btn_arrow_right.png") no-repeat left center;
}

.bx-wrapper .bx-controls .bx-controls-direction .bx-next:hover {
  right: -75px;
}

@media only screen and (max-width: 1400px) {
  .bx-wrapper .bx-controls .bx-controls-direction {
    display: none;
  }
}

.ie8 .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
  border: none;
  background: url("../img/btn_pager.png") no-repeat left center;
}

.ie8 .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
  background: url("../img/btn_pager_active.png") no-repeat left center;
}

/* table
-------------------------------------------------- */
/* #Colorbox
-------------------------------------------------- */
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background-color: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -101px 0;
}

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -130px 0;
}

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -101px -29px;
}

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -130px -29px;
}

#cboxMiddleLeft {
  width: 21px;
  background: url(images/controls.png) left top repeat-y;
}

#cboxMiddleRight {
  width: 21px;
  background: url(images/controls.png) right top repeat-y;
}

#cboxTopCenter {
  height: 21px;
  background: url(images/border.png) 0 0 repeat-x;
}

#cboxBottomCenter {
  height: 21px;
  background: url(images/border.png) 0 -29px repeat-x;
}

#cboxContent {
  background: #fff;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* #cboxLoadedContent{margin-bottom:28px;} */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
  display: none !important;
}

#cboxLoadingOverlay {
  background: url(images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
  background: url(images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(images/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

#cboxPrevious:hover {
  background-position: -75px -25px;
}

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(images/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

#cboxNext:hover {
  background-position: -50px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.modal_wrap {
  display: none;
}

#cboxClose {
  width: 61px;
  height: 61px;
  position: absolute;
  background: url("../img/modal_close_btn.png") no-repeat center center;
  background-size: contain;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  top: -81px;
  right: -81px;
}

.vjs-default-skin .vjs-big-play-button {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  left: 50% !important;
  top: 50% !important;
  border-radius: 0 !important;
}

.vjs-default-skin .vjs-big-play-button:before {
  position: relative !important;
  display: block;
  background: rgba(0, 0, 0, 0.7) !important;
  border: 1px solid rgba(255, 255, 255, 0.39) !important;
  text-shadow: none !important;
  color: #fff;
}

.youtube_wrap {
  position: relative;
}

.youtube_wrap .youtube_trigger {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* -----------------------------------------------
 [3. Layout(レイアウト)]
-------------------------------------------------- */
#document {
  min-width: 1200px;
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 0;
}

/* main
-------------------------------------------------- */
.inner {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.inner_min {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.section_wrap h1 {
  text-align: center;
  margin-bottom: 40px;
}

.section_wrap > .text {
  text-align: center;
  margin-bottom: 50px;
}

.bg_gray {
  background: #ededed;
}

/* #header
-------------------------------------------------- */
/* #gnavi
-------------------------------------------------- */
#gnavi_wrap {
  height: 73px;
  margin-bottom: 60px;
  position: relative;
  z-index: 50;
}

#gnavi_wrap #gnavi {
  min-width: 1080px;
  border-bottom: 1px solid #dedede;
}

#gnavi_wrap #gnavi .image {
  display: none;
}

#gnavi_wrap #gnavi > .link_navi {
  text-align: center;
}

#gnavi_wrap #gnavi > .link_navi > li {
  display: inline-block;
}

#gnavi_wrap #gnavi > .link_navi > li > a, #gnavi_wrap #gnavi > .link_navi > li > span {
  display: block;
  position: relative;
  padding-bottom: 5px;
  padding: 27px 24px 25px;
}

#gnavi_wrap #gnavi > .link_navi > li > a:after, #gnavi_wrap #gnavi > .link_navi > li > span:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 0;
}

#gnavi_wrap #gnavi > .link_navi > li > a:hover:after, #gnavi_wrap #gnavi > .link_navi > li > a.active:after, #gnavi_wrap #gnavi > .link_navi > li > span:hover:after, #gnavi_wrap #gnavi > .link_navi > li > span.active:after {
  width: 100%;
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 1;
}

#gnavi_wrap #gnavi > .link_navi > li > a:after, #gnavi_wrap #gnavi > .link_navi > li > span:after {
  background-color: #000;
  bottom: -1px;
}

#gnavi_wrap #gnavi > .link_navi > li .ex_link {
  background-position: 142px 33px;
}

#gnavi_wrap #gnavi > .sns_list {
  float: right;
  position: absolute;
  right: 40px;
  top: 26px;
}

#gnavi_wrap #gnavi > .sns_list li {
  float: left;
  margin-left: 35px;
}

@media only screen and (max-width: 1150px) {
  #gnavi_wrap #gnavi > .sns_list li {
    margin-left: 20px;
  }
}

#gnavi_wrap #gnavi > .sns_list li:first-child {
  margin-left: 0;
}

#gnavi_wrap #gnavi .dd_list {
  top: 75px;
  left: -25px;
}

/* [ 総合、ライスポッド共通スタイル ]
-------------------------------------------------- */
#gnavi > ul > li, #rpr_gnavi > ul > li {
  position: relative;
}

#gnavi .dd_list, #rpr_gnavi .dd_list {
  height: 0;
  overflow: hidden;
  position: absolute;
}

#gnavi .dd_list li, #rpr_gnavi .dd_list li {
  width: 200px;
  border-bottom: 1px solid #454748;
  position: relative;
  background-color: rgba(34, 36, 38, 0.8);
  left: -100%;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
}

#gnavi .dd_list li a, #gnavi .dd_list li span, #rpr_gnavi .dd_list li a, #rpr_gnavi .dd_list li span {
  height: 14px;
  padding: 23px 20px;
  line-height: 1;
  color: #fff;
  text-align: left;
  display: block;
  position: relative;
  text-decoration: none;
}

#gnavi .dd_list li a:after, #gnavi .dd_list li span:after, #rpr_gnavi .dd_list li a:after, #rpr_gnavi .dd_list li span:after {
  width: 5px;
  height: 9px;
  display: block;
  background: url("../img/gnavi_arrow.png") no-repeat center center;
  content: "";
  position: absolute;
  top: 25px;
  right: 10px;
}

#gnavi .dd_list li a.ex_link, #gnavi .dd_list li span.ex_link, #rpr_gnavi .dd_list li a.ex_link, #rpr_gnavi .dd_list li span.ex_link {
  background: none;
}

#gnavi .dd_list li a.ex_link:after, #gnavi .dd_list li span.ex_link:after, #rpr_gnavi .dd_list li a.ex_link:after, #rpr_gnavi .dd_list li span.ex_link:after {
  width: 10px;
  height: 8px;
  background: url("../img/ex_icon_white.png") no-repeat center center;
  top: 26px;
  right: 10px;
}

#gnavi .dd_list li.list02, #rpr_gnavi .dd_list li.list02 {
  transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
}

#gnavi .dd_list li.list03, #rpr_gnavi .dd_list li.list03 {
  transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
}

#gnavi .dd_list li.list04, #rpr_gnavi .dd_list li.list04 {
  transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
}

#gnavi .dd_list li.list05, #rpr_gnavi .dd_list li.list05 {
  transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
}

#gnavi .dd_list li.list06, #rpr_gnavi .dd_list li.list06 {
  transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
}

#gnavi .dd_list.active li, #rpr_gnavi .dd_list.active li {
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 1;
  left: 0;
}

#gnavi .dd_list.active li a, #rpr_gnavi .dd_list.active li a {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

#gnavi .dd_list.active li a:hover, #rpr_gnavi .dd_list.active li a:hover {
  color: #c11920;
}

#rpr_gnavi .dd_list {
  top: 45px;
  left: -40px;
}

#gnavi.fixed, #rpr_header_inner.fixed {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6ffffff,endColorstr=#E6ffffff);
  background: rgba(255, 255, 255, 0.9);
}

#gnavi.fixed .image, #rpr_header_inner.fixed .image {
  display: block !important;
  position: absolute;
  left: 40px;
  top: 24px;
}

/* #footer
-------------------------------------------------- */
#footer {
  border-top: 1px solid #dedede;
}

#footer .inner_min {
  padding-top: 58px;
  padding-bottom: 60px;
  font-size: 12px;
}

#footer .inner_min .title {
  margin-bottom: 35px;
}

#footer .inner_min a {
  text-decoration: none;
  font-size: 12px;
}

#footer .inner_min a:hover {
  text-decoration: underline;
}

#footer .footer_sitemap {
  width: 760px;
}

#footer .footer_sitemap .list {
  float: left;
  width: 231px;
  margin-right: 33px;
}

#footer .footer_sitemap .list > dl {
  margin-bottom: 35px;
}

#footer .footer_sitemap .list > dl > dt {
  padding-bottom: 6px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
  font-weight: bold;
}

#footer .footer_sitemap .list > dl > dt a {
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

#footer .footer_sitemap .list > dl > dd > ul > li {
  margin-bottom: 3px;
}

#footer .footer_sitemap .list > dl > dd > ul > li.mb {
  margin-bottom: 15px;
}

#footer .footer_sitemap .list > dl > dd > ul > li dl {
  margin-bottom: 15px;
}

#footer .footer_sitemap .list > dl > dd > ul > li dl dt {
  margin-bottom: 5px;
  font-weight: bold;
}

#footer .footer_sitemap .list > dl > dd > ul > li dl dt a {
  font-weight: bold;
}

#footer .footer_sitemap .list > dl > dd > ul > li dl dd ul li {
  margin-bottom: 3px;
}

#footer .footer_sitemap .list > dl > dd > ul > li dl dd ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 4px;
  margin-left: 8px;
}

#footer .footer_sitemap .list > dl > dd > ul > li dl dd ul li a {
  letter-spacing: -0.5px;
  color: #3c4549;
}

#footer .footer_sitemap .list > p a {
  font-size: 13px;
}

#footer .footer_sitemap .list.last {
  margin-right: 0;
}

#footer .footer_other_cnt {
  width: 280px;
  position: relative;
  top: -2px;
}

#footer .footer_other_cnt .list > dl {
  margin-bottom: 25px;
}

#footer .footer_other_cnt .list > dl > dt {
  padding-bottom: 6px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 13px;
}

#footer .footer_other_cnt .list .banner a {
  display: block;
  overflow: hidden;
  position: relative;
}

#footer .footer_other_cnt .list .banner a:after {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 0;
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
}

#footer .footer_other_cnt .list .banner a:hover:after {
  top: 0;
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 1;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

#footer .footer_other_cnt .footer_facebook_wrap {
  margin-bottom: 19px;
}

#footer .footer_other_cnt .sns_list .mail {
  padding-top: 19px;
}

#footer #copy {
  text-align: center;
  background: #222426;
  padding: 20px 0 18px;
}

/* #page_top
-------------------------------------------------- */
#page_top {
  position: fixed;
  right: 62px;
  bottom: 30px;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 1;
  z-index: 10;
}

#page_top.show {
  right: 62px;
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 1;
}

#page_top:hover {
  -ms-filter: "alpha(opacity=$num)";
  /* IE8 */
  opacity: 0.6;
}

/* #container
-------------------------------------------------- */
#container {
  position: relative;
}
