@font-face{font-family:'Avenir Next LT Pro Demi';font-style:normal;font-weight:normal;src:local("Avenir Next LT Pro Demi"),url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff") format("woff")}@font-face{font-family:'Avenir Next LT Pro Regular';font-style:normal;font-weight:normal;src:local("Avenir Next LT Pro Regular"),url("/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff") format("woff")}.gnav_bottom{width:100%;padding:65px 0 64px;background:#1a1c1d;margin-top:100px}.gnav_bottom .ttl{text-align:center}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li>a:after,#rpr_header #rpr_header_inner #rpr_gnavi>ul>li span:after,#rpr_header #rpr_header_inner .sns_list li a:after{background-color:transparent !important}

#rpr_header .desabled{opacity:0.3}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li.on a:after{content:"";display:block;height:1px;background-color:#fff !important;transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);width:100% !important;-ms-filter:"alpha(opacity=$num)";opacity:1}

#rpr_header{width:100%;position:absolute;height:50px;z-index:100;top:0;left:0}

#rpr_header #rpr_header_inner{min-width:1080px;padding:0;position:relative;height:90px}

#rpr_header #rpr_header_inner #rpr_site_logo{float:left;padding-top:27px;margin-right:0px;padding-left:0px;width:19.2%;min-width:208px;max-width:243px}

#rpr_header #rpr_header_inner #rpr_site_logo a{margin-left:38px}

#rpr_header #rpr_header_inner #rpr_gnavi{min-width:803px;width:74.1%;max-width:1025px;float:left;padding-top:36px}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li{float:left;margin:0 1%}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li:last-child{margin-right:0}

#rpr_header #rpr_header_inner #rpr_gnavi>ul>li>a,#rpr_header #rpr_header_inner #rpr_gnavi>ul>li span{display:block;background-position:right 5px;text-align:center}

#rpr_header #rpr_header_inner #rp_sns{width:6.5%;max-width:90px;min-width:71px;height:90px;position:absolute;right:0;top:0}

#rpr_header #rpr_header_inner #rp_sns .btn{height:90px;width:100%;position:relative;margin-top:0;cursor:pointer;text-align:center;overflow:hidden}

#rpr_header #rpr_header_inner #rp_sns .btn:after{content:"";display:block;width:100%;height:100%;background-color:#131415;position:absolute;left:0;top:0;transform:translateY(90px);-moz-transform:translateY(90px);-webkit-transform:translateY(90px);-ms-transform:translateY(90px);transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.6s cubic-bezier(0.23, 1, 0.32, 1)}

#rpr_header #rpr_header_inner #rp_sns .btn.open:after{transform:translateY(0px);-moz-transform:translateY(0px);-webkit-transform:translateY(0px);-ms-transform:translateY(0px)}

#rpr_header #rpr_header_inner #rp_sns .btn img{height:14px;top:35px;display:inline-block;position:relative;z-index:2}

#rpr_header #rpr_header_inner .sns_list{display:none;width:100%;float:right;padding-top:0px;padding-right:0px;background-color:#131415;padding:11px 0}

#rpr_header #rpr_header_inner .sns_list li{width:100%;height:44px;float:left;margin-right:0px}

#rpr_header #rpr_header_inner .sns_list li:last-child{margin-right:0}

#rpr_header #rpr_header_inner .sns_list li a{display:block;text-align:center;padding-bottom:0;height:100%}

#rpr_header #rpr_header_inner .sns_list li a img{position:relative;top:13px}

#rpr_header #rpr_header_inner .sns_list li a:after{background-color:0 !important}

#rpr_header #rpr_header_inner .btn{float:right;margin-top:21px}

#rpr_header #rpr_header_inner.fixed{padding-bottom:0px;position:fixed !important;left:0;top:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#222426ff,endColorstr=#222426ff);background:rgba(34,36,38,0.95)}

#rpr_header #rpr_header_inner.fixed .image{display:block !important;position:absolute;left:40px;top:24px}

#rpr_header #rpr_header_inner.fixed #rpr_site_logo a{width:143px;height:auto;background:none;display:block;overflow:hidden}

#rpr_header #rpr_header_inner.fixed #rpr_site_logo a img{position:relative;top:0}


#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span{height:22px;padding-bottom:0;vertical-align:top;overflow:hidden;background-size:100% 17px !important}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a:after,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span:after{background-color:#222426}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a.ex_link:before,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span.ex_link:before{width:10px;height:8px;display:block;position:absolute;top:4px;right:0;background:none;content:""}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>a img,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list>span img{position:relative;top:0}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi01>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi01>span{width:auto;background:none}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi02>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi02>span{width:auto;background:none}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi03>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi03>span{width:auto;background:none}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi04>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi04>span{width:auto;background:none}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi05>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi05>span{width:auto;background:none;background-size:111px 17px !important}

#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi06>a,#rpr_header #rpr_header_inner.fixed #rpr_gnavi .list.navi06>span{width:auto;background:none}

#rpr_header #rpr_header_inner.fixed .sns_list li a{width:100%;height:100%;display:inline-block;overflow:hidden}

#rpr_header #rpr_header_inner.fixed .sns_list li a img{position:relative;top:0}

#rpr_header #rpr_header_inner.fixed .sns_list li a a:after{background-color:0 !important}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns01 a{background:none}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns02 a{background:none}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns03 a{background:none}

#rpr_header #rpr_header_inner.fixed .sns_list li.sns04 a{background:none}

#online_btn{position:fixed;right:20px;bottom:94px;transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);-ms-filter:"alpha(opacity=$num)";opacity:1;z-index:50}

#online_btn.show{right:20px;transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);-ms-filter:"alpha(opacity=$num)";opacity:1;transition:all 0.2s cubic-bezier(0.23, 1, 0.32, 1);-moz-transition:all 0.2s cubic-bezier(0.23, 1, 0.32, 1);-webkit-transition:all 0.2s cubic-bezier(0.23, 1, 0.32, 1);-ms-transition:all 0.2s cubic-bezier(0.23, 1, 0.32, 1)}

#online_btn:hover{-ms-filter:"alpha(opacity=$num)";opacity:1}

#online_btn.always{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);-ms-filter:"alpha(opacity=$num)";opacity:1}
